<ZoomableImage
  enableZoomControls={true}
  enableReset={true}
  viewportWidth={600}
  viewportHeight={600}
  maxWidth={2000}
  maxHeight={2000}
  initialWidth={600}
  initialHeight={600}
  zoomRatio={1000}
  src="http://i5.walmartimages.com/dfw/dce07b8c-3b27/k2-_afa12da1-f17a-4ace-a8ae-8820733e5e0d.v1.jpg"
 />
