/* ==========================================================================
   Color palette
   ========================================================================== */

$module-tile-heading-link = $blue;
$menu-item-text = $blue;
$sidebarmenu-background-focus = $yellow;
