@require "~@walmart/lithe-extras/lib/tenants/walmart/base";

@require "~@walmart/wmreact-member-register/src/styles/member-register";

.SignIn, .SignUp, .ForgotPassword, .ResetPassword {
  padding: 20px;
}

.alert {
  margin: 20px;

  word-break: break-word;
}
