<div>
  <div style={{margin:50}}>
    <Infograph
      labels={["One", "Two", "Three", "Four", "Five"]}
      completed={2} />
  </div>
  <div style={{margin:50}}>
    <Infograph
      labels={["One", "Two", "Three", "Four"]}
      completed={1} />
  </div>
  <div style={{margin:50}}>
    <Infograph
      labels={["One", "Two", "Three", "Four", "Five", "Six"]}
      completed={6} />
  </div>
</div>
