<div>
  <h4>Simple chooser</h4>
  <Chooser chooserName="chooser1"
    placeholderText="Select an option">
    <Chooser.Option value="Demo1">Demo 1</Chooser.Option>
    <Chooser.Option value="Demo2">Demo 2</Chooser.Option>
  </Chooser>
  <h4>Chooser with React element as children</h4>
  <Chooser chooserName="chooser2"
    placeholderText="Select an option">
    <Chooser.Option value="Demo1"><h1 style={{margin:"0px"}}>Demo1</h1></Chooser.Option>
    <Chooser.Option value="Demo2"><h1 style={{margin:"0px"}}>Demo 2</h1></Chooser.Option>
  </Chooser>
</div>
