class Animated extends React.Component {
  constructor(props) {
    super(props);
    this._refine = this._refine.bind(this);
    this.state = {
      products: productsData,
      refined: false
    };
  }
  _refine() {
    let array = this.state.products.filter(function(product) {
      return product['original-price'] < 400
    });
    this.setState({
      products: this.state.refined ? productsData : array,
      refined: this.state.refined ? false : true
    })
  }
  render() {
    return (
      <div>
        <button type="button" onClick={this._refine}>Toggle Refinement</button>
        <ProductsGrid products={this.state.products} animated={true}/>
      </div>
    )
  }
}

React.render(<Animated/>, mountNode);

