<div>
  <ProductSecondaryBOT
    usItemId="1521"
    offerCount="24"
    isWMseller={true}
    offers={[
    {
      "sellerName": "Some Seller",
      "price": 22.12,
      "isWM": false
    },
    {
      "sellerName": "walmart",
      "price": 32.79,
      "isWM": true
    }]
    }
  />
</div>
