<div>
  <Field label="Name on Card" instructions="(First then Last)" />
  <Field label="Email" touched
    error="Please enter an email address in the format yourname@domain.com"
  />
  <Field label="Phone number" value="888-888-8888" disabled />
  <Field label="Review" element="textarea" rows={1} />
  <Field placeholder="Credit Card" />
  <Field shouldDisplayValid={() => true} placeholder="Credit Card" />
  <Field
    label="Credit Card"
    icon={<span style={{background: `url(${visaImage}) 0 0 / 27px`, height:'18px', width: '28px', overflow:'hidden', color:'transparent', border:'1px solid #d9d9d9', borderRadius:'2px'}}>test</span>}
  />
  <Field
    label="Credit Card"
    error="Please enter a valid card number"
    touched
    icon={<span style={{background: `url(${visaImage}) 0 0 / 27px`, height:'18px', width: '28px', overflow:'hidden', color:'transparent', border:'1px solid #d9d9d9', borderRadius:'2px'}}>test</span>}
  />
</div>
