<div>
  <MaskedField label="Phone number" mask="111-111-1111" onChange={() => {}} />
  <MaskedField
    label="CC Expiration"
    mask="11/1111"
    name="expiry"
    placeholder="mm/yyyy"
    onChange={() => {}}
  />
  <MaskedField
    label="CC Expiration"
    mask="11/1111"
    name="expiry"
    placeholder="mm/yyyy"
    onChange={() => {}}
    shouldDisplayValid={() => true}
  />
  <MaskedField
    label="Card Number"
    mask="1111 1111 1111 1111"
    name="pan"
    onChange={() => {}}
    icon={<span style={{background: `url(${visaImage}) 0 0 / 27px`, height:'18px', width: '28px', overflow:'hidden', color:'transparent', border:'1px solid #d9d9d9', borderRadius:'2px'}}>test</span>}
  />
  <MaskedField
    label="Card Number"
    mask="1111 1111 1111 1111"
    name="pan"
    onChange={() => {}}
    disabled
    icon={<span style={{background: `url(${visaImage}) 0 0 / 27px`, height:'18px', width: '28px', overflow:'hidden', color:'transparent', border:'1px solid #d9d9d9', borderRadius:'2px'}}>test</span>}
  />
  <MaskedField
    label="Card Number"
    mask="1111 1111 1111 1111"
    name="pan"
    onChange={() => {}}
    error="Please enter a valid credit card number"
    touched
    icon={<span style={{background: `url(${visaImage}) 0 0 / 27px`, height:'18px', width: '28px', overflow:'hidden', color:'transparent', border:'1px solid #d9d9d9', borderRadius:'2px'}}>test</span>}
  />
</div>
