const MoreInfoModalExample = React.createClass({
  getInitialState: function() {
    return {active: false}
  },

  _toggleSlidePanel: function() {
  	this.setState({active: true});
  },

  _onClose: function() {
    this.setState({active: false});
  },

  render: function() {
    return (
      <div>
         <button type="button" onClick={this._toggleSlidePanel} >Open More Info</button>
         <MoreInfoModal active={this.state.active} onClose={this._onClose} ref="moreInfo"/>
      </div>
    );
  }
});

React.render(<MoreInfoModalExample/>, mountNode);
