$variant-size = 36px;
$variant-size-small = 24px

$variant-color = {
  text: $grey-dark,
  text-hover: $green,
  text-active: $white,
  text-expand: $grey-cool,
  bg: $white,
  bg-active: $green,
  border: $grey-cool,
  border-active: $green,
  border-swatch: $grey-cool,
  border-swatch-active: $green,
  border-swatch-disabled: $grey-cool
}

$variant-options = {
  swatch-outline: true,
  unavailable-border: true
}

$variant-box-shadow = 0 0 0 2px $variant-color.border-active;

$variant-swatch-radius = {
  default: 6px,
  small: 4px
}
