.decorated-item {
  border: 1px solid $blue;

  .details {
    to-rem(font-size, 12px);

    background: $blue;
    color: $white;
    text-align: center;
  }
}

.bundle-image {
  vertical-align: middle;

  h3 {
    @extends .font-semibold;

    margin: 10px auto 0;
    color: $black;
    text-align: left;
    overflow: hidden;
    line-height: 1.2;
  }

  img {
    display: block;
    width: 100%;
    height: auto;
  }
}
