@require "~@walmart/wmreact-base/src/styles/base";
@require "~@walmart/wmreact-carousel/src/styles/carousel";

@require "./bundle-image";
@require "./image-list";
@require "./static-list";
@require "./carousel-list";

.multi-image-hero {
  .heading-hero {
    margin: 0 auto 20px;
    padding-top: 20px;
  }

  .hero-text-wrapper {
    margin-top: -14px;
  }

  .hero-text {
    to-rem(font-size, 16px);

    padding: 0 5px;

    background-color: $white;
    color: $black;
  }

  .hero-bracket {
    border: solid 1px $grey-cool;
    border-bottom: 0;
    margin: 0 auto;
    overflow: visible;
    width: 80%;
  }
}
