<RelatedSearch relatedQueries={[
  {
    "searchText": "canon camera",
    "searchQuery": {
      "query": "canon camera",
      "method": "related"
    }
  },
  {
    "searchText": "polaroid camera",
    "searchQuery": {
      "query": "polaroid camera",
      "method": "related"
    }
  },
  {
    "searchText": "nikon camera",
    "searchQuery": {
      "query": "nikon camera",
      "method": "related"
    }
  },
  {
    "searchText": "video camera",
    "searchQuery": {
      "query": "video camera",
      "method": "related"
    }
  },
  {
    "searchText": "security cameras",
    "searchQuery": {
      "query": "security cameras",
      "method": "related"
    }
  },
  {
    "searchText": "samsung camera",
    "searchQuery": {
      "query": "samsung camera",
      "method": "related"
    }
  },
  {
    "searchText": "waterproof camera",
    "searchQuery": {
      "query": "waterproof camera",
      "method": "related"
    }
  },
  {
    "searchText": "kids camera",
    "searchQuery": {
      "query": "kids camera",
      "method": "related"
    }
  }
]} />
