@require "~@walmart/wmreact-layout/src/styles/layout";
@require "~@walmart/wmreact-base/src/styles/base";
@require "~@walmart/wmreact-chooser/src/styles/chooser";
@require "~@walmart/wmreact-interactive/src/styles/button";

@require "./variants";
@require "./product-variant-swatch";
@require "./product-variant-dropdown";

.prod-ProductVariant-variantUnselectedError {
  @extend .u-textRed;

  &:after {
    walmarticons();
    wmicon("exclamation-circle");

    padding-left: 5px;
  }

  &:before {
    display: none;
  }
}

.prod-ProductVariantType-label {
  .prod-ProductVariant-variantUnselectedError {
    &:after {
      line-height: 14px;
    }
  }
}
