.prod-LegalContent-Container {
  .prod-LegalContent-cta {
    padding-top: 15px;

    button {
      width: 100%;
      text-align: center;

      +breakpoint($breakpoint-m) {
        to-rem(font-size, 13px);

        padding: $xs-spacing $m-spacing;
        width: auto;
        text-align: initial;
      }
    }

    .prod-LegalContent-moreInfo-text {
      margin-top: 15px;

      +breakpoint($breakpoint-m) {
        margin-top: 0;
      }
    }
  }

  .prod-LegalContent-content {
    padding: 15px 0;
  }
}

.prod-LegalContent-contentHeader {
  padding-right: $l-spacing;
}

.prod-LegalContent-declineContent {
  margin-top: 10px;
}
