.prod-MoreInfo-modal {
  width: 520px;
  top: 50%;
  left: 50%;
  position: fixed;
  margin-left: -260px;
  margin-top: -100px;
}

.prod-MoreInfo-content {
  margin: 0;
  padding-left: 20px;
  overflow: hidden;
}

.prod-MoreInfo-heading {
  margin-top: -5px;
}
