@require "~@walmart/wmreact-base/src/styles/base";
@require "~@walmart/wmreact-containers/src/styles/containers";
@require "~@walmart/wmreact-interactive/src/styles/interactive";
@require "~@walmart/wmreact-stateless-fields/src/styles/stateless-fields";

@require "./instock-alert-form";
@require "./legal-content";
@require "./more-info-modal";
@require "./legal-atc";
@require "./registry-list";
@require "./product-submap-modal";

$prod-ProductPrimaryCTA-boxShadow ?= rgba(0, 0, 0, .118) 0 0 2px 2px;

.prod-ProductCTAOutOfStock,
.prod-ProductCTAPreorder,
.prod-InvalidPrompt,
.prod-ProductInstockAlertForm,
.prod-PreorderFlyoutContent {
  .copy-small {
    margin-top: 0;
  }
}

.prod-ProductCTA--primary {
  padding: 0 10px;
}

.prod-InvalidPrompt {
  border-radius: 5px;
  margin-bottom: 10px;
  margin-top: 5px;
  padding: 10px 20px;
  background-color: $white;
  border: 1px solid $grey-cool;
  box-shadow: $prod-ProductPrimaryCTA-boxShadow;
}
