.form-label {
  font-size: 14px;
}

.validation-group {
  margin-top: 0;
}

.prod-submap-modal-title {
  margin-top: 0;
  color: $orange;
}

.prod-submap-modal-footer {
  margin-top: $l-spacing;
}

.prod-submap-modal-btn {
  margin-right: $m-spacing;
}

.prod-submap-slide-panel-button {
  margin: auto $xxs-spacing;
}

.slidepanel-body {
  padding: 0 $s-spacing;
}

.prod-submap-modal {
  &.modal {
      padding-top: 32px;
      max-width: 600px;
      margin-left: -300px;
  }
}
