@require "~@walmart/lithe-extras/lib/tenants/walmart/base";

.portal-header {
  background: white;
}

.portal-title {
  margin-top: 0;
}

.portal-header>h1 {
  text-align: center;

  img {
    width: 100px;
    height: 89px;
  }
}

.portal-body {
  background: #efefef;
  padding: 0 8.5% 100px 20.5%;
  min-height: 700px;
  border-top: 2px solid #808080;
}

.portal-body span.component-info {
  color: #808080;
  font-weight: normal;
  font-size: 0.6em;
  display: block;
}

.nav-link {
  display: block;
  position: relative;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  cursor: pointer;
  text-transform: capitalize;
}

.nav-link:hover {
  color: #fff;
  background-color: #0070b2;
}

.portal-menu {
  background-color: transparent;
  position: absolute;
  width: 15%;
  margin-top: 2px;
  border-right: 1px solid #e5e5e5;
}

.portal-menu ul {
  list-style-type: none;
  margin: 10px 0;
  padding-left: 20px;
}

.portal-menu li {
  padding: 0 0 5px 10px;
  text-transform: capitalize;
  font-size: 0.9em;
}

.portal-menu li a {
  color: #606060;
}

.portal-menu li a:hover {
  text-decoration: underline;
}

.menu-link {
  color: white;
  margin: 0 10%;
}

.portal-menu h4 {
  margin-left: 20px;
  text-transform: capitalize;
}

.portal-footer {
  background-color: #f2f8fd;
}

.footer-container {
  padding-left: 32px;
  padding-right: 32px;
}

.footer-text {
  color: #888;
  font-size: 13px;
  line-height: 40px;
  padding-left: 20px;
}

