@require "~@walmart/lithe-extras/lib/tenants/walmart/base";

.portal-header {
  background: white;
}

.portal-title {
  margin-top: 0;
}

.portal-header.portal-slider {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  top: 0;
  right: 0;
  left: 0;
  z-index: 302;
}

.portal-name {
  margin: auto;
  width: auto;
  font-size: 24px;
  padding: 20px 0 20px 20px;
  z-index: 1;
  color: #fff;
}

.portal-header>h1 {
  text-align: center;

  img {
    width: 100px;
    height: 89px;
  }
}

.portal-body {
  background: #efefef;
  padding: 0 8.5% 100px 20.5%;
  min-height: 700px;
}

.portal-body span.version {
  color: #808080;
  font-weight:normal;
  font-size:0.8em;
  display:block;
}

.portal-nav {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  position: fixed;
  bottom: 0;
  left: 0;
  top: 0;
  padding-top: 20px;
  overflow: auto;
  width: 225px;
  background: #444;
  -webkit-overflow-scrolling: touch;
}

.portal-slider {
  position: relative;
  left: 0;
  z-index: 301;
  transition: .2s ease -webkit-transform;
  transition: .2s ease transform;
}

.is-navigable .portal-slider {
  -webkit-transform: translate3d(225px, 0, 0);
  transform: translate3d(225px, 0, 0);
}

.nav-toggle {
  position: relative;
  display: block;
  left: 0;
  padding: 25px;
  width: 60px;
  float: left;
  top: 0;
  cursor: pointer;
  z-index: 200;
  color: black;
}

.nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: left;
}

.nav-link {
  display: block;
  position: relative;
  padding: 5px 15px;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  cursor: pointer;
}

.nav-link:hover {
  color: #fff;
  background-color: #0070b2;
}
