.usage-detail {
  margin:10px 0;
}

.detail-uri {
  font-size:0.9em;
}

.detail-version {
  font-family:monospace;
  padding:0 20px;
}

.detail-description {
  color:#666;
  font-size:0.9em;
}

.component-consumption {
  position: absolute;
  top: 175px;
  right: 0;
  width: 24%;
}

.component-consumption .table {
  border-bottom:0;
}

.component-consumption .table td:first-child {
  padding-left: 0;
}

.version-status-ok {
  color:green;
}

.version-status-bad {
  color:red;
}
