class StateFullCarePlan extends React.Component {
  constructor(props) {
    super(props);
    this.state = {
      carePlans: {
        123: {price: {price: 10, currencyUnitSymbol: "$"}, duration:2, offerId:"123", groupId:"ABC"},
        124: {price: {price: 15, currencyUnitSymbol: "$"}, duration:4, offerId:"124", groupId:"ABC"}
      },
      selectedPlan: ""
    };
  }

  _updateState(selectedPlan) {
    const currentState = this.state;
    currentState.selectedPlan = selectedPlan;
    this.setState(currentState);
  }

  render () {
    return (
      <CarePlan flyoutPosition="right"
        {...this.state}
        onCarePlanSelected={(selectedPlan) => this._updateState(selectedPlan)}
        onCarePlanUnselected={(selectedPlan) => this._updateState()}
      />
    );
  }
}

React.render(<StateFullCarePlan/>, mountNode);
