.product-fulfillment-table {
  border: 0;
  border-collapse: inherit;
  min-width: 60%;

  th {
    padding: 0px 0px 10px 0px !important;
    font-size: 12px;
  }

  td {
    padding: 0px 0px 10px 0px !important;
  }
}

.prod-shippingPassInfo {
  to-rem(font-size, 14px);
}
