.prod-fulfillment-messaging {

  to-rem(font-size, 14px);

  &-text {
    margin-left: 5px;
    margin-right: 5px;
  }

  &-view-details {
    height: 15px;
    width: 15px;
    margin-top: 13px;
    margin-bottom: 13px;
  }
}
