// From ~@walmart/hydra/common/base/product-tiles.styl

/*!
Responsive Tile

A responsive product tile for use with the Grid component and in carousels.
Tiles fill the width of their container.

Styleguide 14.3
*/

.Tile {
  position: relative;

  display: inline-block;
  width: 100%;
  padding-top: $s-spacing;
  border-radius: 4px;

  background: $white;
  font-size: 12px;
  vertical-align: top;
  white-space: normal;

  +breakpoint($breakpoint-m) {
    border-radius: 6px;

    font-size: 14px;
  }

  a, button {
    wmzindex("basic-increment");

    position: relative;
  }
}

.Tile-linkOverlay {
  wmzindex("basic", true);

  position: absolute !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.Tile-clickable {
  wmzindex("basic-increment");

  position: relative;
}

.Tile-flags {
  position: absolute;
  top: $m-spacing;
  left: 0;

  .flag {
    &:before {
      left: 0;

      border-left-color: transparent;
    }
  }

  .flag + .flag {
    margin-top: $xxs-spacing;
  }
}

.Tile-img {
  height: auto;

  display: block;
  margin: 0 auto;
}

.Tile-priceContent {
  height: 35px;

  +breakpoint($breakpoint-m) {
    height: 40px;
  }
}

.Tile-content {
  height: 116px;
  padding: $xs-spacing;

  +breakpoint($breakpoint-m) {
    height: 132px;
    padding-right: $s-spacing;
    padding-bottom: $s-spacing;
    padding-left: $s-spacing;
  }

  +breakpoint($breakpoint-xl) {
    padding-right: $m-spacing;
    padding-left: $m-spacing;
  }

  .price-display {
    height: 1em;

    font-size: 23px;
    font-weight: 600;

    .sub {
      font-size: 12px;
      text-transform: none;
    }

    .submap-price {
      font-size: 12px;
      color: $blue;
      font-weight: 600;
      line-height: 27px;
      text-transform: none;

      +breakpoint($breakpoint-m){
        font-size: 14px;
      }

    }

    .currency-delimiter {
      visuallyhidden();
    }

    .sub + .sup {
      margin-left: -2px;
    }

    +breakpoint($breakpoint-m) {
      // Nudge old price closer to display price.
      margin-bottom: -1px;

      font-size: 27px;

      .sub {
        font-size: 14px;
      }
    }
  }

  .old-price {
    // Set height slightly larger than line height to prevent descenders from
    // being cut off by `overflow`.
    height: 1.2em;
    overflow: hidden;
    margin-top: -2px;

    font-size: 1em;
    line-height: 1.2;
  }

  .stars {
    display: block;
    margin-top: 2px;
    padding: 1px 0;
  }

  .stars-reviews {
    display: inline-block;
    // Nudge for better vertical alignment.
    padding-top: 1px;

    font-size: 10px;
  }
}

.Tile-heading {
  display: block;
  margin-top: 6px;
  max-height: 2.4em;
  overflow: hidden;

  color: $grey-dark;
  line-height: 1.2;

  +breakpoint($breakpoint-m) {
    max-height: 2.4714em;

    line-height: 1.2857;
  }
}

.Tile-shippingPass {
  width: 69px;
  height: 12px;
  margin-top: -4px;

  +breakpoint($breakpoint-m) {
    width: 75px;
    height: 13px;
  }
}

.Tile-footer {
  display: none;

  margin-top: 0;
  padding: 0;

  border-top: 1px solid $grey-very-light;

  .Tile-footerBtn {
    width: 100%;
    padding: $s-spacing;
    border: 0;

    background: none;
    color: $grey-dark;
    font-size: 12px;
    font-weight: 600;
    line-height: 1;
    text-align: left;

    &:hover,
    &:focus {
      color: $grey-medium;
      outline: none;
    }

    +breakpoint($breakpoint-xl) {
      padding-right: $m-spacing;
      padding-left: $m-spacing;
    }
  }
  +breakpoint($breakpoint-l) {
    display: block;
  }
}

/*!
Grid Tile

Styleguide 14.4
*/

.tile-grid-unit-wrapper {
  float: left;
  display: inline-block;
  width: 25%;
  border-bottom: 1px solid $grey-very-light;
  text-align: center;
}

+breakpoint(1224px) {
  .tile-grid-unit-wrapper {
    width: 20%;
  }
}

.tile-grid-unit {
  position: relative;

  display: inline-block;
  width: 200px;
  padding: 20px 10px 35px;

  text-align: left;
  vertical-align: top;

  .flag {
    position: absolute;
    top: 12px;
    left: 10px;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .7);
  }

  .product-image {
    display: block;
    width: 180px;
    height: @width;
  }

  .variants {
    height: 26px;
    margin-top: 8px;
  }

  .variant {
    margin-top: 0;
  }

  // Additional swatches in the flyout should have ample spacing
  .flyout-modal {
    .variants {
      height: auto;
      margin-top: 2px;
    }

    .variant {
      margin-top: 10px;
    }
  }

  .tile-price {
    height: 27px;
    margin-top: 12px;
  }

  .price-display {
    font-size: 27px;
  }

  .in-store-only {
    color: $grey-dark;
    font-size: 13px;
    font-weight: 700;
  }

  .tile-heading {
    height: 36px;
    margin-top: 10px;
    overflow: hidden;

    font-size: 15px;
  }

  .stars {
    height: 12px;
    margin-top: 8px;

    .star-reviews {
      color: inherit;
    }
  }

  .tile-details {
    height: 28px;
    margin-top: 8px;
  }

  .tile-controls {
    margin-top: 8px;

    .btn-link {
      margin-left: 18px;
    }
  }
}

/*!
Landscape Tile

Styleguide 14.5
*/

.tile-landscape {
  clearfix();

  position: relative;

  display: block;
  padding: 20px 20px 20px 30px;
  border: solid $grey-very-light;
  border-width: 0 0 1px;

  &:first-child {
    border-top-width: 1px;
  }

  .product-image {
    position: absolute;

    width: 180px;
    height: @width;
    float: left;
  }

  .price-display {
    font-size: 32px;
    font-weight: 600;
  }

  .item-price-container {
    margin-bottom: 10px;
  }

  .price-old {
    display: inline-block;
    margin-top: 3px;

    color: $grey-light;
    font-size: 13px;
    vertical-align: top;
  }

  .in-store-only {
    color: $grey-dark;
    font-size: 17px;
  }

  .tile-content-wrapper {
    padding-left: 200px;
  }

  .tile-content {
    clearfix();

    position: relative;
  }

  .tile-aside {
    float: right;
    width: 45%;
    max-width: 300px;

    font-size: 13px;
  }

  .tile-aside-content {
    ul {
      margin-top: 15px;
    }

    // hide "More" dropdown if the <ul> is otherwise empty
    li:first-child .dropdown-link {
      display: none;
    }

    .dropdown-link {
      margin-top: 3px;

      color: $blue;
      font-weight: 600;

      &:after {
        border-top-color: $blue;
      }

      &:focus {
        outline: none;
      }
    }
  }

  .tile-primary {
    float: left;
    width: 50%;
    min-height: 162px;

    &.show-item-controls {
      // Padding to compensate for absolutely positioned tile controls at bottom
      padding-bottom: 70px;
    }
  }

  .tile-heading {
    ellipsis();

    // +1px is necessary not to clip into some character as "g"
    height: 22px;
    margin: 0;

    font-size: 20px;
    font-weight: 400;
    line-height: 1;

    mark {
      background-color: inherit;
      color: inherit;
      font-weight: 600;
    }
  }

  .tile-row {
    margin: 6px 0 0;
  }

  .star-reviews {
    color: inherit;
  }

  .tile-footer {
    position: absolute;
    right: 55%;
    bottom: 0;
    left: 0;

    font-size: 13px;
  }

  .quick-specs {
    margin-top: 10px;
    padding: 10px;
    border-radius: 3px;

    background-color: $blue-light;
    font-size: 13px;
    line-height: 1.2;
    list-style: none;

    ul {
      margin: 0;
      padding: 0;

      list-style: none;
    }

    li {
      margin: 3px 0 0 10px;

      &:first-child {
        margin-top: 0;
      }

      &:before {
        content: '\2219';

        display: inline;
        margin: 0 5px 0 -10px;

        color: $grey-light;
        font-size: 16px;
        vertical-align: middle;
      }
    }

    mark {
      background-color: inherit;
      color: inherit;
      font-weight: 600;
    }

    // These tags might come from the item description
    // but we do not want them super-bold (700)
    b, strong {
      font-weight: 600;
    }
  }

  .variants {
    margin-top: 2px;
  }

  .tile-controls {
    margin-top: 5px;
    padding-top: 10px;
    padding-left: 5px;

    .btn-link {
      margin-left: 25px;
    }
  }

  .tile-controls-dotted {
    &:before {
      right: 5px;
    }
  }
}