.AddToRegistry-button {
  cursor: pointer;
  padding: 10px;

  .AddToRegistry-icon {
    to-rem(font-size, 24px);
    vertical-align: top;
  }

  .AddToRegistry-text {
    to-rem(font-size, 14px);
    padding-left: $xxs-spacing;
  }
}
