@require "~@walmart/wmreact-layout/src/styles/layout";
@require "~@walmart/wmreact-chooser/src/styles/chooser";

.state-chooser-wrapper {
  .invalid-text {
    color: #f42121;
    margin: 3px 0 0;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.3;
  }

  .invalid-border {
    .chooser-option-current {
      /* TODO: Remove the important tag when chooser has been cleaned up */
      border: 1px solid #f42121 !important; // @stylint ignore
    }
  }

  .chooser.placeholder > .chooser-option-current {
    /* YOLO match chrome et al */
    color: #C7C7CD;
  }
}
