@require "~@walmart/lithe-extras/lib/tenants/walmart/base";

@require "../src/styles/gift-cards";

.spinner-height {
  min-height: 372px;
  position: relative;
}

.component-documentation h4 {
  margin-left: 150px;
}