<GlobalFooterItems block={false} links={
  [
    {
      "link": {
        "linkText": "About Walmart.com",
        "title": "Walmart credit card",
        "clickThrough": {
          "type": "url",
          "value": "http:\/\/help.walmart.com\/app\/answers\/detail\/a_id\/6"
        },
        "uid": "XfEg85uC"
      },
      "uid": "5uh7ZTD-"
    },
    {
      "link": {
        "linkText": "Terms of Use",
        "title": "Terms of use",
        "clickThrough": {
          "type": "url",
          "value": "http:\/\/help.walmart.com\/app\/answers\/detail\/a_id\/8"
        },
        "uid": "dKmHgWxk"
      },
      "uid": "HWNPaiQP"
    }
  ]
} />
