<StoreHeader
  type="coupons"
  titleText="Coupons for Walmart Mountain View"
  address={{
    address1: "600 Showers Dr"
  }}
  operationalHours={[
    {
      openHrs: "1 a.m.",
      closingHrs: "10 p.m.",
      fromDay: "Mon",
      toDay: "Sun"
    }
  ]}
  storeUrl="http://www.walmart.com/store/1"
  isHorizontal={true}
/>
