.Btv {
  margin: 45px auto;
  padding: $m-spacing;
  background-color: $blue-light;

  &-module {
    display: table;
    max-width: 920px;
    margin: 0 auto;
    padding: 15px 0;
    width: 100%;
  }

  &-grid-col {
    border-spacing: 0;
  }

}

.BtvTitle {
  width: 148px;

  &-text {
    width: 124px;
    height: 108px;
    margin-bottom: 15px;
    font-size: 1.875rem;
    color: $black;
    line-height: 36px;
    text-align: center;
  }

  &-ampersand {
    position: relative;
    bottom: 3px;
    border-radius: 3px;
    padding: $xxs-spacing $xs-spacing;
    background-color: $black;
    color: $blue-light;
    line-height: 1.3125rem;
    font-size: 1.3125rem;
  }
}

.BtvTitle,
.BtvTitle-text {
  margin-left: auto;
  margin-right: auto;
}
