.store-header {

  .store-address-block {

    +breakpoint($breakpoint-m) {
      text-align: center;
      border-bottom: none;
    }
  }

  .store-line {
    border-bottom: solid 1px #979797;

    +breakpoint($breakpoint-m) {
      border-bottom: none;
    }
  }

  .store-name {
    to-rem(font-size, 16px);

    +breakpoint($breakpoint-m) {
      to-rem(font-size, 24px);
    }
  }

  .store-phone {
    to-rem(font-size, 15px);

    +breakpoint($breakpoint-m) {
      to-rem(font-size, 16px);
    }
  }

  .store-address-phone {
    margin-bottom: 10px;
    line-height: 1.5;

    to-rem(font-size, 14px);

    +breakpoint($breakpoint-m) {
      margin-bottom: auto;
    }
  }

  .store-address {
    display: block;

    to-rem(font-size, 14px);
  }

  .store-hours-block {
    to-rem(font-size, 14px);
    line-height: 22px;
    margin-top: 5px;

    +breakpoint($breakpoint-m) {
      to-rem(font-size, 16px);
    }
  }

  .store-hours-days {
    display: block;

    to-rem(font-size, 15px);

    +breakpoint($breakpoint-m) {
      padding-right: 37px;
      display: inline;

      to-rem(font-size, 16px);
    }
  }

  .store-hours-time {
    opacity: 0.7;

    +breakpoint($breakpoint-m) {
      float: right;
      opacity: 1;
    }
  }

  .store-hours-title {
    display: block;

    +breakpoint($breakpoint-m) {
      text-align: center;
    }
  }

  .store-hours {

    +breakpoint($breakpoint-m) {
      width: 247px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }
  }

  .store-open-24-hours {
    font-weight: 600;
    color: #76c143;
    to-rem(font-size, 14px);

    +breakpoint($breakpoint-m) {
      text-align: center;
    }
  }
}
