@require "~@walmart/lithe-extras/lib/tenants/walmart/base";

@require "../src/styles/store-header";
@require "../src/styles/coupons-iframe-wrapper";

.coupons-iframe-wrapper iframe {
  width: 1020px; // Standard Atlas container width on desktop - demo purposes
}
