@require "~@walmart/wmreact-forms/src/styles/forms";
@require "~@walmart/wmreact-interactive/src/styles/interactive";

.Auth-SignIn, .Auth-SignUp {
  h2 {
    margin: 0;
  }

  .alert {
    margin: $s-spacing 0;
  }

  a, .btn {
    display: block;
    margin-top: $s-spacing;
  }

  .newsletter {
    a, span {
      display: inline;
    }

    .option label {
      font-weight: 400;
    }
  }
}
