<ReviewSummary
  reviewTitle="Just looking for something to do"
  rating="4"
  userNickname="SamBaday"
  reviewSubmissionTime="05/30/2016"
  reviewUrl="http://wwww.walmart.com"
  maxReviews="10"
  reviewText="This review is so long because I would
  like to see what the component looks like wrapper.
  And I need enough content to implement Read more.
  So now you know. mahna mahna (highly addictive tune)
  mahna mahna (highly addictive tune). You are in the
  twilight zone. This review is so long because I would
  like to see what the component looks like wrapper.
  And I need enough content to implement Read more.
  So now you know. mahna mahna (highly addictive tune)
  mahna mahna (highly addictive tune). You are in the
  twilight zone. This review is so long because I would
  like to see what the component looks like wrapper.
  And I need enough content to implement Read more.
  So now you know. mahna mahna (highly addictive tune)
  mahna mahna (highly addictive tune). You are in the
  twilight zone."
  badgeList={[
   "top1Contributor",
   "top10Contributor",
   "top25Contributor",
   "top50Contributor",
   "top100Contributor",
   "top500Contributor",
   "top1000Contributor",
   "VerifiedPurchaser",
   "SRIncentivizedReviewYes",
   "kidschoice2013",
   "kidschoice2014",
   "kidschoice2015",
   "kidschoice2016",
   "Walmart\ associate",
   "Affiliation\ id:\ staff",
   "BackedbyMom"
  ]}
/>
