<div>
  <h3>Sticky Nav</h3>
  <StickyNav selected={0} minScreen="large">
    <StickyNav.Row title="About this item" link="about-item">
      <img src="http://dummyimage.com/720x632/a9a9c7/e6e655&text=About this item"/>
      <img src="http://dummyimage.com/720x632/a9a9c7/e6e655&text=About this item"/>
      <img src="http://dummyimage.com/720x632/a9a9c7/e6e655&text=About this item"/>
    </StickyNav.Row>  
    <StickyNav.Row title="Customer Reviews" link="customer-reviews">
      <img src="http://dummyimage.com/940x632/a9a9c7/e6e655&text=Customer Reviews"/>
    </StickyNav.Row>
    <StickyNav.Row title="Item Recommendations" link="item-recommendations">
      <img src="http://dummyimage.com/1280x632/a9a9c7/e6e655&text=Item Recommendations"/>
    </StickyNav.Row>
    <StickyNav.Row title="Policies & Plans" link="polices-plans">
      <img src="http://dummyimage.com/412x632/a9a9c7/e6e655&text=Policies & Plans"/>
    </StickyNav.Row>
  </StickyNav>
</div>
