@require "~@walmart/wmreact-base/src/styles/base";
@require "~@walmart/wmreact-layout/src/styles/layout";

.related-search-container {
  padding: 16px;
  font-size: 14px;

  .related-search-title {
    margin: 0;
  }

  .related-search-link {
    cursor: pointer;
  }
}
