@require "~@walmart/wmreact-layout/src/styles/layout";
@require "~@walmart/wmreact-forms/src/styles/forms";
@require "~@walmart/wmreact-state-chooser/src/styles/state-chooser";

.state-chooser-wrapper {
  .label-text {
    font-size: 14px;
  }

  .invalid-text {
    color: $red;
    margin: 3px 0 0;

    font-size: 12px;
    font-weight: 600;
    line-height: 1.3;
  }

  .invalid-border {
    .chooser-option-current {
      /* TODO: Remove the important tag when chooser has been cleaned up */
      border: 1px solid $red !important; // @stylint ignore
    }
  }
}

.state-chooser-wrapper .chooser {
  width: 100%;
}
