@require "~@walmart/wmreact-layout/src/styles/layout";
@require "~@walmart/wmreact-forms/src/styles/forms";
@require "~@walmart/wmreact-containers/src/styles/flyout";
@require "~@walmart/wmreact-interactive/src/styles/button";

.desktop-bar-brand {
  .option:first-child {
    margin-top: 5px;
  }
}
