.SpinnerImage-container {
  position: relative;

  margin: 0 auto;

  .SpinnerImage-spinner {
    &.spinner {
      position: absolute;
      left: 50%;
      top: 50%;

      margin-left: -32px;
      margin-top: -36px;
    }
  }
}
