@require "~@walmart/wmreact-interactive/src/styles/interactive";
@require "~@walmart/wmreact-image-utils/src/styles/image-utils";

@require "./spinner-image";
@require "./pannable-container";
@require "./zoom-control-buttons";

.ZoomableImage {
  position: relative;
}
