.CarePlan-font {
  to-rem(font-size, 15px);
}

.CarePlan-margin-right {
  margin-right: $xxs-spacing;
}

.CarePlan-margin-left {
  margin-left: $xxs-spacing;
}

.CarePlan-link {
  cursor: pointer;
}

.CarePlan-add {
  .wmicon {
    border: 1px solid $grey-cool;
    border-radius: 50%;
    padding: 5px;
    background: $white;

    &:hover {
      border: 1px solid $grey-cool-hover;
    }
  }

  vertical-align: middle;
  color: $green;
  margin-right: 10px;
}

.CarePlan-selected {
  color: $green;
  margin-right: 10px;
}

.CarePlan-option,
.CarePlan-selection  {
  margin-bottom: 10px;
}

.CarePlan-remove {
  margin-left: 15px;
}
