.prod-ProductOffer {
  line-height: 1.2;
  
  .prod-PriceFlags {
    right:0;
    top: 0;
  }

  .prod-PriceHero {
    to-rem(font-size, 30px);

    +breakpoint($breakpoint-m) {
      to-rem(font-size, 40px);
    }
  }
}
