.header-SearchDropdown {
  wmzindex("basic");

  &.is-open {
    box-shadow: 1px 0 2px rgba(0, 0, 0, .15);

    &:before {
      content: "";
      position: absolute;
      right: 0;
      left: 0;
      bottom: -6px;

      display: block;
      height: 62%;

      background-color: $white;
    }
  }

  &.flyout-bottom.active.flyout-animate .flyout-modal {
    animation: none; // override flyout animations
  }

  .flyout-modal {
    left: 0;

    margin: 1px 0 0;
    width: 470px;
    border-radius: 0 0 5px 5px;

    background-color: $white;
    box-shadow: 0 $xs-spacing 10px rgba(0, 0, 0, .4);

    transform: none;

    &:before,
    &:after {
      display: none;
    }
  }

  .header-SearchDropdown-option {
    to-rem(font-size, 13px);

    width: 100%;
    padding: 9px 0 10px;
    line-height: 15px;
  }
}

.header-SearchDropdown-toggle {
  padding: 0 15px 0 $m-spacing;
  height: 40px;
  border-radius: 100px 0 0 100px;
  border-width: 0;
  line-height: @height;

  white-space: nowrap;

  &, &:hover, &:focus {
    color: $grey-dark;
    background-color: $blue-pale;
  }

  &:after {
    margin-left: $xxs-spacing;
  }

  .is-open & {
    background-color: $white;
  }
}

.header-Header {
  .header-SearchDropdown {
    display: none;

    +breakpoint($breakpoint-l) {
      display: inline-block;
    }
  }

  .is-fixed .header-SearchDropdown-toggle {
    height: 30px;
    line-height: @height;
    padding-right: $s-spacing;
  }
}
