.header-StoreListItem {
  margin-top: $xs-spacing;

  .header-StoreListItem-text {
    line-height: 1.4;
  }

  .header-StoreListItem-name {
    to-rem(font-size, 14px);

    .wmicon {
      to-rem(font-size, 10px);

      color: $yellow;
      margin-right: $xxs-spacing;
    }
  }
}
