.header-StoreFinderPanel {
  .header-StoreFinderPanel-moreStores {
    to-rem(font-size, 14px);
  }

  .arrow-link:after {
    margin-left: 5px;
    border-width: 5px;
  }
}

.header-StoreFinderPanel-spinner {
  position: relative;
  width: 305px;
  height: 250px;

  .spinner {
    position: absolute;
  }
}

.header-StoreFinderPanel-field {
  margin-bottom: $m-spacing;
}

.header-StoreFinderPanel-content {
  padding-top: 10px;
  border-top: 2px solid $grey-very-light;
}
