.header-StoreFinderPanel-field p {
  margin-top: $s-spacing;
}

.header-StoreFinderField-button {
  to-rem(font-size, 18px);

  margin-left: $xs-spacing;
  padding-top: $xs-spacing;
}

.header-StoreFinderField-form {
  width: 305px;

  .form-label {
    margin-top: $xs-spacing;

    .form-label-text {
      display: none;
    }
  }
}
