<BannerMessage moduleData={
{
    type: "BannerMessage",
    configs: {
      height: "small",
      themeColor: null,
      headerText1: null,
      headerColor1: "#A1D7F8",
      headerFontWeight1: "bold",
      headerText2: "Savings ",
      headerColor2: "#F07330",
      headerFontWeight2: "semibold",
      headerText3: "Center ",
      headerColor3: "#858585",
      headerFontWeight3: "bold",
      secondaryText1: "Your ",
      secondaryColor1: "#858585",
      secondaryFontWeight1: "regular",
      secondaryText2: "Hottest ",
      secondaryColor2: "#F07330",
      secondaryFontWeight2: "regular",
      secondaryText3: "Values |date|",
      secondaryColor3: "#F07330",
      secondaryFontWeight3: "regular",
      themeButton: {
        linkText: "Shop All",
        title: "Shop All",
        clickThrough: {
          type: "url",
          value: "http://www.walmart.com/browse/3944_1078524_1231200"
        },
        uid: "CLAM4z1m"
      },
      themeButtonColor: null,
      buttonTextColor: "#007dc6",
      image: null,
      mobileImage: null,
      athenaEnabled: "true",
      filterType: null,
      moduleList: [],
      useListForAll: null
    },
    moduleId: "84c9fa92-2122-443a-89fe-b4a21c75d0d2"
}
} />
