<div>
  <div style={{ width: 190, display: "inline-block" }} >
    <TempoItemTile
      productData={{
        id: { usItemId: "123" },
        price: { currentPrice: 12.34, comparisonPrice: 15.64 },
        ratings: { rating: "3.5", totalRatings: "20" },
        flags: { isRollback: true },
        productName: "Demo product with was price",
        productUrl: "#",
        quantity: 1000,
        imageSrc: ""
      }}
    />
  </div>
  <div style={{ width: 190, display: "inline-block" }} >
    <TempoItemTile
      productData={{
        id: { usItemId: "456" },
        price: { currentPrice: 12.34, comparisonPrice: 15.64, isStrikeThrough: true },
        ratings: { rating: "3.5", totalRatings: "20" },
        flags: { isClearance: true },
        productName: "Demo product with list price",
        productUrl: "#",
        quantity: 1000,
        imageSrc: ""
      }}
    />
  </div>
  <div style={{ width: 190, display: "inline-block" }} >
    <TempoItemTile
      productData={{
        id: { usItemId: "789" },
        price: { currentPrice: 12.34, comparisonPrice: 12.35 },
        productName: "Demo product with savings too small to show and low in stock",
        productUrl: "#",
        quantity: 1,
        imageSrc: ""
      }}
    />
  </div>
  <div style={{ width: 190, display: "inline-block" }} >
    <TempoItemTile
      productData={{
        id: { usItemId: "012" },
        price: { fromPrice: 5.99 },
        flags: { isSpecialBuy: true },
        productName: "Demo product with a really long name and a from price",
        productUrl: "#",
        quantity: 1000,
        imageSrc: ""
      }}
    />
  </div>
  <div style={{ width: 190, display: "inline-block" }} >
    <TempoItemTile
      productData={{
        id: { usItemId: "345" },
        price: { minPrice: 24.65, maxPrice: 60.63 },
        flags: { isReducedPrice: true },
        productName: "Demo product with a long name and lower min price than max price",
        productUrl: "#",
        quantity: 1000,
        imageSrc: ""
      }}
      productNameLines={1}
    />
  </div>
  <div style={{ width: 190, display: "inline-block" }} >
    <TempoItemTile
      productData={{
        id: { usItemId: "678" },
        price: { minPrice: 1.99, maxPrice: 1.99 },
        productName: "Demo product same min price and max price",
        productUrl: "#",
        quantity: 1000,
        imageSrc: ""
      }}
      showQuantityLeft
    />
  </div>
  <div style={{ width: 190, display: "inline-block" }} >
    <TempoItemTile
      productData={{
        id: { usItemId: "901" },
        price: { currentPrice: 98.76, submapType: "CHECKOUT" },
        productName: "Demo product with submap flyout",
        productUrl: "#",
        quantity: 1000,
        imageSrc: ""
      }}
    />
  </div>
</div>
