<CreditCards
  cards={[{
              lastFour:"1111",
              firstName:"John",
              lastName:"Snow",
              cardExpiryDate:"2020-07-01",
              cardType:"AMEX",
              id:"1",
              addressLineOne: "860 w california ave",
              city: "sunnyvale",
              state: "CA",
              postalCode: "94086",
              phone: "8123823828",
              loading:true

            }]}
  cardEdited="1"

  errors={{"1":{
    avs_invalid:{
       serverResponse: {
        postalCodeStatus: "SomeError",
        addresses:[
          {city:"raccoon city"}
        ]}
  }}}}
  />
