@require "~@walmart/wmreact-carousel/src/styles/carousel";

@require "../helper-components/module-header";
@require "../helper-components/carousel-first-tile";

$tile-image-height-s = 120px;
$tile-image-height-l = 144px;

.TempoTileCarousel {
  padding-bottom: 31px;

  background-repeat: no-repeat;
  overflow-x: hidden;

  +breakpoint($breakpoint-m) {
    padding-bottom: 34px;
  }

  // override carousel styles while loading to avoid shift
  &.is-loading {
    .slider-frame {
      margin: 0 $xs-spacing !important;

      +breakpoint($breakpoint-s) {
        margin: 0 16px !important;
      }

      +breakpoint($breakpoint-l) {
        margin: 0 $m-spacing !important;
      }

      +breakpoint($breakpoint-xl) {
        margin: 0 $l-spacing !important;
      }
    }

    .slider-slide {
      margin: 0 $xxs-spacing !important;
      width: 136px !important;

      +breakpoint($breakpoint-m) {
        width: 168px !important;
      }

      +breakpoint($breakpoint-l) {
        margin: 0 6px !important;
      }

      for $index in (2..8) {
        &:nth-child({$index}) {
          left: 144px * ($index - 1) !important;

          +breakpoint($breakpoint-m) {
            left: 176px * ($index - 1) !important;
          }

          +breakpoint($breakpoint-l) {
            left: 180px * ($index - 1) !important;
          }
        }
      }
    }
  }

  .slider-frame, .slider-decorator-0, .slider-decorator-1 {
    z-index: 1; // ensure flyouts cover pagination dots
  }

  .paginator-hairline-btn {
    height: 60px;

    background-size: 33%;
    background-color: $white;
    box-shadow: 0 0 2px 0 $grey-light;

    +breakpoint($breakpoint-s-max, "max") {
      display: none;
    }
  }

  .carousel-paginator-list > li {
    margin-left: $xs-spacing;

    +breakpoint($breakpoint-m) {
      margin-left: $s-spacing;
    }
  }

  .carousel-paginator-item {
    height: 7px;
    width: @height;

    background: $grey-light;

    +breakpoint($breakpoint-m) {
      height: 10px;
      width: @height;
    }
  }

  .slick-active > .carousel-paginator-item {
    background: $grey-medium;
  }

  .FeaturedElementCarousel-header {
    padding: 0 $xs-spacing;

    +breakpoint($breakpoint-s) {
      padding: 0 16px;
    }

    +breakpoint($breakpoint-l) {
      padding: 0 $m-spacing;
    }

    +breakpoint($breakpoint-xl) {
      padding: 0 $l-spacing;
    }
  }

  .CarouselFirstTile-themeButton {
    top: 65%;
  }

  .TempoItemTile > .Tile {
    height: 100%;
  }

  // generate classes for all the possible tile heights
  // ensure correct height while loading
  for $tileHeight in 164 179 182 190 194 197 200 205 208 212 215 218 220 223 226 230 233 236 238 241 244 248 251 256 259 262 266 274 277 280 292 295 298 310 313 328 {
    &.tile--height{$tileHeight} {
      .slider, .TempoItemTile, .TempoCategoryTile, .CarouselFirstTile {
        height: $tileHeight + $tile-image-height-s - $tile-image-height-l !important;

        +breakpoint($breakpoint-m) {
          height: $tileHeight * 1px !important;
        }
      }
    }
  }
}
