$vertical-carousel-width-l = 236px;
$vertical-carousel-width-m = 214px;
$vertical-carousel-decorator-height = 48px;

.TempoTileCarousel--vertical {
  width: $vertical-carousel-width-m;

  +breakpoint($breakpoint-l) {
    width: $vertical-carousel-width-l;
  }

  .slider-decorator-0,
  .slider-decorator-1 {
    height: $vertical-carousel-decorator-height;

    .paginator-hairline-btn {
      height: $vertical-carousel-decorator-height;
      width: $vertical-carousel-width-m;

      +breakpoint($breakpoint-l) {
        width: $vertical-carousel-width-l;
      }

      background-size: 20%;

      &.paginator-hairline-btn-up {
        box-shadow:  0 1px 1px 0 rgba(0, 0, 0, 0.15);
      }

      &.paginator-hairline-btn-down {
        box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, 0.15);
      }
    }
  }

  .slider-decorator-0 {
    top: -1 * $vertical-carousel-decorator-height !important;
  }

  .ModuleHeader-heading {
    height: 24px;
    overflow: hidden;
  }

  .ModuleHeader {
    padding-left: $xxs-spacing;
    padding-right: @padding-left;

    +breakpoint($breakpoint-l) {
      padding-left: 16px;
      padding-right: @padding-left;
    }
  }

  .ModuleHeader-button {
    display: none !important;
  }
}
