$chooser-color = {
  text-active: $blue,
  bg: $white,
  bg-alt: $blue-pale
  border: $grey-cool,
  border-active: $blue-secondary,
  border-inner: $grey-light,
  caret: $blue
}

.chooser {
  & ~ .validation-marker {
    display: none;
  }
}

$dropdown-color = {
 caret: $blue,
 border: $grey-light,
 border-hover: $blue-secondary
}

$tenant-dropdown() {
  .dropdown {
    border-radius: 100px;
  }
}

$tenant-dropdown-alt() {
  .dropdown-alt {
    border-color: $blue-pale;

    background: $blue-pale;

    &:hover {
      border-color: $blue-pale;
    }
  }

  .dropdown-dark {
    color: $white;

    border-color: $blue;

    background: $blue;

    &:hover {
      border-color: $blue-hover;

      background-color: $blue-hover;
    }

    &:active {
      border-color: $blue-active;

      background-color: $blue-active;
    }

    &:after {
      border-top-color: $white;
    }
  }
}

/*!
Dropdowns
See tenant dropdowns.
*/

$dropdown-caret {
  &:after {
    content: "";
    position: relative;
    top: 1px;

    display: inline-block;
    width: 0;
    height: 0;
    margin: 0 0 0 5px;
    border: 4px solid transparent;
    border-top-color: $dropdown-color.caret;

    vertical-align: middle;
  }
}

$dropdown-block {
  position: relative;

  padding-right: 28px;

  text-align: left;

  &:after {
    position: absolute;
    top: 50%;
    right: 14px;

    margin-top: -2px;
  }
}

.dropdown {
  @extend $dropdown-caret;

  height: 30px;
  padding: 0 14px;
  border: 1px solid $dropdown-color.border;

  background: $white;
  color: $grey-dark;
  font-size: 14px;
  font-weight: 600;
  // Account for top and bottom border which throws off line height
  line-height: (@height - 2);

  position: relative;

  &:after {
    margin-left: 14px;
  }

  &:hover,
  .flyout.active & {
    border-color: $dropdown-color.border-hover;
  }
}

$tenant-dropdown();

$tenant-dropdown-alt();

.dropdown-wide {
  @extend $dropdown-block;

  width: 148px;
}

.dropdown-full {
  @extend $dropdown-block;

  display: block;
  width: 100%;
}

.dropdown-link {
  @extend $dropdown-caret;

  padding: 0;
  border: 0;

  background: none;

  &:after {
    border-top-color: $yellow;

    transition: 0.3s ease transform;
    transform-origin: center 2px;
  }

  &:hover:after,
  .flyout.active > &:after {
    transform: rotate(-180deg);

    .no-csstransforms & {
      margin-top: -8px;
      border-top-color: transparent;
      border-bottom-color: $yellow;
    }
  }
}

/*!
Chooser
.chooser-alt - Variant with blue background color.
.chooser-fixed-width - Fixed width variant.
.chooser-block - Block level variant.
.chooser-rounded - Variant with rounded corners for form input usage.
.chooser-rounded-mini - Mini version of rounded chooser.
Styleguide 13.5
*/

$chooser-color ?= {
  text-active: #555,
  bg: #fff,
  bg-alt: #ccc,
  border: #aaa,
  border-active: #999,
  border-inner: #ccc,
  caret: #000
}

$chooser-height = 30px;

.chooser {
  position: relative;

  display: inline-block;
  height: $chooser-height;

  vertical-align: middle;

  &.active {
    .chooser-option-list {
      wmzindex("chooser");

      overflow: auto;
      -webkit-overflow-scrolling: touch;
      height: auto;
      max-height: 232px;
      border-color: $chooser-color.border-active;

      box-shadow: 3px 3px 5px rgba(0, 0, 0, .15);
    }

    .chooser-option-current + .chooser-option {
      border-top: 0;

      box-shadow: none;
    }

    .chooser-option {
      height: ($chooser-height - 2);

      box-shadow: 0 -1px 0 $chooser-color.border-inner;
      visibility: visible;

      .no-boxshadow & {
        border-top: 1px solid $chooser-color.border-inner;
      }
    }

    .disabled:hover {
      color: $grey-light;
    }

    .chooser-option-current {
      border-radius: 4px 4px 0 0;

      background: $chooser-color.border;
    }
  }
}

$tenant-chooser-active();

.chooser-rounded {
  $chooser-height = 38px;
  height: $chooser-height;

  &.active {
    .chooser-option {
      height: ($chooser-height - 2);
    }
  }

  .chooser-option-list {
    height: $chooser-height;
  }

  .chooser-option,
  .chooser-option-current {
    font-smoothing();

    padding: 0 30px 0 10px;

    font-size: 16px;
    font-weight: 600;
    line-height: ($chooser-height - 2);

    &:after {
      right: 10px;

      border-width: 5px;
    }
  }

  .chooser-option-current {
    height: ($chooser-height - 2);
  }
}

.chooser-rounded-mini {
  $chooser-height = 28px;

  .chooser-option-current {
    height: $chooser-height;
  }

  &.active {
    .chooser-option {
      height: ($chooser-height - 2);
    }
  }

  .chooser-option-list {
    height: $chooser-height;
  }

  .chooser-option,
  .chooser-option-current {
    font-smoothing();

    padding: 0 30px 0 8px;

    font-size: 16px;
    font-weight: 600;
    line-height: ($chooser-height - 2);

    &:after {
      right: 10px;

      border-width: 5px;
    }
  }

  .chooser-option-current {
    height: ($chooser-height - 2);
  }
}

$tenant-chooser-rounded();

.chooser-alt {
  &.active {
    .chooser-option-list {
      &, &:hover {
        border-color: $chooser-color.border-active;

        background: $chooser-color.bg;
      }
    }
  }

  .chooser-option-list {
    &, &:hover {
      border-color: $chooser-color.bg-alt;

      background: $chooser-color.bg-alt;
    }
  }

  .chooser-option-current {
    background: $chooser-color.bg-alt;
  }
}

.chooser-fixed-width {
  .chooser-option-list {
    width: 148px;
  }
}

.chooser.chooser-block {
  display: block;
  width: 100%;
}

.chooser-option-list {
  position: absolute;

  height: $chooser-height;
  border: 1px solid $chooser-color.border;

  background: $chooser-color.bg;

  &:hover {
    border-color: $chooser-color.border-active;
  }

  &.rendered {
    width: 100%;

    .chooser-option, .chooser-option-current {
      width: 100%;
    }
  }

  &.hidden {
    visibility: hidden;
  }
}

$tenant-chooser-option-list();

.chooser-option {
  @extend .dropdown;
  @extend .dropdown-full;

  width: auto;
  height: 0;
  padding-right: 34px;
  border: 0;
  border-radius: 0;

  background: transparent;
  line-height: ($chooser-height - 2);
  outline: none;
  visibility: hidden;
  white-space: nowrap;

  &.active {
    color: $chooser-color.text-active;
  }

  &.hidden {
    display: none;
  }

  &.disabled,
  &.pseudo-disabled {
    cursor: default;

    &, &:hover {
      color: $grey-light;
    }
  }

  &.pseudo-disabled {
    cursor: pointer;
  }

  &:after {
    display: none;

    border-top-color: $chooser-color.caret;
  }
}

.chooser-option-current {
  @extend .chooser-option;
  ellipsis();

  display: block;
  height: ($chooser-height - 2);
  border-top: 0;
  border-radius: 50px;

  cursor: pointer;
  visibility: visible;

  &:after {
    display: block;
  }

  &:hover,
  &:focus {
    color: $grey-dark;
    outline: none;
  }

  &.pseudo-disabled {
    color: $grey-light;
  }

  .chooser-option-list.hidden &:after {
    display: none;
  }
}

.chooser.disabled {
  cursor: default;
  opacity: .3;
  transition: .5s linear opacity;

  .chooser-option-current {
    cursor: default;

    &:focus {
      color: $grey-dark;
    }
  }
}

.chooser.focused {
  .chooser-option-list {
    border-color: $chooser-color.border-active;
  }
}

