<Accordion>
  <Accordion.Item title="Step 1">
    <h1>First Step Content</h1>
  </Accordion.Item>
  <Accordion.Item title="Step 2">
    <h1>Second Step Content</h1>
  </Accordion.Item>
  <Accordion.Item title="Step 3">
    <h1>Third Step Content</h1>
  </Accordion.Item>
</Accordion>
