<Accordion>
  <Accordion.Item title="Step 1" titleCompleted="Step 1">
    <h1>First Step Content</h1>
  </Accordion.Item>
  <Accordion.Item title="Step 2" titleCompleted="Step 2"
    titleExtra={
      <Accordion.Summary>
        <span>A summary item of step 2</span>
        <span>And another one</span>
      </Accordion.Summary>}>
    <h1>Second Step Content</h1>
  </Accordion.Item>
  <Accordion.Item title="Step 3" titleCompleted="Step 3">
    <h1>Third Step Content</h1>
  </Accordion.Item>
</Accordion>
