<div>
  <Icon name="truck" size={1}/>
  <Icon name="list" size={1}/>
  <Icon name="pin" size={1}/>
  <Icon name="search" size={1}/>
  <Icon name="help" size={1}/>
  <Icon name="zoom" size={1}/>
  <Icon name="zoom-out" size={1}/>
  <Icon name="menu" size={1}/>
  <Icon name="grid" size={1}/>
  <Icon name="lock" size={1}/>
  <Icon name="package" size={1}/>
  <Icon name="print" size={1}/>
  <Icon name="mail" size={1}/>
  <Icon name="twitter" size={1}/>
  <Icon name="pinterest" size={1}/>
  <Icon name="facebook" size={1}/>
  <Icon name="youtube" size={1}/>
  <Icon name="google-plus" size={1}/>
  <Icon name="vudu" size={1}/>
  <Icon name="mobile" size={1}/>
  <Icon name="add-to-cart" size={1}/>
  <Icon name="add-to-list" size={1}/>
  <Icon name="store" size={1}/>
  <Icon name="add" size={1}/>
  <Icon name="weekly-ad" size={1}/>
  <Icon name="angle-left" size={1}/>
  <Icon name="angle-right" size={1}/>
  <Icon name="ok" size={1}/>
  <Icon name="exclamation-circle" size={1}/>
  <Icon name="caret-down" size={1}/>
  <Icon name="caret-up" size={1}/>
  <Icon name="remove" size={1}/>
  <Icon name="play" size={1}/>
  <Icon name="ban-circle" size={1}/>
  <Icon name="spark" size={1}/>
  <Icon name="trophy" size={1}/>
  <Icon name="star" size={1}/>
  <Icon name="user" size={1}/>
  <Icon name="thumbs-up" size={1}/>
  <Icon name="comment" size={1}/>
  <Icon name="play-circle" size={1}/>
  <Icon name="new-window" size={1}/>
  <Icon name="thumbs-alt-up" size={1}/>
  <Icon name="thumbs-alt-down" size={1}/>
  <Icon name="flag" size={1}/>
  <Icon name="modal" size={1}/>
  <Icon name="clock" size={1}/>
  <Icon name="savings-catcher" size={1}/>
  <Icon name="gift-card" size={1}/>
  <Icon name="credit-card" size={1}/>
  <Icon name="membership" size={1}/>
</div>