@require "./component";
@require "./explorer";
@require "./menu";
@require "./search";
@require "./usage";

body {
  background:#efefef;
  margin-top: -20px;
}

a {
  color: #007dc6;
  text-decoration: none;
}

button, html, input, select, textarea {
  color: #444;
  font-family: myriad-pro,Helvetica Neue,Helvetica,Arial,sans-serif;
}

em {
  font-style: normal;
  font-weight: 700;
}
