.explorer-header {
  background: white;
  padding-top: 20px;
}

.explorer-title {
  margin-top: 20px;
  margin-left: 1%;
}

.explorer-header>h1 {
  text-align: center;

  img {
    height: 89px;
  }
}

.explorer-body {
  background: #efefef;
  padding: 0 25.5% 100px 15%;
  min-height: 700px;
}

.explorer-body span.component-info {
  color: #808080;
  font-weight: normal;
  font-size: 0.6em;
  display: block;
}

.nav-link {
  display: block;
  position: relative;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  cursor: pointer;
  text-transform: capitalize;
}

.nav-link:hover {
  color: #fff;
  background-color: #0070b2;
}

.explorer-footer {
  background-color: #f2f8fd;
}

.footer-container {
  padding-left: 32px;
  padding-right: 32px;
}

.footer-text {
  color: #888;
  font-size: 13px;
  line-height: 40px;
  padding-left: 20px;
}

.revealer-footer {
  text-align:left;
}

.module {
  font-weight: 200;
}

.module em {
  font-weight: 700;
}

.matches {
  font-style: italic;
}

.location {
  font-weight: 700;
}

.chooser {
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  position: relative;
  border: 1px solid #c2cfd6;
}

.button {
  background-color: #fff;
  color: #007dc6;
  border: 1px solid #d9d9d9;
  font-size: 15px;
  font-weight: 600;
  border-radius: 4px;
  outline: none;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  height: 38px;
  padding: 0 34px;
  line-height: 1;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  transition-property: background-color,opacity,border-color,color;
  transition-duration: .12s;
  transition-timing-function: ease-out;
}
