
.explorer-search-bar {
  background: #093252;
  padding: 1px 15px 11px;
}

.tt-dropdown-menu {
  background: #fff;
  box-shadow: 2px 2px 2px #555;
}

.tt-suggestion {
  padding: 20px;
  border-bottom: 1px solid #eee;
}

.tt-suggestion:last-of-type {
  border-bottom: 0;
}

.tt-suggestion.tt-cursor {
  background: #ffc120;
}

.search-results {
  padding: 0 20px;
}

.search-results h2 em {
  font-style: italic;
}

.search-results h3 {
  font-weight: 200;
}

.search-results h3 em {
  font-style: normal;
  font-weight: 700;
}

.results-list {
  margin-top: 20px;
}

.results-list a {
  pointer:hand;
}

.search-result {
  padding: 20px 40px;
  border-bottom: 1px solid #ccc;
  font-size: 1.2em;
}

.search-input {
  margin-top: 8px;
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  background-color: #fff;
  border-color: #c2cfd6;
  border: 1px solid;
}
