@require "~@walmart/lithe-extras/lib/tenants/walmart/base";

@require "../src/styles/calendar";

.demo {
  .example {
    margin: 100px auto;
    padding: 50px;
    width: 400px;
    text-align: center;
    border: 1px solid $black;
    border-radius: 5px;
  }
}
