<MemberRegister
            error={{}}
            promoText={"Get a $10 gift card if you sign in or register today"}
            headerTitle={"Create your online account"}
            digitText={"13 or 17 digit number on the back of your membership card"}
            matchText={"Must match information we have on file"}
            alreadyMemberText={"Already have an account"}
            fields={{membershipNum: {value: "123456789" }, lastName: {value: "Walker"}}}
            initializeForm={() => {}}/>
