@require "~@walmart/wmreact-base/src/styles/base";
@require "~@walmart/wmreact-layout/src/styles/layout";
@require "~@walmart/wmreact-interactive/src/styles/interactive";
@require "~@walmart/wmreact-carousel/src/styles/carousel";
@require "~@walmart/wmreact-containers/src/styles/spinner";

$storeFinderCarouselTransition = .1s ease transform;

.StoreCarousel-tile {
  margin-right: 30px;
}

.StoreCarousel--truncated {
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap;
}

.StoreCarousel-addressBlock {
  line-height: 18px;
}

.StoreCarousel-storeName {
  margin-bottom: 3px;
  padding-bottom: 2px;

  font-size: 20px;
  font-weight: 600;
}

.StoreCarousel-storeAddress {
  font-size: .875rem;
}

.StoreCarousel {
  // These selectors target elements rendered by other nested components, so any
  // departures from SUIT can't be helped.
  form {
    display: inline;
  }

  .form-label {
    display: inline-block;
    margin-right: 10px;
  }

  .wmicon-star {
    color: $yellow;
  }

  .Collapsable {
    clear: both;
  }

  .more-link {
    cursor: pointer;

    &:after {
      transition: $storeFinderCarouselTransition;
    }
  }

  .show-arrow {
    &.more-link {
      &:after {
        transform: rotate(-180deg) translateY(4px);
        transition: $storeFinderCarouselTransition;
      }
    }
  }
}

.StoreCarousel-zipControls {
  margin-left: 35px;
}
