.search-result-flag {
  .prod-FlagList-container {
    display: inline-block;
    margin: 0 0 -3px 0;
    
    .flag {
      margin-bottom: 0;
    }
  }

  .flag-link {
    display: inline-block;
    float: none;
  }
}

.search-result-flag.gridview {
  height: 25px;
}
