.search-result-listview-item {
  position: relative;

  display: block;
  height: auto;
  padding: 20px 20px 20px 30px;
  border-bottom: 1px solid $grey-light;
  
  background: $white;

  mark {
    background: transparent;
  }

  .tile-content {
    position: relative;
    
    padding-left: 200px;
    
    .tile-primary {
      float: left;
      width: 50%;
    }

    .tile-aside {
      float: right;
      width: 45%;

      font-size: 13px;
      max-width: 300px;
    }
  }
}

