@import "/mixins.styl";

.search-result-product-title {
  position: relative;
    
  a {
    overflow: hidden;
    display: block;
    padding-left: 20px;
    margin: 0;

    color: $grey-dark;
    line-height: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
    
    .heading-b {
      font-size: 16px;
      
        &:hover {
        color: $blue;
      }
    }
  }
  
  mark {
    background-color: inherit;
    color: inherit;
    font-weight: 600;
  }
}

.search-result-product-title.listview {
  margin-top: 0;
  display: inline-block;
  width: 80%;
  
  a {
    white-space: nowrap;
    .heading-b {
      font-size: 20px;
      font-weight: 400;
    }
  }
}

.search-result-product-title.gridview {
  margin-top: 10px;
  height: 54px;
  a {
    height: 54px;
    width: 180px;
    padding-left: 0;
    display: block;
    
    font-size: 16px;
    font-weight: 600;
    line-height: 1.2;
    white-space: normal;
  }
  
  lineclamp();
}
