/**
 * Search Result Product Image
 */

.search-result-productimage {
	position: relative;
 
  display: block;
  
  img {
    width: 180px;
    height: 180px;
  }
}

.search-result-productimage.listview {
  float: left;
}

.search-result-productimage.gridview {
  margin-bottom: 5px;
  height: 180px;
}
