.search-result-sponsored-product {
  position: relative;
  
  .sponsored-product-search {
    overflow: hidden;
    margin: 10px 0 0 0;
    
    color: $orange;
    font-size: $font-size-small;
  }
}

.search-result-sponsored-product.listview {
  .sponsored-product-search {
    height: auto;
    margin-bottom: 5px;
    padding-left: 20px;
  }
}

.search-result-sponsored-product.gridview {
  .sponsored-product-search {
    height: 20px;
    margin-top: 15px;
    padding: 0;
  }
}
