var ModalExample = React.createClass({
  showModal() {
    this.refs.modal.show();
  },
  render() {
  return (
      <div>
        <Modal ref="modal" fixed={true}>
          <h1>Hi!</h1>
        </Modal>
        <a href="javascript:void(0)" onClick={this.showModal}>
          Show Modal
        </a>
      </div>
    )
  }
});

React.render(<ModalExample/>, mountNode);
