@require "~@walmart/wmreact-interactive/src/styles/interactive";
@require "~@walmart/wmreact-carousel/src/styles/carousel";
@require "~@walmart/wmreact-product-card/src/styles/product-card";
@require "~@walmart/wmreact-image-utils/src/styles/image-utils";

.tempo-module-header {
  padding-bottom: $s-spacing;
  padding-top: $s-spacing;

  font-size: 0;
  text-align: justify;
  /* IE */
  text-justify: distribute;

  &:after {
    width: 100%;

    content: "";
    display: inline-block;
  }

  .btn {
    display: inline-block;
    margin: 0 0 0 15px;
    vertical-align: middle;
  }

  img {
    display: inline-block;
    vertical-align: middle;
  }

  a {
    color: $white;
  }

  .tempo-module-heading {
    /* If only the module heading is present the max width
       will be 100% of the parent. If the "See All" or "Shop Now"
       is present it will respect the max-width settings to avoid line wrap */

    display: inline-block;
    margin: 0;

    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    text-align: left;
    vertical-align: middle;

    &:only-child {
      max-width: 100%;
    }

    max-width: 220px;

    +breakpoint($breakpoint-s) {
      max-width: 385px;
    }

    +breakpoint($breakpoint-m) {
      max-width: 550px;

      font-size: 21px;
      line-height: 24px;
    }
  }
}

.u-paddedRow {
  padding-left: 20px;
  padding-right: 20px;
}

.carousel-n-up-responsive .paginator-hairline-btn {
  position: absolute;
  bottom: 30px;
  height: 60px;
  width: 40px;
  background-color: $white;
  background-size: 32%;
  box-shadow: 0 0 2px 0 $grey-light;
  &.paginator-hairline-btn-prev {
    left: -6px;

    +breakpoint($breakpoint-l) {
      left: -3px;
    }

    +breakpoint($breakpoint-xl) {
      left: 0;
    }
  }

  &.paginator-hairline-btn-next {
    right: -6px;

    +breakpoint($breakpoint-l) {
      right: -3px;
    }

    +breakpoint($breakpoint-xl) {
      right: 0;
    }
  }
}

.p13n-carousel {
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 2px;
  margin-bottom: 8px;
  white-space: nowrap;

  .p13n-tile {
    margin-top: 14px;
  }
}

.module-p13n-recommendations {
  background-color: $white;
  padding: 0;

  .oos-price {
    color: $grey-medium;
  }

  .oos {
    color: $grey-medium;
    text-transform: none;
    font-size: 0.92rem;
  }

  .soi {
    height: 35px;
    line-height: 20px;
    font-size: 14px;
    +breakpoint($breakpoint-m) {
      line-height: 22px;
    }
  }
}

// homepage
.homepage {
  .module-p13n-recommendations.module-p13n-recommendations-parent-none {
    background-color: $white;
  }

  .module-p13n-recommendations {
    .carousel-slide {
      width: 196px;
    }
  }
}

.module-p13n-recommendations.module-p13n-recommendations-parent-none {
  background-color: $blue-light;
}

.pac-primary {
  .tempo-module-header {
    padding-left: 40px;
  }
}

// start PERSSITEP-2684, PR 11038
.product-page .module-p13n-recommendations .carousel-loading {
  padding-top: 0;

  .items {
    overflow: hidden;

    white-space: nowrap;

    >li {
      display: inline-block;

      white-space: normal;
    }

    // overide no wrap for tile-heading as it messes with truncation
    .tile-heading {
      white-space: normal;
    }
  }

  .carousel-slide {
    width: 196px;
  }
}
// end PERSSITEP-2684, PR 11038

// Product page specific
.top-product-recommendations {
  .expanded {
    height: auto;
  }

  .animating {
    transition: height 0.4s ease;
  }
}

.module-p13n-recommendations {
  .parent-heading-container {
    wmzindex("basic");
    margin-top: -14px;
    background-color: $white;
    opacity: 0.6;
  }

  .parent-heading {
    margin: 0 0 0 20px;
    color: $black;
    font-size: 14px;
    line-height: 14px;
  }
}

.rvi-view {
  .p13n-rvi-module {
    padding: 0;
  }

  .rvi-recommendations-container {
    margin-top: 12px;
  }

  .clear-list {
    margin-top: 3px;
    cursor: pointer;

    color: $blue;
    font-size: 16px;
  }

  .module-p13n-recommendations {
    background: $white;
    padding: 0;

    .Tile {
      margin-top: 14px;
    }
  }
}

.recently-viewed-tiles {
  width: 100%;
  clearfix();

  .rvi-tile-image-link {
    display: inline-block;
    margin: 0 10px;
    float: left;
    border: 1px solid $grey-cool;
    border-radius: 5px;
    opacity: 0.6;
    height: 62px;

    &.selected {
      border-color: $green;
      opacity: 1;
    }
  }

  .rvi-tile-image {
    width: 60px;
    height: @width;
    padding: 5px;
  }
}

// ===============================
// p13n utility bar container

.p13n-utility-bar-container {
  margin-top: 6px;
  .utility-bar-text {
    font-size: 14px;
    color: $black;
  }

  .utility-bar-sorter {
    margin: $s-spacing $s-spacing $s-spacing 0;

    .dropdown {
      outline: none;
    }

    .utility-bar-text {
      margin-right: 6px;

      font-size: 14px;
    }

    ul {
      margin: 0;

      font-size: 15px;

      li {
        padding: $xs-spacing $m-spacing;
        cursor: pointer;

        &:hover {
          background: $blue-light;
        }
      }
    }

    .flyout-modal {
      width: 168px;
      margin-left: -(@width/2);
      padding: 0;
    }
  }
}

// ===============================
// black friday page
.category-main .blackfriday-p13n-carousel {
  position: relative;

  .module-p13n-recommendations {
    margin-left: 40px;
  }
}

.rvi-spinner-container {
  position: relative;
  display: none;

  .spinner {
    position: absolute;
  }
}

.module-p13n-recommendations .spinner-container .spinner-backdrop {
  position: relative;
  display: block;

  .spinner {
    position: absolute;
  }
}

.module-p13n-recommendations {

  .carousel-n-up-responsive {
    padding-bottom: 24px;
  }

  .slick-active .carousel-paginator-item {
    background: #888;
  }

  .tile {
    border-color: transparent;
  }

  .Tile-flags {
    position: absolute;
    top: 12px;
    left: 0;

    .flag {
      &:before {
        left: 0;

        border-left-color: transparent;
      }
    }

    .flag + .flag {
      margin-top: $xxs-spacing;
    }
  }

  .Tile {
    -breakpoint($breakpoint-s) {
      width: 128px;
    }
  }

  .Tile-content {
    height: 124px;
    padding-left: 12px;
    padding-right: 12px;
    text-align: left;

    +breakpoint($breakpoint-xl) {
      padding-right: $s-spacing;
      padding-left: $s-spacing;
    }

    .Tile-priceContent {
      height: 35px;

      .Price-block {
        height: 35px;
        overflow: hidden;

        .Price-display {
          font-size: 1.125rem;
          line-height: 0.9;
          text-transform: inherit;

          .Price {
            padding-right: 6px;
            vertical-align: inherit;
          }

          .Price-old {
            height: 1.2rem;
            margin-left: 0;
            padding-left: 0;
            white-space: nowrap;
            vertical-align: middle;
          }

          .Savings-price {
            line-height: 1.2;
          }

          .copy-mini {
            font-size: .75rem;
          }

          .copy-small {
            font-size: .875rem;
          }

          .sub {
            font-size: .75rem;
            text-transform: none;
          }
        }
      }
    }

    .Tile-heading {
      margin-top: 0;
      font-size: .875rem;
      display: block;
      max-height: 36px;
      overflow: hidden;
      color: #444;
      line-height: 18px;
    }

    .Tile-shippingPass {
      margin-top: 5px;
    }
  }

  .p13n-tile {
    background: $white;

    .btn-inverse {
      width: 112px;
      height: 25px;
      margin: 0px auto 8px;
      line-height: 0px;

      +breakpoint($breakpoint-s) {
        width: 128px;
      }
    }

    .p13n-atc-more {
      padding-bottom: 8px;
    }

    .prod-ProductCTAAddToCart {
      margin: 0px;
      padding-bottom: 8px;
      white-space: normal;

      .btn-inverse .btn-progress-spinner:before {
        background-color: $grey-very-light;
      }

      .add-error .flyout-modal {
        max-width: 172px;
        p {
          padding-right: 4%;
          to-rem(font-size, 14px);
          text-align: left !important;
        }
        +breakpoint($breakpoint-xs-max, "max") {
          to-rem(font-size, 12px);
          padding-right: 0;
        }
      }

      .added-to-cart .flyout-modal {
        p {
          padding: 4px 4px 0px 0px;
          to-rem(font-size, 14px);
        }
      }

      .flyout-modal {
        width: 90%;
        padding: 0px;
        line-height: 12px;
        to-rem(font-size, 12px);

        .btn-block {
          height: 24px;
          margin-top: 6px;
          padding: 0px;
          line-height: 24px;
          to-rem(font-size, 14px);
        }

        +breakpoint($breakpoint-s) {
          to-rem(font-size, 16px);
          line-height: 18px;
          .btn-block {
            to-rem(font-size, 16px);
          }
        }

        .flyout-close {
          top: 0px;
          right: 0px;
        }
      }
    }
  }
}
