.product-basic-info {
  display: inline-block;
  height: 60px;
  width: 100%;
  overflow: auto;

  +breakpoint($breakpoint-m) {
    display: block;
    height: 105px;
  }

  .product-title {
    font-size: remify(14px);
    margin-top: -5px;
    padding-bottom: 5px;

    +breakpoint($breakpoint-m) {
      font-size: remify(18px);
      margin-top: 10px;
      padding-bottom: $xs-spacing;
    }
  }

  .prod-ProductCard--Image {
    width: 50px;
    height: @width;
    float: left;
    margin-right: 10px;

    +breakpoint($breakpoint-m) {
      width: 100px;
      height: @width;
    }
  }

  .variant-info {
    display: inline-block;

    .variant {
      margin: 0 10px 0 0;
    }

    .variant-name {
      font-size: remify(14px);
      display: inline-block;
    }

    .variant-swatch {
      display: inline-block;
    }

    &.variant-pipe-separator {
      margin-left: 10px;
      border-left: 1px solid black;
      padding-left: 10px;
    }
  }
}
