.ProductShortInfo {
  display: inline-block;
  height: auto;
  width: 100%;
  overflow: auto;

  +breakpoint($breakpoint-m) {
    display: block;
  }

  .product-title {
    font-size: remify(14px);
    margin-top: -5px;
    padding-bottom: 5px;

    +breakpoint($breakpoint-m) {
      font-size: remify(18px);
      margin-top: 10px;
      padding-bottom: $xs-spacing;
    }
  }

  &-imageButton {
    margin-right: 20px;
  }

  &-quantityIncluded {
    overflow: hidden;
  }

  .stars {
    padding-top: $s-spacing;
  }

  &-shortDescription {
    padding-top: $s-spacing;

    color: $grey-medium;
    font-size: remify(14px);

    div:first-child {
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

}
