.SideBarMenuModuleItem { // @stylint ignore
  .SideBarMenu-toggle { // @stylint ignore
    &:hover, &:focus {
      span {
        color: $blue;
        font-weight: 600;
      }
    }
  }
}

.SideBarMenuModule { // @stylint ignore
  .expander .expander-toggle {
    color: $black;
  }
}
