<Banner
  moduleType="ValueOfDayMessaging"
  data={{
    headerText1: "Black Friday",
    backgroundColor: "#ddd",
    headerColor1: "#9ed6fa",
    headerText3: null,
    headerText2: "Deals",
    headerColor3: "#222",
    headerColor2: "#f47421",
    secondaryText1: "Your hottest offers for today.",
    secondaryColor1: "#fff",
    secondaryText2: null,
    secondaryColor2: "#f47421",
    secondaryText3: null,
    secondaryColor3: "#222"
  }}
/>
