<CrossLinksModule
  moduleTitle="Popular Category"
  data={[
    {
      "uid": "WcaenllV",
      "url": "/cp/1229722",
      "title": "Apple"
    },
    {
      "uid": "WcaenllV1",
      "url": "/cp/1229722",
      "title": "Apple Brand Experience"
    },
    {
      "uid": "WcaenllV2",
      "url": "/cp/1229722",
      "title": "Apple Brand Experience"
    },
    {
      "uid": "WcaenllV3",
      "url": "/cp/1229722",
      "title": "Apple Brand Experience"
    },
    {
      "uid": "WcaenllV4",
      "url": "/cp/1229722",
      "title": "Apple Brand Experience"
    },
    {
      "uid": "WcaenllV5",
      "url": "/cp/1229722",
      "title": "Apple Brand Experience"
    },
    {
      "uid": "WcaenllV6",
      "url": "/cp/1229722",
      "title": "Apple Brand Experience"
    },
    {
      "uid": "WcaenllV7",
      "url": "/cp/1229722",
      "title": "Apple Brand Experience"
    }
  ]}
/>
