<ExpandableHtmlText
  moduleType="SEOCustomHTML"
  markup={`<b>Pioneer Woman Cookware</b><p>Walmart.com is proud to offer the Pioneer Woman line of kitchen, cooking and dinnerware products.  This new line of <a href="http://www.walmart.com/browse/home/cookware-sets/4044_623679_133020_599265">cookware</a> products will equip an entire kitchen, from beautiful bowls to cast iron classics. <p>The Pioneer Woman is an award-winning food blogger and TV personality, and now she shares her expertise on whisks, pots, pans, wooden spoons, plates, knives, measuring cups, pitchers and more with Walmart. She has been involved with each and every piece to make sure they?re all pretty, practical, functional and in line with her personal style. In her words: "I want every single piece to be something I myself would drool over.`}
/>
