<InfiniteMenu
  moduleType="CategoryNav"
  data={[
    {
      "linkText": "All Deals",
      "url": "http://www.walmart.com",
      "uid": "wAAdKeyJ"
    },
    {
      "linkText": "Electronics",
      "url": "http://www.walmart.com",
      "uid": "wAAdKeyJ"
    },
    {
      "linkText": "Home",
      "url": "http://www.walmart.com",
      "uid": "wAAdKeyJ"
    },
    {
      "linkText": "Clothing",
      "url": "http://www.walmart.com",
      "uid": "wAAdKeyJ"
    },
    {
      "linkText": "Baby",
      "url": "http://www.walmart.com",
      "uid": "wAAdKeyJ"
    },
    {
      "linkText": "Toys",
      "url": "http://www.walmart.com",
      "uid": "wAAdKeyJ"
    },
    {
      "linkText": "Sports & Outdoors",
      "url": "http://www.walmart.com",
      "uid": "wAAdKeyJ"
    },
    {
      "linkText": "Home Improvement",
      "url": "http://www.walmart.com",
      "uid": "wAAdKeyJ"
    },
    {
      "linkText": "All Deals",
      "url": "http://www.walmart.com",
      "uid": "wAAdKeyJ"
    },
    {
      "linkText": "Electronics",
      "url": "http://www.walmart.com",
      "uid": "wAAdKeyJ"
    },
    {
      "linkText": "Home",
      "url": "http://www.walmart.com",
      "uid": "wAAdKeyJ"
    },
    {
      "linkText": "Clothing",
      "url": "http://www.walmart.com",
      "uid": "wAAdKeyJ"
    },
    {
      "linkText": "Baby",
      "url": "http://www.walmart.com",
      "uid": "wAAdKeyJ"
    },
    {
      "linkText": "Toys",
      "url": "http://www.walmart.com",
      "uid": "wAAdKeyJ"
    },
    {
      "linkText": "Sports & Outdoors",
      "url": "http://www.walmart.com",
      "uid": "wAAdKeyJ"
    },
    {
      "linkText": "Home Improvement",
      "url": "http://www.walmart.com",
      "uid": "wAAdKeyJ"
    }
  ]}
 />
