<MinistoryStackable
  moduleType="MinistoryStackable"
  rows={[
    {
      "spots": [
        {
          "uid": "JC7k1RuY",
          "assetId": "3201753",
          "url": "http://www.walmart.com/browse/windows-10-qualified-upgrade-shelf/0/0/?_refineresult=true&_be_shelf_id=2650&search_sort=100&facet=shelf_id:2650",
          "imageUrl": "http://ll-us-i5.wal.co/dfw/4ff9c6c9-90cb/k2-_fd8cc893-3a3d-4004-9b6e-a6b79173eafd.v1.jpg",
          "width": 433,
          "alt": "Windows 10"
        },
        {
          "uid": "JC7k1RuY",
          "assetId": "3201753",
          "url": "http://www.walmart.com/browse/windows-10-qualified-upgrade-shelf/0/0/?_refineresult=true&_be_shelf_id=2650&search_sort=100&facet=shelf_id:2650",
          "imageUrl": "http://ll-us-i5.wal.co/dfw/4ff9c6c9-90cb/k2-_fd8cc893-3a3d-4004-9b6e-a6b79173eafd.v1.jpg",
          "width": 433,
          "alt": "Windows 10"
        },
        {
          "uid": "JC7k1RuY",
          "assetId": "3201753",
          "url": "http://www.walmart.com/browse/windows-10-qualified-upgrade-shelf/0/0/?_refineresult=true&_be_shelf_id=2650&search_sort=100&facet=shelf_id:2650",
          "imageUrl": "http://ll-us-i5.wal.co/dfw/4ff9c6c9-90cb/k2-_fd8cc893-3a3d-4004-9b6e-a6b79173eafd.v1.jpg",
          "width": 433,
          "alt": "Windows 10"
        }
      ]
    },
    {
      "spots": [
        {
          "uid": "JC7k1RuY",
          "assetId": "3201753",
          "url": "http://www.walmart.com/browse/windows-10-qualified-upgrade-shelf/0/0/?_refineresult=true&_be_shelf_id=2650&search_sort=100&facet=shelf_id:2650",
          "imageUrl": "http://ll-us-i5.wal.co/dfw/4ff9c6c9-90cb/k2-_fd8cc893-3a3d-4004-9b6e-a6b79173eafd.v1.jpg",
          "width": 433,
          "alt": "Windows 10"
        },
        {
          "uid": "JC7k1RuY",
          "assetId": "3201753",
          "url": "http://www.walmart.com/browse/windows-10-qualified-upgrade-shelf/0/0/?_refineresult=true&_be_shelf_id=2650&search_sort=100&facet=shelf_id:2650",
          "imageUrl": "http://ll-us-i5.wal.co/dfw/4ff9c6c9-90cb/k2-_fd8cc893-3a3d-4004-9b6e-a6b79173eafd.v1.jpg",
          "width": 433,
          "alt": "Windows 10"
        },
        {
          "uid": "JC7k1RuY",
          "assetId": "3201753",
          "url": "http://www.walmart.com/browse/windows-10-qualified-upgrade-shelf/0/0/?_refineresult=true&_be_shelf_id=2650&search_sort=100&facet=shelf_id:2650",
          "imageUrl": "http://ll-us-i5.wal.co/dfw/4ff9c6c9-90cb/k2-_fd8cc893-3a3d-4004-9b6e-a6b79173eafd.v1.jpg",
          "width": 433,
          "alt": "Windows 10"
        }
      ]
    }
  ]}
/>
