<PopularCategories
  moduleType="FeaturedCategoriesCurated"
  data={[
    {
      "title": "TVs",
      "alt": "TVs",
      "imageUrl": "//i5.walmartimages.com/dfw/4ff9c6c9-5220/k2-_ace57524-f8e5-4fb9-8189-4f94adf6d011.v1.jpg",
      "url": "http://www.walmart.com/#"
    },
    {
      "title": "Cell Phones",
      "alt": "Cell Phones",
      "imageUrl": "//i5.walmartimages.com/dfw/4ff9c6c9-bc99/k2-_7607b6d6-d13b-4dbe-b29a-d6364ed25238.v1.jpg",
      "url": "http://www.walmart.com/#"
    },
    {
      "title": "Laptops",
      "alt": "Laptops",
      "imageUrl": "//i5.walmartimages.com/dfw/4ff9c6c9-ce9a/k2-_71a2c162-b553-428e-8e52-d149efbf0da9.v1.jpg",
      "url": "http://www.walmart.com/#"
    },
    {
      "title": "Desktop Computers",
      "alt": "Desktop Computers",
      "imageUrl": "//i5.walmartimages.com/dfw/4ff9c6c9-3354/k2-_e817d553-f652-4fa4-ab7f-feba65c3bd46.v1.jpg",
      "url": "http://www.walmart.com/#"
    },
    {
      "title": "Cameras & Camcorders",
      "alt": "Cameras & Camcorders",
      "imageUrl": "//i5.walmartimages.com/dfw/4ff9c6c9-660d/k2-_a89e0beb-73e7-43b1-b0ac-8fe2a66501da.v1.jpg",
      "url": "http://www.walmart.com/#"
    },
    {
      "title": "GPS",
      "alt": "GPS",
      "imageUrl": "//i5.walmartimages.com/dfw/4ff9c6c9-5bcc/k2-_f28670f1-3ad0-4492-8cb2-40e139ab2284.v1.jpg",
      "url": "http://www.walmart.com/#"
    },
    {
      "title": "Video Games",
      "alt": "Video Games",
      "imageUrl": "//i5.walmartimages.com/dfw/4ff9c6c9-4337/k2-_94054b1e-2609-47a1-9302-f3b2182fd612.v1.jpg",
      "url": "http://www.walmart.com/#"
    },
    {
      "title": "Networking & Wireless",
      "alt": "Networking & Wireless",
      "imageUrl": "//i5.walmartimages.com/dfw/4ff9c6c9-113b/k2-_56931560-23f0-4cb4-aa05-440618e81da9.v1.jpg",
      "url": "http://www.walmart.com/#"
    },
    {
      "title": "Monitors",
      "alt": "Monitors",
      "imageUrl": "//i5.walmartimages.com/dfw/4ff9c6c9-5eb3/k2-_1d4f31a4-492c-496b-aa58-fe51b169e773.v1.jpg",
      "url": "http://www.walmart.com/#"
    },
    {
      "title": "Hard Drives",
      "alt": "Hard Drives",
      "imageUrl": "//i5.walmartimages.com/dfw/4ff9c6c9-6af8/k2-_e8acda10-d99a-4d57-9eb6-610939724968.v1.jpg",
      "url": "http://www.walmart.com/#"
    },
    {
      "title": "TVs",
      "alt": "TVs",
      "imageUrl": "//i5.walmartimages.com/dfw/4ff9c6c9-5220/k2-_ace57524-f8e5-4fb9-8189-4f94adf6d011.v1.jpg",
      "url": "http://www.walmart.com/#"
    },
    {
      "title": "Cell Phones",
      "alt": "Cell Phones",
      "imageUrl": "//i5.walmartimages.com/dfw/4ff9c6c9-bc99/k2-_7607b6d6-d13b-4dbe-b29a-d6364ed25238.v1.jpg",
      "url": "http://www.walmart.com/#"
    },
    {
      "title": "Laptops",
      "alt": "Laptops",
      "imageUrl": "//i5.walmartimages.com/dfw/4ff9c6c9-ce9a/k2-_71a2c162-b553-428e-8e52-d149efbf0da9.v1.jpg",
      "url": "http://www.walmart.com/#"
    },
    {
      "title": "Desktop Computers",
      "alt": "Desktop Computers",
      "imageUrl": "//i5.walmartimages.com/dfw/4ff9c6c9-3354/k2-_e817d553-f652-4fa4-ab7f-feba65c3bd46.v1.jpg",
      "url": "http://www.walmart.com/#"
    },
    {
      "title": "Cameras & Camcorders",
      "alt": "Cameras & Camcorders",
      "imageUrl": "//i5.walmartimages.com/dfw/4ff9c6c9-660d/k2-_a89e0beb-73e7-43b1-b0ac-8fe2a66501da.v1.jpg",
      "url": "http://www.walmart.com/#"
    },
    {
      "title": "GPS",
      "alt": "GPS",
      "imageUrl": "//i5.walmartimages.com/dfw/4ff9c6c9-5bcc/k2-_f28670f1-3ad0-4492-8cb2-40e139ab2284.v1.jpg",
      "url": "http://www.walmart.com/#"
    },
    {
      "title": "Video Games",
      "alt": "Video Games",
      "imageUrl": "//i5.walmartimages.com/dfw/4ff9c6c9-4337/k2-_94054b1e-2609-47a1-9302-f3b2182fd612.v1.jpg",
      "url": "http://www.walmart.com/#"
    },
    {
      "title": "Networking & Wireless",
      "alt": "Networking & Wireless",
      "imageUrl": "//i5.walmartimages.com/dfw/4ff9c6c9-113b/k2-_56931560-23f0-4cb4-aa05-440618e81da9.v1.jpg",
      "url": "http://www.walmart.com/#"
    },
    {
      "title": "Monitors",
      "alt": "Monitors",
      "imageUrl": "//i5.walmartimages.com/dfw/4ff9c6c9-5eb3/k2-_1d4f31a4-492c-496b-aa58-fe51b169e773.v1.jpg",
      "url": "http://www.walmart.com/#"
    },
    {
      "title": "Hard Drives",
      "alt": "Hard Drives",
      "imageUrl": "//i5.walmartimages.com/dfw/4ff9c6c9-6af8/k2-_e8acda10-d99a-4d57-9eb6-610939724968.v1.jpg",
      "url": "http://www.walmart.com/#"
    },
    {
      "title": "GPS",
      "alt": "GPS",
      "imageUrl": "//i5.walmartimages.com/dfw/4ff9c6c9-5bcc/k2-_f28670f1-3ad0-4492-8cb2-40e139ab2284.v1.jpg",
      "url": "http://www.walmart.com/#"
    },
    {
      "title": "Video Games",
      "alt": "Video Games",
      "imageUrl": "//i5.walmartimages.com/dfw/4ff9c6c9-4337/k2-_94054b1e-2609-47a1-9302-f3b2182fd612.v1.jpg",
      "url": "http://www.walmart.com/#"
    },
    {
      "title": "Networking & Wireless",
      "alt": "Networking & Wireless",
      "imageUrl": "//i5.walmartimages.com/dfw/4ff9c6c9-113b/k2-_56931560-23f0-4cb4-aa05-440618e81da9.v1.jpg",
      "url": "http://www.walmart.com/#"
    },
    {
      "title": "Monitors",
      "alt": "Monitors",
      "imageUrl": "//i5.walmartimages.com/dfw/4ff9c6c9-5eb3/k2-_1d4f31a4-492c-496b-aa58-fe51b169e773.v1.jpg",
      "url": "http://www.walmart.com/#"
    },
    {
      "title": "Hard Drives",
      "alt": "Hard Drives",
      "url": "http://www.walmart.com/#",
      "imageUrl": "//i5.walmartimages.com/dfw/4ff9c6c9-6af8/k2-_e8acda10-d99a-4d57-9eb6-610939724968.v1.jpg",
      "url": "http://www.walmart.com/#"
    }
  ]}
/>
