<PopularCategories
  moduleType="FeaturedBrandsCurated"
  data={[
    {
      "title": "TVs",
      "alt": "TVs",
      "imageUrl": "//i5.walmartimages.com/dfw/4ff9c6c9-5220/k2-_ace57524-f8e5-4fb9-8189-4f94adf6d011.v1.jpg",
      "url": "http://www.walmart.com/#"
    },
    {
      "title": "Cell Phones",
      "alt": "Cell Phones",
      "imageUrl": "//i5.walmartimages.com/dfw/4ff9c6c9-bc99/k2-_7607b6d6-d13b-4dbe-b29a-d6364ed25238.v1.jpg",
      "url": "http://www.walmart.com/#"
    },
    {
      "title": "Laptops",
      "alt": "Laptops",
      "imageUrl": "//i5.walmartimages.com/dfw/4ff9c6c9-ce9a/k2-_71a2c162-b553-428e-8e52-d149efbf0da9.v1.jpg",
      "url": "http://www.walmart.com/#"
    },
    {
      "title": "Desktop Computers",
      "alt": "Desktop Computers",
      "imageUrl": "//i5.walmartimages.com/dfw/4ff9c6c9-3354/k2-_e817d553-f652-4fa4-ab7f-feba65c3bd46.v1.jpg",
      "url": "http://www.walmart.com/#"
    }
  ]}
 />
