<ProductCarousel
  firstTile={{
    url:"//www.walmart.com",
    imageUrl:"//i5.walmartimages.com/dfw/4ff9c6c9-ab9d/k2-_8ad66b5e-2645-4378-a1b7-43b1f1c32087.v1.png",
    button: {
      textColor: "#f2f2f2",
      color: "purple",
      text: "Shop Now"
    }
  }}

  items={[
    {
      "title": "Toshiba Jet Black 15.6\" Satellite C55-B5319 Laptop PC with Intel Celeron N2840 Processor, 4GB Memory, 500GB Hard Drive and Windows 10 Home",
      "imageSrc": "http://i5.walmartimages.com/dfw/dce07b8c-fa04/k2-_7b095ef1-1aca-4bd5-bf06-8bd3ab71a52a.v2.jpg",
      "url": "/ip/Toshiba-Jet-Black-15.6-Satellite-C55-B5319-Laptop-PC-with-Intel-Celeron-N2840-Processor-4GB-Memory-500GB-Hard-Drive-and-Windows-10-Home/46784950",
      "price": {
        "price": 239,
        "wasPrice": 299,
        "savingsPrice": 60,
        "currency": "$"
      },
      "stars": {
        "total": 5,
        "count": 337,
        "average": 4.215
      }
    },
    {
      "title": "Seiki SE19HE01 19\" 720p 60Hz LED HDTV",
      "imageSrc": "http://i5.walmartimages.com/dfw/dce07b8c-c24c/k2-_b3fda2e1-5554-4fdd-adb4-0ab36fc6a401.v1.jpg",
      "url": "/ip/Seiki-SE19HE01-19-720p-60Hz-LED-HDTV/35030314",
      "price": {
        "price": 69.99,
        "listPrice": 99.99,
        "savingsPrice": 30,
        "currency": "$"
      },
      "stars": {
        "total": 5,
        "count": 55,
        "average": 4.218
      }
    },
    {
      "title": "Refurbished HP Sparkling Black 15.6\" 15-g039wm Laptop PC with AMD A8-6410 Quad-Core Processor, 4GB Memory, 750 Hard Drive and Windows 8.1 (Eligible for Free Windows 10 Upgrade)",
      "imageSrc": "http://i5.walmartimages.com/dfw/dce07b8c-e8a4/k2-_404851f9-0ff6-4b38-97de-3606fa7625b1.v1.jpg",
      "url": "/ip/Refurbished-HP-Sparkling-Black-15.6-15-g039wm-Laptop-PC-with-AMD-A8-6410-Quad-Core-Processor-4GB-Memory-750-Hard-Drive-and-Windows-8.1-Eligible-fo/43804768",
      "price": {
        "price": 249,
        "wasPrice": 399,
        "savingsPrice": 150,
        "currency": "$"
      },
      "stars": {
        "total": 5,
        "count": 7,
        "average": 3.857
      }
    },
    {
      "title": "Apple iPad Air 2 Wi-Fi",
      "imageSrc": "http://i5.walmartimages.com/dfw/dce07b8c-4e76/k2-_98459688-f233-4117-b90c-6c9990540e34.v2.jpg",
      "url": "/ip/Apple-iPad-Air-2-16GB-Wi-Fi/37648975",
      "fromPrice": {
        price: 449,
        currency: "$",
        type: "from"
      },
      "stars": {
        "total": 5,
        "count": 167,
        "average": 4.749
      }
    },
    {
      "title": "Refurbished HP Black 15.6\" 15-F018DX Laptop PC with Intel Core i3-0430U Processor, 6GB Memory, 750GB Hard Drive and Windows 8.1 (Eligible for Free Windows 10 Upgrade)",
      "imageSrc": "http://i5.walmartimages.com/dfw/dce07b8c-2a8e/k2-_9bb8497a-6687-4479-90b5-f7836f6a0e51.v1.jpg",
      "url": "/ip/Refurbished-HP-Black-15.6-15-F018DX-Laptop-PC-with-Intel-Core-i3-0430U-Processor-6GB-Memory-750GB-Hard-Drive-and-Windows-8.1-Eligible-for-Free-Win/44297988",
      "price": {
        "price": 269,
        "wasPrice": 449.99,
        "savingsPrice": 180.99
      }
    },
    {
      "title": "Refurbished HP Natural Silver/Ash Silver 17.3\" Pavilion 17-F115DX Laptop PC with Intel Core i5-4210U Processor, 6GB Memory, 750GB Hard Drive and Windows 8.1 (Eligible for Free Windows 10 Upgrade)",
      "imageSrc": "http://i5.walmartimages.com/dfw/dce07b8c-5c54/k2-_c50d2d86-da55-4b12-8106-0505b46635a8.v1.jpg",
      "url": "/ip/Refurbished-HP-Natural-Silver-Ash-Silver-17.3-Pavilion-17-F115DX-Laptop-PC-with-Intel-Core-i5-4210U-Processor-6GB-Memory-750GB-Hard-Drive-and-Windo/44786364",
      "price": {
        "price": 349,
        "wasPrice": 499,
        "savingsPrice": 150
      },
      "stars": {
        "total": 5,
        "count": 2,
        "average": 3.5
      }
    },
    {
      "title": "Straight Talk Apple iPhone 5S 16GB 4G LTE Prepaid Smartphone",
      "imageSrc": "http://i5.walmartimages.com/dfw/dce07b8c-7f9d/k2-_5a073179-016f-4cde-bf6a-0401d5ebd3cf.v3.jpg",
      "url": "/ip/Straight-Talk-Apple-iPhone-5S-16GB-4G-LTE-Prepaid-Smartphone/33152937",
      "price": {
        "price": 199,
        "wasPrice": 450,
        "savingsPrice": 251
      },
      "stars": {
        "total": 5,
        "count": 3122,
        "average": 2.1
      }
    },
    {
      "title": "SCEPTRE X322BV-M 32\" LED Class 720P HDTV with ultra slim metal brush bezel, 60Hz",
      "imageSrc": "http://i5.walmartimages.com/dfw/dce07b8c-568e/k2-_e091d0f5-5118-4ceb-8637-1050bcf631c6.v2.jpg",
      "url": "/ip/SCEPTRE-X322BV-M-32-LED-Class-720P-HDTV-with-ultra-slim-metal-brush-bezel-60Hz/25059351",
      "price": {
        "price": 129,
        "listPrice": 199.99,
        "savingsPrice": 70.99
      },
      "stars": {
        "total": 5,
        "count": 122,
        "average": 3.5
      }
    },
    {
      "title": "Nextbook Flexx 10.1\" 2-in-1 Tablet 2/32GB Quad Core Windows 8  (Eligible for Free Windows 10 Upgrade)",
      "imageSrc": "http://i5.walmartimages.com/dfw/dce07b8c-cb53/k2-_bb3e8923-697c-476f-a3e7-6cfc90587a42.v1.jpg",
      "url": "/ip/Nextbook-Flexx-10.1-2-in-1-Tablet-2-32GB-Quad-Core-Windows-8-Eligible-for-Free-Windows-10-Upgrade/44503405",
      "price": {
        "price": 99.99,
        "wasPrice": 149,
        "savingsPrice": 49.01
      },
      "stars": {
        "total": 5,
        "count": 2190,
        "average": 3.5
      }
    },
    {
      "title": "Full Motion TV Wall Mount for 10\"-50\" TVs with Tilt and Swivel Articulating Arm and HDMI Cable, UL Certified",
      "imageSrc": "http://i5.walmartimages.com/dfw/dce07b8c-334a/k2-_604b1695-89a4-496c-8e53-d16b64f7b797.v1.jpg",
      "url": "/ip/Full-Motion-TV-Wall-Mount-for-10-50-TVs-with-Tilt-and-Swivel-Articulating-Arm-and-HDMI-Cable/45162260",
      "price": {
        "price": 14.88,
        "listPrice": 79,
        "savingsPrice": 64.12
      },
      "stars": {
        "total": 5,
        "count": 4798,
        "average": 4.529
      }
    },
    {
      "title": "Straight Talk AT&T Compatible Standard and Micro SIM Activation Kit",
      "imageSrc": "http://i5.walmartimages.com/dfw/dce07b8c-51e3/k2-_d60b8a33-85a7-4b87-adf0-40da786b5d11.v1.jpg",
      "url": "/ip/Straight-Talk-AT-T-Compatible-Standard-and-Micro-SIM-Activation-Kit/34565627",
      "price": {
        "price": 0.99,
        "wasPrice": 6.99,
        "savingsPrice": 6
      },
      "stars": {
        "total": 5,
        "count": 583,
        "average": 4.276
      }
    },
    {
      "title": "Sylvania Premium Portable Bluetooth Rugged Garage Speaker",
      "imageSrc": "http://i5.walmartimages.com/dfw/dce07b8c-9055/k2-_331f7864-8cce-4940-8bd2-4b9a12e40c58.v1.jpg",
      "url": "/ip/Sylvania-Premium-Portable-Bluetooth-Rugged-Garage-Speaker/46275750",
      "fromPrice": {
        price: 11.88,
        currency: "$",
        type: "from"
      },
      "stars": {
        "total": 5,
        "count": 130,
        "average": 4.595
      }
    },
    {
      "title": "Canon PIXMA MG2920 White Wireless Inkjet Photo All-in-One Printer/Copier/Scanner",
      "imageSrc": "http://i5.walmartimages.com/dfw/dce07b8c-ec5d/k2-_02d4d39f-6808-4a8e-ab2f-970fb081ce87.v1.jpg",
      "url": "/ip/Canon-PIXMA-MG2920-White-Wireless-Inkjet-Photo-All-in-One-Printer-Copier-Scanner/45394853",
      "price": {
        "price": 29,
        "wasPrice": 39,
        "savingsPrice": 10
      },
      "stars": {
        "total": 5,
        "count": 495,
        "average": 3.911
      }
    },
    {
      "title": "Full Motion TV Wall Mount for 19\"-84\" TVs with Tilt and Swivel Articulating Arm and HDMI Cable, UL Certified",
      "imageSrc": "http://i5.walmartimages.com/dfw/dce07b8c-17cd/k2-_91afb07b-e3ae-4eac-8c78-faac8abf33fc.v1.jpg",
      "url": "/ip/Full-Motion-TV-Wall-Mount-for-19-84-TVs-with-Tilt-and-Swivel-Articulating-Arm-and-HDMI-Cable/45162255",
      "price": {
        "price": 50,
        "listPrice": 129,
        "savingsPrice": 79
      },
      "stars": {
        "total": 5,
        "count": 2977,
        "average": 4.63
      }
    },
    {
      "title": "SCEPTRE X405BV-F 40\" LED Class 1080P HDTV with ultra slim metal brush bezel, 60Hz",
      "imageSrc": "http://i5.walmartimages.com/dfw/dce07b8c-3578/k2-_8725da99-da45-4a8a-b94a-9863ea26fb40.v1.jpg",
      "url": "/ip/SCEPTRE-X405BV-F-40-LED-Class-1080P-HDTV-with-ultra-slim-metal-brush-bezel-60Hz/27608624",
      "price": {
        "price": 219,
        "listPrice": 399.99,
        "savingsPrice": 180.99
      },
      "stars": {
        "total": 5,
        "count": 5332,
        "average": 4.274
      }
    },
    {
      "title": "Dell Black 15.6\" Inspiron 3542 Laptop PC with Intel Celeron 2957U Processor, 4GB Memory, 500GB Hard Drive and Windows 10 Home",
      "imageSrc": "http://i5.walmartimages.com/dfw/dce07b8c-36ca/k2-_97771953-3f5b-48fc-a0a1-6cd8c7643451.v1.jpg",
      "url": "/ip/Dell-Black-15.6-Inspiron-3542-Laptop-PC-with-Intel-Celeron-2957U-Processor-4GB-Memory-500GB-Hard-Drive-and-Windows-10-Home/48826479",
      "price": {
        "price": 291.19
      },
      "stars": {
        "total": 5,
        "count": 109,
        "average": 4.2
      }
    },
    {
      "title": "Apple Earpods Genuine Stereo Headphones w/ Inline Control - White - MD827LL/A",
      "imageSrc": "http://i5.walmartimages.com/dfw/dce07b8c-b8f8/k2-_5695b848-83e1-4f15-bda9-830148ab01b2.v1.jpg",
      "url": "/ip/Apple-Earpods-Genuine-Stereo-Headphones-w-Inline-Control-White-MD827LL-A/44488791",
      "sellerId": "8E3EC82C234B4A5D9D1C2AA8007C2B4E",
      "sellerName": "Altatac",
      "flags": [ { type: "bestseller", "text": "Best Seller"}],
      "price": {
        "price": 11.99,
        "wasPrice": 29,
        "savingsPrice": 17.01
      },
      "stars": {
        "total": 5,
        "count": 140,
        "average": 4.1
      }
    },
    {
      "title": "Sceptre E195BV-S 19\" 720p 60Hz Class LED (1.93\" ultra-slim)  HDTV",
      "imageSrc": "http://i5.walmartimages.com/dfw/dce07b8c-e29b/k2-_8694cea7-b7e0-43d8-bfc6-d46db236bd37.v1.jpg",
      "url": "/ip/Sceptre-E195BV-S-19-720p-60Hz-Class-LED-1.93-ultra-slim-HDTV/22660154",
      "price": {
        "price": 69.99,
        "wasPrice": 99.99,
        "savingsPrice": 30
      },
      "stars": {
        "total": 5,
        "count": 1109,
        "average": 3.849
      }
    },
    {
      "title": "Tax Time Laptop Value Bundle w/Choice of Laptop, Case, Flash Drive & Printer",
      "imageSrc": "http://i5.walmartimages.com/dfw/dce07b8c-200e/k2-_97601238-3abf-481c-ac2f-e548d7a21a5a.v10.jpg",
      "url": "/ip/Holiday-Saving-Laptop-Bundle-with-Choice-of-Laptop-Case-Flash-Drive-Printer/10966053",
      "price": {
        "price": 239.97
      }
    },
    {
      "title": "Canon PIXMA MG2922 Wireless Inkjet All-In-One Printer/Copier/Scanner",
      "imageSrc": "http://i5.walmartimages.com/dfw/dce07b8c-ef3c/k2-_988bc772-831a-43c3-9d37-bb455065bb8a.v1.jpg",
      "url": "/ip/Canon-PIXMA-MG2922-Wireless-Inkjet-All-In-One-Printer-Copier-Scanner-Blue/39082745",
      "price": {
        "price": 35.52,
        "wasPrice": 46.54,
        "savingsPrice": 11.02
      },
      "stars": {
        "total": 5,
        "count": 326,
        "average": 3.587
      }
    }
  ]}
/>
