<TopBrands
  title="Top Brands in Candy"
  moduleType="FeaturedBrandsCurated"
  analyticsDataFunc={() => (
    {
      "getDidMountData": () => {},
      "dispatch": () => {}
      }
    )
  }
  data={[
    {
      "url": "http://www.walmart.com/browse/food/chocolate/hershey-s/976759_1096070_1224976/YnJhbmQ6SEVSU0hFWSdT",
      "alt": "Hershey's",
      "imageUrl": "http://i5.walmartimages.com/dfw/4ff9c6c9-f2da/k2-_8fee8ead-721b-4017-b687-b03b7c56c15a.v1.jpg"
    },
    {
      "url": "http://www.walmart.com/browse/food/chocolate/m-m-s/976759_1096070_1224976/YnJhbmQ6TSZNJ1Mie",
      "alt": "M&M",
      "imageUrl": "http://i5.walmartimages.com/dfw/4ff9c6c9-dfc9/k2-_1a8b2956-7d1b-45ad-aa25-71102b0e8f7c.v1.jpg"
    },
    {
      "url": "http://www.walmart.com/browse/food/candy-gum/jelly-belly/976759_1096070/YnJhbmQ6SmVsbHkgQmVsbHkie",
      "alt": "Jelly Belly",
      "imageUrl": "http://i5.walmartimages.com/dfw/4ff9c6c9-1284/k2-_a959c121-9ce8-46af-b378-8d9f5c8996ca.v1.jpg"
    },
    {
      "url": "http://www.walmart.com/browse/food/candy-gum/lindt/976759_1096070/YnJhbmQ6TGluZHQie",
      "alt": "Lindt",
      "imageUrl": "http://i5.walmartimages.com/dfw/4ff9c6c9-99d8/k2-_1f150a7f-62ff-41b3-9b97-cd4d1b42d97b.v1.jpg"
    },
    {
      "url": "http://www.walmart.com/browse/food/candy-gum/russell-stover/976759_1096070/YnJhbmQ6UnVzc2VsbCBTdG92ZXIie",
      "alt": "Russell Stover",
      "imageUrl": "http://i5.walmartimages.com/dfw/4ff9c6c9-edc9/k2-_732787e6-5992-4c30-9b7a-7dc183f57560.v1.jpg"
    },
    {
      "url": "http://www.walmart.com/browse/food/candy-gum/brach-s/976759_1096070/YnJhbmQ6QnJhY2gncwieie",
      "alt": "Brach's",
      "imageUrl": "http://i5.walmartimages.com/dfw/4ff9c6c9-273b/k2-_50c129c9-eb25-4179-bcc3-100752b42ac2.v1.jpg"
    },
    {
      "url": "http://www.walmart.com/browse/food/gummy-chewy/twizzlers/976759_1096070_1224975/YnJhbmQ6VHdpenpsZXJz",
      "alt": "Twizzlers",
      "imageUrl": "http://i5.walmartimages.com/dfw/4ff9c6c9-a770/k2-_ffba1fd1-cd84-4798-a244-ed46f01e5c88.v1.jpg"
    },
    {
      "url": "http://www.walmart.com/browse/food/chocolate/ghirardelli/976759_1096070_1224976/YnJhbmQ6R2hpcmFyZGVsbGkie",
      "alt": "Ghiradelli",
      "imageUrl": "http://i5.walmartimages.com/dfw/4ff9c6c9-847c/k2-_63edffba-bf9c-4054-b17e-e23ceb33598e.v1.jpg"
    },
    {
      "url": "http://www.walmart.com/browse/food/hard-candy-lollipops/life-savers/976759_1096070_1224979/YnJhbmQ6TGlmZSBTYXZlcnMie",
      "alt": "Life Savers",
      "imageUrl": "http://i5.walmartimages.com/dfw/4ff9c6c9-d48b/k2-_ef134619-abff-47c0-abc1-8982a70fd41d.v1.jpg"
    },
    {
      "url": "http://www.walmart.com/browse/food/gum/extra/976759_1096070_1224977/YnJhbmQ6RXh0cmEie",
      "alt": "Extra",
      "imageUrl": "http://i5.walmartimages.com/dfw/4ff9c6c9-b8be/k2-_7aad7fa5-2c86-4629-a1ba-c87a42fbba57.v1.jpg"
    },
    {
      "url": "http://www.walmart.com/browse/food/candy-gum/976759_1096070?cat_id=976759_1096070&facet=brand:WONKA",
      "alt": "Wonka",
      "imageUrl": "http://i5.walmartimages.com/dfw/4ff9c6c9-c20e/k2-_7f198787-ae52-46e9-a83d-e06fc615918c.v1.jpg"
    },
    {
      "url": "http://www.walmart.com/browse/food/hard-candy-lollipops/werther-s-original/976759_1096070_1224979/YnJhbmQ6V2VydGhlciidzIE9yaWdpbmFs",
      "alt": "Werther's Original",
      "imageUrl": "http://i5.walmartimages.com/dfw/4ff9c6c9-2790/k2-_21f65325-f788-45c4-9cb7-171f06977c27.v1.jpg"
    },
    {
      "url": "http://www.walmart.com/browse/food/gummy-chewy/haribo/976759_1096070_1224975/YnJhbmQ6SEFSSUJP",
      "alt": "Haribo",
      "imageUrl": "http://i5.walmartimages.com/dfw/4ff9c6c9-aa2c/k2-_be6a4b55-cc0a-44ad-8ccf-4831ca325c87.v1.jpg"
    },
    {
      "url": "http://www.walmart.com/browse/food/hard-candy-lollipops/jolly-rancher/976759_1096070_1224979/YnJhbmQ6Sm9sbHkgUmFuY2hlcgieie",
      "alt": "Jolly Rancher",
      "imageUrl": "http://i5.walmartimages.com/dfw/4ff9c6c9-1d17/k2-_24cf6f45-e627-4474-867a-77850bcccfee.v1.jpg"
    }
  ]}
/>
