@require "~@walmart/lithe-extras/lib/tenants/walmart/base";
/* ==========================================================================
   Arrange
   ========================================================================== */

// Adapted from: https://github.com/suitcss/components-arrange
//
// arrange        - core component class
// arrange-middle - modifier class for middle-aligned cells
// arrange-bottom - modifier class for bottom-aligned cells
// arrange-equal  - modifier class for equal-width cells
// arrange-spaced - modifier class for adding a gutter between cells.
// arrange-fit    - child class for cells to snap to fit their content
// arrange-fill   - child class for cells to expand to fill the remaining space

$arrange-gutter-size = 1em;

.arrange {
  display: table;
  margin: 0;
  padding: 0;
  min-width: 100%;

  table-layout: auto;
}

.arrange-fill,
.arrange-fit {
  display: table-cell;
  padding: 0;

  vertical-align: top;
}

.arrange-fill {
  width: 100%;
}

// Alignment modifiers

.arrange-middle {
  > .arrange-fill,
  > .arrange-fit {
    vertical-align: middle;
  }
}

.arrange-bottom {
  > .arrange-fill,
  > .arrange-fit {
    vertical-align: bottom;
  }
}

.arrange-baseline {
  > .arrange-fill,
  > .arrange-fit {
    vertical-align: baseline;
  }
}
// Equal width cell modifier

.arrange-equal {
  width: 100%;
  table-layout: fixed;

  > .arrange-fill,
  > .arrange-fit {
    width: 1%;
  }
}

// Equal spacing between cells modifier

.arrange-equal-spacing {
  table-layout: fixed;

  > .arrange-fill,
  > .arrange-fit {
    width: 1%;
  }
}

// Gutter spacing modifier

// NOTE: this can trigger a horizontal scrollbar if the component is as wide as
// the viewport. Use padding on a container, or `overflow-x:hidden` to protect
// against it.

.arrange-spaced {
  margin: 0 (-.5 * $arrange-gutter-size);

  > .arrange-fill,
  > .arrange-fit {
    padding: 0 (.5 * $arrange-gutter-size);
  }
}

// Shrink-Wrap Modifier

// Used to disable min-width if needed

.arrange-shrink {
  min-width: 0;
}

// Use `.arrange` as a replacement for the `.media` or `.flag` objects.
// http://www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code/
// http://csswizardry.com/2013/05/the-flag-object/

.arrange-media-object {
  padding-right: 15px;
}
