@require "~@walmart/lithe-extras/lib/tenants/walmart/base";
/* ==========================================================================
   Grid
   ========================================================================== */

.Grid { // @stylint ignore
  display: block;
  margin: 0;
  padding: 0;

  // Remove space between `inline-block` grid columns.
  font-size: 0;
  text-align: center;
}

generateGridGutters($size) {
  margin: 0 (-.5 * $gridGutters[$size]);

  > .Grid-col { // @stylint ignore
    padding: 0 (0.5 * $gridGutters[$size]);
  }
}

.Grid--gutters { // @stylint ignore
  margin: 0 (0.5 * $gridGutters.s);

  generateGridGutters("s");

  +breakpoint($breakpoint-l) {
    generateGridGutters("xl");
  }

  +breakpoint($breakpoint-xl) {
    generateGridGutters("xxl");
  }
}

.Grid-col { // @stylint ignore
  // Reset parent's font-size change.
  to-rem(font-size, 16px);

  display: inline-block;
  width: 100%;
  margin: 0;
  padding: 0;

  text-align: left;
  vertical-align: top;
}
