<OrderSummary
  subTotal={99}
  itemCount={2}
  itemCountLink="/cart"
  shippingCosts={[
    { label: "Value", price: 9.99 },
    {
      label: "Standard", price: 19.99,
      flyout: {
        label: (<span>How to get <strong>FREE shipping</strong></span>),
        content: (<span>Standard is our recommended shipping method,
          offering a balance of faster speed and low cost, but you can
          choose <strong>FREE Value shipping</strong> in checkout.</span>)
      }
    },
    { label: "Freight", price: 49.99 },
    {
      label: "ShippingPass", price: 0,
      flyout: {
        label: "What is ShippingPass",
        content: "It's Shipping, and Pass!"
      }
    }
  ]}
  genericFees={[
    {
      label: "Merchandise fee", price: 0.99,
      description: "Merchandise fees include all e911(Enhanced 9-1-1), " +
        "recycling and environmental disposal fees."
    },
    {
      label: "Handling fee", price: 0.99
    }
  ]}
  taxPostalCode="90210"
  taxTotal={1.99}
  onTaxZipCodeChanged={ZipCodeHandler.onZipCodeChanged}
/>
