.header-GlobalAccountFlyout {
  padding: 3px $s-spacing 2px 0;
  border-right: 1px solid $blue-hover;
}

.header-GlobalAccountFlyout-name {
  to-rem(font-size, 13px);

  margin-top: 6px;
  color: $yellow;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

  line-height: 1;

  &:hover {
    color: $yellow-hover;
  }

  // Fix layout thrashing due to FOUT when
  // webfonts are loading.
  .wf-loading & {
    to-rem(font-size, 12px);
    letter-spacing: -0.1px;
    line-height: 1.2;
  }
}

.header-GlobalAccountFlyout-flyout {
  .flyout-modal {
    margin-top: 14px;

    white-space: normal;
  }

  .header-GlobalAccountFlyout-flyout-list li {
    margin-top: 6px;
  }

  .header-GlobalAccountFlyout-flyout-link {
    to-rem(font-size, 14px);

    color: $white;
    white-space: nowrap;

    &:hover {
      color: $blue-tertiary;
    }

    // Fix layout thrashing due to FOUT when
    // webfonts are loading.
    .wf-loading & {
      to-rem(font-size, 13px);
      letter-spacing: -0.2px;
    }
  }

  .flyout-modal .header-GlobalAccountFlyout-link {
    to-rem(font-size, 14px);
  }

  .header-GlobalAccountFlyout-instructional {
    to-rem(font-size, 12px);

    margin-top: -2px;
    width: 160px;
    color: $grey-medium;

    line-height: 1.4;
  }
}
