.header-SearchbarWrapper {
  position: absolute;
  top: 40px;
  left: 0;

  padding: 0 $xs-spacing;

  background: $blue;

  +breakpoint($breakpoint-s) {
    padding: 0 16px;
  }

  +breakpoint($breakpoint-l) {
    position: static;

    padding: 0 $m-spacing 0 52px;
  }

  &:not(.hide-content-max-l) + .arrange-fit {
    +breakpoint($breakpoint-m-max, "max") {
      padding-bottom: 40px;
    }
  }
}
