.variants-swatches {
  .variant {
    border-color: $variant-color.border-swatch;
    border-radius: $variant-swatch-radius.default;

    &:hover,
    &:focus {
      border-color: $variant-color.border-swatch-active;
    }
  }

  .variant.selected {
    border-color: $variant-color.border-swatch;
  }

  .variant.disabled,
  .variant.variant-unavailable {
    & {
      border-color: $variant-color.border-swatch;
    }

    &:hover,
    &:focus {
      border-color: $variant-color.border-swatch-disabled;
    }

    &.selected {
      border-color: $variant-color.border-active;
    }
  }

  .variant.selected,
  input:checked + .variant {
    border-color: $variant-color.border-swatch-active;

    background: $variant-color.bg;

    if ($variant-options.swatch-outline) {
      box-shadow: $variant-box-shadow;
    }
  }
}

.variant-swatch {
  display: block;
  width: ($variant-size - 2);
  height: @width;
  border: 3px solid $variant-color.bg;
  border-radius: $variant-swatch-radius.default;

  background-position: center;
  text-indent: -9999px;

  &.multicolor {
    background-image: linear-gradient(to right, #0009FF 0%, #FFF700 50%, #FF0303 100%);
  }
}
