.variants-small {
  .variant {
    width: $variant-size-small;
    height: @width;
    border-radius: $variant-swatch-radius.small;

    line-height: (@width - 2);
  }

  .variant-swatch {
    width: ($variant-size-small - 2);
    height: @width;
    border-width: 2px;
    background-size: 22px;
    border-radius: $variant-swatch-radius.small;

    &:after {
      display: none;
    }
  }

  .variant.selected,
  input:checked + .variant {
    $tenant-variant-swatch-small-active();
  }
}
