@require "~@walmart/wmreact-base/src/styles/base";

.back-link {
  display: inline-block;

  .arrow-link-before:before {
    content: '\E032';
    border: none;

    +breakpoint($breakpoint-m) {
      content: "";
      display: inline-block;
      margin-right: 5px;
      border: 5px solid transparent;
      border-right-color: $blue-secondary;
      vertical-align: middle;
    }
  }

  .back-link-name {
    display: none;

    +breakpoint($breakpoint-m) {
      display: inline-block;
      to-rem(font-size, 12px);
      color: $blue;
    }
  }
}

/* ==========================================================================
   Variables
   ========================================================================== */

$persistent-subnav-item ?= {
  bg-color-current: #007dc6
}

/*!
Persistent Subnavigation

Styleguide 9.1
*/

.persistent-subnav {
  wmzindex("persistent-subnav");

  clear: both;
  position: relative;
  top: 0;

  width: 100%;
  height: 44px;

  background: $white;
  box-shadow: 0 3px 2px -2px rgba(0, 0, 0, .2), 0 -2px 1px -2px rgba(0, 0, 0, .2);
  // Creates new stacking context, allowing the primary page nav dropdown to
  // sit on top of the persistent-subnav.
  opacity: .99;

  &.fixed {
    position: fixed;
    right: 0;
    left: 0;
  }

  &.close {
    position: relative;
    top: 0;
  }
}

$persistent-subnav();

.persistent-subnav-list {
  margin: 0;
  padding: 0;

  // Removes space between inline-block elements
  font-size: 0;
  list-style: none;
}

.persistent-subnav-item {
  display: inline-block;
  width: 25%;

  font-size: 16px;
  list-style: none;

  a {
    position: relative;

    display: block;
    height: 44px;

    font-weight: 600;
    line-height: @height;
    text-align: center;
  }
}

.persistent-subnav-item.current {
  a {
    color: $black;

    &:before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;

      width: 100%;
      height: 5px;

      background-color: $persistent-subnav-item.bg-color-current;
    }
  }
}

/*!
Persistent Back to Top

Styleguide 9.2
*/

@keyframes nav-top-slide-up {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes nav-top-slide-down {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(100%);
  }
}

/*!
Breadcrumb

.breadcrumb-list-mini - A mini variant for the product page.

Styleguide 9.3
*/

.breadcrumb-list {
  position: relative;

  margin: 0;
  padding: 0;

  font-size: 0;
}

.breadcrumb {
  position: relative;

  display: inline-block;
  padding-left: 25px;

  font-size: 14px;

  &.active a {
    color: $grey-medium;
  }

  .breadcrumb-leaf {
    // using <h2> for leaf breadcrumb for SEO purpose, styling this <h2> like a link
    display: inline;

    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
  }

  &:before {
    +ifWalmarticons() {
      walmarticons();
      wmicon("angle-right");
    }

    position: absolute;
    left: 10px;
    top: 5px;

    color: $grey-medium;
    font-size: 7px;
  }

  &:first-child {
    padding-left: 0;

    &:before {
      display: none;
    }
  }

  em {
    font-style: normal;
    font-weight: 400;
  }
}

.breadcrumb-list-mini {
  .breadcrumb {
    font-size: 12px;

    &:before {
      top: 4px;
    }
  }
}
