<ImageList separator={(<span className="plus-sign display-inline-block">+</span>)}>
  <BundleImage title="Some kind of computing device"
    decorate={true}
    details="Standard item"
    imageUrl="http://ll-us-i5.wal.co/dfw/dce07b8c-d575/k2-_40c4fec9-fdf5-4786-893e-261131a0b581.v3.jpg?odnWidth=300&odnHeight=300"
    showDetails={true}
  />
  <BundleImage title="The new macbook"
    decorate={true}
    details="2 options"
    imageUrl="http://ll-us-i5.wal.co/dfw/dce07b8c-d575/k2-_40c4fec9-fdf5-4786-893e-261131a0b581.v3.jpg?odnWidth=100&odnHeight=100"
    showDetails={true}
  />
  <BundleImage title="A bag"
    decorate={true}
    details="Hello"
    imageUrl="http://ll-us-i5.wal.co/dfw/dce07b8c-b00a/k2-_8c2b9c7e-b77b-45f5-a154-f7ed98d5de03.v1.jpg?odnWidth=300&odnHeight=300"
    showDetails={true}
  />
  <BundleImage title="Printer"
    decorate={true}
    details="5 options"
    imageUrl="http://ll-us-i5.wal.co/dfw/dce07b8c-baac/k2-_2bf0b48d-40e2-487a-ba9f-1bcd4787d3cc.v1.jpg?odnWidth=300&odnHeight=300"
    showDetails={true}
  />
</ImageList>
