<Specification specifications={
  [
    {
      "DataType": "STRING",
      "MultiValue": "false",
      "Property": "aspect_ratio",
      "DisplayName": "Aspect Ratio",
      "Value": [
        "16:9"
      ]
    },
    {
      "DataType": "STRING",
      "MultiValue": "false",
      "Property": "color",
      "DisplayName": "Color",
      "Value": [
        "Black"
      ]
    },
    {
      "DataType": "STRING",
      "MultiValue": "false",
      "Property": "remote_control_included",
      "DisplayName": "Is Remote Control Included",
      "Value": [
        "Y"
      ]
    },
    {
      "DataType": "STRING",
      "MultiValue": "false",
      "Property": "resolution",
      "DisplayName": "Resolution",
      "Value": [
        "1080p",
        "HDTV"
      ]
    },
    {
      "DataType": "STRING",
      "MultiValue": "false",
      "Property": "connector_type",
      "DisplayName": "Connector Type",
      "Value": [
        "1 x Component/Composite Video, 1 x Ethernet, 3 x HDMI, 1 x Optical Digital Audio, 1 x RCA Audio L+R, 1 x RF (Coaxial), 1 x USB 2.0"
      ]
    },
    {
      "DataType": "STRING",
      "MultiValue": "false",
      "Property": "model",
      "DisplayName": "Model",
      "Value": [
        "D43-D2"
      ]
    },
    {
      "DataType": "STRING",
      "MultiValue": "false",
      "Property": "screen_size",
      "DisplayName": "Screen Size",
      "Value": [
        "43\""
      ]
    },
    {
      "DataType": "STRING",
      "MultiValue": "false",
      "Property": "brand",
      "DisplayName": "Brand",
      "Value": [
        "VIZIO"
      ]
    },
    {
      "DataType": "STRING",
      "MultiValue": "false",
      "Property": "volts",
      "DisplayName": "Volts",
      "Value": [
        "120 V"
      ]
    },
    {
      "DataType": "STRING",
      "MultiValue": "false",
      "Property": "television_type",
      "DisplayName": "Television Type",
      "Value": [
        "LED TVs",
        "Smart TVs"
      ]
    },
    {
      "DataType": "STRING",
      "MultiValue": "false",
      "Property": "audio_decoder",
      "DisplayName": "Audio Track Codec",
      "Value": [
        "Dolby Digital Plus"
      ]
    },
    {
      "DataType": "STRING",
      "MultiValue": "false",
      "Property": "energy_star",
      "DisplayName": "Is Energy Star-Certified",
      "Value": [
        "Y"
      ]
    },
    {
      "DataType": "STRING",
      "MultiValue": "false",
      "Property": "condition",
      "DisplayName": "Condition",
      "Value": [
        "New"
      ]
    },
    {
      "DataType": "STRING",
      "MultiValue": "false",
      "Property": "manufacturer_part_number",
      "DisplayName": "Manufacturer Part Number",
      "Value": [
        "D43-D2"
      ]
    },
    {
      "DataType": "STRING",
      "MultiValue": "false",
      "Property": "refresh_rate",
      "DisplayName": "Refresh Rate",
      "Value": [
        "120 Hz"
      ]
    },
    {
      "DataType": "STRING",
      "MultiValue": "False",
      "Property": "dimension",
      "DisplayName": "Assembled Product Dimensions (L x W x H)",
      "Value": [
        "41.73 x 5.51 x 28.97 IN"
      ]
    }
  ]
}/>
