.ExpandableHtmlText { // @stylint ignore
  padding: 0 $xs-spacing $s-spacing;

  .btn-fake-link {
    display: block;
    padding: 10px 0;
    margin: 0;
    width: 100%;

    text-align: center;
  }

  .revealer-footer {
    border-top: 1px solid $blue-secondary;

    .caret {
      &:after {
        position: relative;
        left: 5px;

        display: inline-block;
      }
    }
  }

  .ExpandableHtmlText-markup {
    b {
      to-rem(font-size, 21px);
      line-height: 150%;
      +breakpoint($breakpoint-m) {
        to-rem(font-size, 25px);
      }
    }

    p {
      to-rem(font-size, 14px);
      line-height: 150%;
    }
  }

  +breakpoint($breakpoint-s) {
    padding: 0 16px $s-spacing;
  }

  +breakpoint($breakpoint-m) {
    padding: 0 $m-spacing $xl-spacing;

    .Collapsable { // @stylint ignore
      // the collapsable component has inline style
      max-height: none !important; // @stylint ignore
    }

    .revealer-footer {
      display: none;
    }
  }
}
.ExpandableHtmlText-heading {  // @stylint ignore
  margin-bottom: 16px;
}

.ExpandableHtmlText-text {  // @stylint ignore
  to-rem(font-size, 14px);
  +breakpoint($breakpoint-l) {
    padding: 0 $l-spacing $xl-spacing;
  }
}
