.MultiStory {  // @stylint ignore
  margin-bottom: 34px;

  .paginator-hairline-btn {
    display:none;

    +breakpoint($breakpoint-m) {
      display: block;
    }
  }

  .carousel-paginator-list {
    padding-bottom: $xxs-spacing;

    +breakpoint($breakpoint-l) {
      padding-bottom: 0;
    }
  }

  .carousel-paginator-item {
    box-shadow: 0 0 1px rgba(0, 0, 0, .2), 1px 1px 3px rgba(0, 0, 0, .25);
  }

}
