$xs-img-size = 80px;
$s-img-size = 90px;
$l-img-size = 128px;
$xl-img-size = 144px;
$xs-title-container-height = 29px;
$l-title-container-height = 48px;

.PopularCategories { // @stylint ignore
  .Collapsable { // @stylint ignore
    min-height: 126px;

    +breakpoint($breakpoint-s) {
      min-height: 136px;
    }

    +breakpoint($breakpoint-l) {
      min-height: 232px;
    }

    +breakpoint($breakpoint-xl) {
      min-height: 248px;
    }
  }

  .ModuleDrawerTile { // @stylint ignore
    padding-top: $xs-spacing;

    +breakpoint($breakpoint-l) {
      padding-top: 0;
    }

    .ModuleDrawerTile-image { // @stylint ignore
      display: block;
      margin: 0 auto;

      width: $xs-img-size;
      height: $xs-img-size;

      +breakpoint($breakpoint-s) {
        width: $s-img-size;
        height: $s-img-size;
      }

      +breakpoint($breakpoint-l) {
        width: $l-img-size;
        height: $l-img-size;
      }

      +breakpoint($breakpoint-xl) {
        width: $xl-img-size;
        height: $xl-img-size;
      }
    }

    .ModuleDrawerTile-heading { // @stylint ignore
      padding-top: 3px;

      height: 38px;

      +breakpoint($breakpoint-l) {
        padding-top: $m-spacing;

        height: 104px;
      }
    }

    .ModuleDrawerTile-heading-link { // @stylint ignore
      multiline-ellipsify($xs-title-container-height);

      display: block;
      overflow: hidden;

      height: $xs-title-container-height;
      line-height: 14px;

      color: $module-tile-heading-link;

      &:hover {
        color: $hover-link;
      }

      font-size: 14px;
      text-align: center;

      +breakpoint($breakpoint-l) {
        multiline-ellipsify($l-title-container-height);

        height: $l-title-container-height;
        line-height: 24px;

        font-size: 16px;

        &:after {
          top: -1.5em;
        }
      }
    }
  }
}
