$sidebarmenu-width = 277px;
$sidebarmenu-flyout-speed = .2s;
$sidebarmenu-flyout-col-width = 170px;
$sidebarmenu-flyout-link-height = 39px;

.SideBarMenuModuleItem {  // @stylint ignore
  position: relative;

  .SideBarMenu-toggle {  // @stylint ignore
    display: table;
    padding: 9px 20px;
    width: 100%;
    background: $white;

    &.is-active, &.is-active:focus{
      background: $sidebarmenu-background-focus;
    }

    // for vertical center align unknown text
    span {
      display: table-cell;
      vertical-align: middle;
      width: 100%;
      padding-right: 12px;
      color: $black;
      to-rem(font-size, 14px);
    }
  }

  span.rotate-90dge {
      transform: rotate(90deg);
      padding-right: 0;
  }

  .SideBarMenu-flyout {  // @stylint ignore

    wmzindex("negative");

    position: absolute;
    top: -55px;
    left: $sidebarmenu-width;
    background: $white;
    border-radius: 0 5px 5px 0;
    box-shadow: 7px 0 15px rgba(0, 0, 0, .15);
    opacity: 0;
    pointer-events: none;

    &.is-active{

      wmzindex("flyout-caret-shadow");

      left: 100%;
      opacity: 1;
      transition: opacity $sidebarmenu-flyout-speed ease;
      pointer-events: auto;
    }
  }

  for $i in (1..4) {
    .SideBarMenu-flyout-{$i}col {
      width: ($i * $sidebarmenu-flyout-col-width) + ($i * 15) + 40;
    }
  }

  .SideBarMenu-flyout-inner {  // @stylint ignore
      clearfix();

      padding: 30px 10px 5px 25px;
      box-shadow: inset 6px 0 5px -5px rgba(0, 0, 0, .15);

      .block-list {
        margin-top: 0;
        margin-right: 15px;
        width: $sidebarmenu-flyout-col-width;

        li {
          height: $sidebarmenu-flyout-link-height;
        }

        a {
          display: block;
          line-height: 1;
          color: $black;
          to-rem(font-size, 14px);

          &:hover {
            color: $blue-hover;
          }
        }
      }
    }
}

li {
  padding: 0;
  text-align: left;
}

.SideBarMenuModule {  // @stylint ignore
  border-top: 1px solid $grey-very-light;

  .expander.expanded > .expander-content {
    display: inline-block;
    padding: 0;
  }

  .expander .expander-toggle {
    margin: 0;
    height: auto;
    min-height: 36px;
    padding-left: $m-spacing;
  }

}
