.TopBrands {   // @stylint ignore
  .ModuleDrawerTile {
    position: relative;

    height: 65px;
    margin-bottom: 10px;

    +breakpoint($breakpoint-m) {
      height: 126px;
    }
  }

  .ModuleDrawerTile-image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    max-height: 60px;
    max-width: 60px;
    height: auto;
    width: auto;
    margin: auto;

    +breakpoint($breakpoint-m) {
      max-height: 100px;
      max-width: 100px;
      height: auto;
      width: auto;
    }
  }
}
