<div>
  <PasswordField label="Password" value="sh4h4h4" />
  <PasswordField label="Password" value="s3cr3t" defaultChecked={true} />
  <PasswordField label="Password" shouldDisplayError={() => true} />
  <PasswordField label="Password" shouldDisplayValid={() => true} />
</div>
