<div>
  <SelectField label="Basic select fields">
    <option key="Red" value="Red">Red</option>
    <option key="Green" value="Green">Green</option>
    <option key="Yellow" value="Yellow">Yellow</option>
    <option key="Blue" value="Blue">Blue</option>
    <option key="Magenta" value="Magenta">Magenta</option>
  </SelectField>
  <SelectField
    label="Basic select fields with controlled values"
    onChange={() => {}}
    value="Yellow"
  >
    <option key="Red" value="Red">Red</option>
    <option key="Green" value="Green">Green</option>
    <option key="Yellow" value="Yellow">Yellow</option>
    <option key="Blue" value="Blue">Blue</option>
    <option key="Magenta" value="Magenta">Magenta</option>
  </SelectField>
  <SelectField
    touched
    error="Uh oh! Are you feeling blue?"
    label="This is intentionally not a `Chooser`."
    defaultValue="Blue"
  >
    <option key="Red" value="Red">Red</option>
    <option key="Green" value="Green">Green</option>
    <option key="Yellow" value="Yellow">Yellow</option>
    <option key="Blue" value="Blue">Blue</option>
    <option key="Magenta" value="Magenta">Magenta</option>
  </SelectField>
  <SelectField
    shouldDisplayValid={() => true}
    label="Valid icon"
    defaultValue="Blue"
  >
    <option key="Red" value="Red">Red</option>
    <option key="Green" value="Green">Green</option>
    <option key="Yellow" value="Yellow">Yellow</option>
    <option key="Blue" value="Blue">Blue</option>
    <option key="Magenta" value="Magenta">Magenta</option>
  </SelectField>
  <SelectField label="Disabled select fields" disabled>
    <option key="Red" value="Red">Red</option>
    <option key="Green" value="Green">Green</option>
    <option key="Yellow" value="Yellow">Yellow</option>
    <option key="Blue" value="Blue">Blue</option>
    <option key="Magenta" value="Magenta">Magenta</option>
  </SelectField>
</div>
