.sams-club-locator-popup {
  display:block;
  float: right;
  font-size: 12px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, .29);
  max-width: 190px;
  height:100px;
  margin-top: 5px;
  margin-right: 2px;
  z-index: 6000;
  position:absolute;
  background-color : #ffffff;
  border-radius: 2px;
}

+breakpoint($breakpoint-m-max, "max") {
  .sams-club-locator-popup {
    transform: translate(-50%);
  }
}
.sams-club-locator-popup .notification {
  display: inline-block;
  margin-left: 15px;
  width: 178px;
  height: 16px;
  font-size: 13px;
  color: $black;
  font-family: AktivGrotesk-Regular;
}

.remove-icon {
  float: right;
}

.sams-club-locator-popup .change-club{
  display:block;
  margin-left:10px;
  padding-left:5px;

  width: 82px;
  height: 18px;
  font-family: AktivGrotesk-Medium;
  font-size: 12px;
  line-height: 1.3;
  color: $blue;

}
.sams-club-locator-popup .clubDetails {
  width:190px;
  height: 32px;
  display:block;
  margin-left:10px;
  padding-left:5px;
  font-size: 12px;
  color:#424242;
  line-height: 1.3;
}
