@require "~@walmart/wmreact-layout/src/styles/layout";
@require "~@walmart/wmreact-base/src/styles/base";
@require "~@walmart/wmreact-interactive/src/styles/interactive";
@require "~@walmart/wmreact-containers/src/styles/containers";
@require "~@walmart/wmreact-forms/src/styles/forms";
@require "./member-services-nav";
@require "./header-lefthand-nav";
@require "./club-results";
@require "./club-locator";
@require "./find-a-club";
@require "./club-locator-popup";
@require "./offcanvas-nav";
@require "./global-eyebrow-nav";
@require "./store-list-item";
@require "./store-list";
@require "./store-finder-field";
@require "./store-finder-panel";
@require "./header-logo";
@require "./search-dropdown";
@require "./searchbar-wrapper";
@require "./global-search";
@require "./global-typeahead";
@require "./header-cart";
@require "./global-account-flyout";
@require "./global-lefthand-nav";
@require "./global-lefthand-nav-mobile";
@require "./global-secondary-nav";
@require "./global-marketing-messages";
@require "./business-tools-nav";
@require "./banner-message";

$mobile-input-grey = #f2f2f2;
$mobile-input-text-grey = rgba(66, 66, 66, .8);

$header-fixed-height = 50px;
$header-box-shadow = 0 2px 3px rgba(0, 0, 0, .2);

.header-Header {
  font-smoothing();

  background-color: $white;

  .btn-fake-link:hover, .btn-fake-link:focus, .btn-fake-link:active{
    text-decoration:none;
  }

  // don't show flash of highlight color when opening offcanvas nav
  // have to use both for iOS and some androids
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

.header-Header-wrapper {
  wmzindex("header");
  position: relative;

  ::-webkit-input-placeholder {
    text-align: center;
    color: $mobile-input-text-grey;
  }

  :-moz-placeholder { /* Firefox 18- */
    text-align: center;
    color: $mobile-input-text-grey;
  }

  ::-moz-placeholder {  /* Firefox 19+ */
    text-align: center;
    color: $mobile-input-text-grey;
  }

  :-ms-input-placeholder {
    text-align: center;
    color: $mobile-input-text-grey;
  }

  a, .btn-fake-link {
    color: $black;
  }

  /**
  * Sticky Header
  */
  @keyframes header-slide-down {
    0% {
      transform: translateY(-100%);
    }

    100% {
      transform: translateY(0%);
    }
  }
}

.header-HeaderPrimaryLarge {
  background-color: white;
}

.header-HeaderPrimary-icon {
  to-rem(font-size, 20px);

  height: 40px;
  width: 44px;
  line-height: @height;

  color: $black;

  &:hover {
    color: $blue-secondary-hover;
  }
}

.header-HeaderPrimary-logoWrapper {
  width: 100%;

  +breakpoint($breakpoint-l) {
    width: auto;
    padding-top: 2px;
  }
}

.header-Header, .header-HeaderPrimary {
  background-color: white;
  color: $black;
}

.header-SearchbarWrapper {
  background-color: white;
}

.header-HeaderPrimary-searchbarWrapper {
  background-color: white;
}

.header-GlobalSearch-input {
  border: 1px solid rgba(34, 34, 34, .15);
}

.header-GlobalEyebrowNav-link {
  color: $black;
}

.header-GlobalSearch-submit, .header-GlobalSearch-submit:hover, .header-GlobalSearch-submit:focus {
  background-color: rgba(65, 65, 65, .3);
  color: white;
  display: block;
  box-sizing: border-box;
}

@media screen and (max-width: 1023px) {
  div.header-HeaderPrimary {
    box-shadow: none;
  }
}

@media screen and (max-width: 767px) {
  .header {
    &-SearchbarWrapper {
      box-shadow: 0 2px 3px rgba(0, 0, 0, .2);
    }

    &-GlobalSearch{
      border: none !important;
      margin: 10px 0;
      background-color: $mobile-input-grey;

      &-submit {
        display: none;
      }

      &-input {
        height: 32px !important;
        background-color: $mobile-input-grey;
        padding: 0 15px;
        border-radius: 100px !important;
      }

      .arrange-fill {
        float: left;
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header-SearchbarWrapper {
    box-shadow: 0 2px 3px rgba(0, 0, 0, .2);
  }

  .header-GlobalSearch{
    border: none !important;
    margin: 10px 0;
    background-color: $mobile-input-grey;

    &-submit {
      background: $mobile-input-grey;
      color: rgba(65, 65, 65, .8);
      font-size: 16px;
      font-weight: lighter;
    }

    &-input {
      height: 32px !important;
      background-color: $mobile-input-grey;
      padding: 0 15px;
      border-radius: 100px !important;
    }
  }
}

.sc-promo-slot {
  background: rgba(25, 119, 211, .1);
}

.header-HeaderPrimarySmall {
  background-color: white;
}

.header-HeaderPrimarySmall-icon {
  color: rgba(66, 66, 66, .8);
}

.header-Logo.header-Logo--small {
  width: 114px;
}

.header-Cart .header-Cart-count {
  background-color: #4ca90c;
  color: white;
}

.header-GlobalAccountFlyout-name {
  color: $blue;
}

.header-GlobalMarketingMessages {
  color: $black;
}

.header-Header-mainNav {
  height: 48px;
  font-size: 14px;
  font-weight: 400;

  background: $white;
  box-shadow: $header-box-shadow;

}

.header-GlobalEyebrowNav {
  font-weight: 400;
  color: #707070;
  font-size: 12px;
}

.header-GlobalAccountFlyout-flyout .header-GlobalAccountFlyout-flyout-link {
  color: $black;
}

.header-Cart {
  color: $black;
}

.header-GlobalSearch .header-SearchDropdown {
  display: none;
}

.header-GlobalSearch-input {
  border-radius: 100px 0 0 100px;
}

.header-GlobalSearch-submit {
  border-radius: 100px;
  width: 40px;
}

.header-GlobalSearch {
  border-radius: 100px;
  padding: 2px;
  border: 1px solid rgba(34, 34, 34, .15);
}

.header-GlobalSearch-input {
  border: none;
}

.header-HeaderPrimary {
  background-color: $white;
  box-shadow: $header-box-shadow;

  +breakpoint($breakpoint-l) {
    height: 72px;

    box-shadow: none;
  }

  &.is-expanded {
    +breakpoint($breakpoint-m-max, "max") {
      height: 80px;
    }
  }

  // Overide ResponsiveContainer styles at small breakpoints
  .ResponsiveContainer {
    +breakpoint($breakpoint-m-max, "max") {
      margin-bottom: 50px;
      padding: 0;
    }

    +breakpoint($breakpoint-l) {
      height: 100%;
    }
  }

  .arrange {
    +breakpoint($breakpoint-s) {
      padding: 0 $xxs-spacing;
    }

    +breakpoint($breakpoint-l) {
      height: 100%;
      padding: 0;

      & > .arrange-fit, & > .arrange-fill {
        vertical-align: middle;
      }
    }
  }
}

.header-HeaderPrimary-eyebrowNavWrapper .wmicon {
  display: none;
}

.header-Header .is-fixed .header-GlobalSearch .header-GlobalSearch-submit {
  width: 30px;
}

.header-Header-mainNav .ResponsiveContainer {
  padding-left: 210px;
}

@media screen and (min-width: 64em) {

  .header-Header-mainNav .dropdown-link:after {
    content: "";
    display: inline-block;
    height: 5px;
    left: 5px;

    vertical-align: top;
    width: 5px;
    border-top-color: $blue;
    border: 4px solid $blue;
    color: $blue;
    top: 3px;
    border-style: solid;
    border-width: 2px 2px 0 0;
    transform: rotate(135deg);
  }

  .header-Header-mainNav .dropdown-link.is-active:after {
    transform: rotate(315deg);
  }

  .header-Header .header-GlobalSecondaryNav {
    // margin-left: 480px;
  }

  .header-GlobalLefthandNav-toggle:after {
    margin-left: 5px;
  }
}

.header-GlobalLefthandNav-toggle {
  border-right: none;
}

.header-GlobalLefthandNav-panel-column {
  width: 263px;
}

.header-GlobalLefthandNav-panel-image {
  position: absolute;
  bottom: 0;
  right: 0px;
}

.header-HeaderPrimary-user {
  width: 111px;

  .header-GlobalAccountFlyout-flyout {
    margin-left: 82px;
    padding-right: 2px;
  }
}

.header-HeaderPrimary-user .header-GlobalAccountFlyout-flyout {
  margin-left: 0;
}

.header-GlobalAccountFlyout-link.header-GlobalAccountFlyout-name {
  margin-right: 14px;
}

@media (max-width: 63.9375em) {
  .header-Header .header-GlobalSearch:after {
    border-bottom-color: transparent;
  }
}

@media (max-width: 63.9375em) {
  .header-Header .header-GlobalSearch .header-GlobalSearch-submit {
    width: 30px;
    margin-top: 2px;
    margin-right: 2px;
  }
}

.wmicon.wmicon-search.header-HeaderPrimary-icon {
  display: none;
}

.wmicon.wmicon-businessTools.header-HeaderPrimary-icon {
  display: none;
}

.wmicon.wmicon-memberServices.header-HeaderPrimary-icon {
  display: none;
}

.header-Header {
  min-width: 320px;
}

.header-Header .is-fixed {
  wmzindex("header-fixed");

  +breakpoint($breakpoint-l) {
    .header-Header-mainNav {
      display: none;
    }

    .header-HeaderPrimary-eyebrowNavWrapper {
      display: none;
    }

    .header-HeaderPrimary {
      height: $header-fixed-height;
      max-width: 100%;

      box-shadow: $header-box-shadow;

      animation: header-slide-down .5s ease forwards;

      .header-GlobalLefthandNav-wrapper {
        top: $header-fixed-height;
      }

      .header-HeaderPrimary-logoWrapper {
        padding-top: 0;
      }

      .header-HeaderPrimary-searchbarWrapper {
        height: auto;
        padding: 0 $m-spacing 0 42px;
      }

      .header-GlobalAccountFlyout-name {
        margin-top: 2px;
      }

      .header-HeaderPrimary-user {
        width: 157px;
      }

      .header-GlobalAccountFlyout {
        height: 41px;
      }

      .header-GlobalAccountFlyout-flyout {
        margin-left: 50px;
      }
    }
  }
}

+breakpoint($breakpoint-m-max, "max") {
  .header-Header-wrapper .BannerMessage {
    margin-top: -22px;
  }

  .header-Header-wrapper .ResponsiveContainer {
    background-color: $white;
  }

}

.header-Header .is-fixed {
  wmzindex("header-fixed");

  .BannerMessage {
    display: none;
  }
}
