@require "~@walmart/wmreact-base/src/styles/base";

@require "~@walmart/wmreact-containers/src/styles/containers";
@require "~@walmart/wmreact-error-page/src/styles/error-page";
@require "~@walmart/wmreact-forms/src/styles/forms";
@require "~@walmart/wmreact-interactive/src/styles/interactive";
@require "~@walmart/wmreact-layout/src/styles/layout";
@require "~@walmart/wmreact-credit-card/src/styles/credit-cards";

$baseCreditCardPathSP ?= "~@walmart/redux-shipping-pass-page/images/"; // @stylint ignore

.shipping-pass-wrapper-container {
  
  /* General */
  .separator {
    margin-top: 12px;
  }

  p {
    margin-top: 12px;
  }
  
  .cc-widget-spacing {
    margin-bottom: 30px;
  }
  
  .sp-logo {
    display: inline-block;
    vertical-align: middle;
    height: 1em;
  }
  
  .spinner-well {
    position: relative;
  }
  
  .slide-panel {
    margin: 16px 16px 16px 16px;
    position: relative;
  }
  
  /* Modal */
  .modal-heading {
    margin-top: 0;
  }
    
  /* Well */
  .well.well-padded {
    padding: 12px;
  }

  .well-heading {
    font-size: 25px;
    margin-top: 0;
  }

  .well-background {
    background-color: $white;
    border-radius: 10px;
  }

  /* Button */
  .button-size {
    font-size: 14px;
  }
  
  .button-spacing {
    margin-right: 10px;
  }

  .button-center {
    margin: 0 auto;
  }

  .more-info-button {
    +breakpoint($breakpoint-s-max, "max") {
      padding-left: 40%;
    }
  }
  
  .update-button {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  /* Modal */
  .cancel-modal-body {
    width: auto;
    top: 50%;
  }

  .info-modal-body {
    max-height: calc(100vh - 210px);
    overflow-y: auto;
  }

  /* Payment Option */
  .card-spacing {
    margin-top: 8px;
    margin-bottom: 8px;
  }
  
  .cc-text {
    font-size: 16px;
  }

  .payment-option {
    display: inline-block;

    background: url($baseCreditCardPathSP + "checkout-sprite.png") no-repeat;
    vertical-align: middle;
    margin: 0;
    width: 30px;
    height: 20px;
  }

  .american-express {
    background-position: 0 0;
  }
  .walmart-credit-card {
    background-position: -35px 0;
  }
  .visa {
    background-position: -70px 0;
  }
  .discover {
    background-position: -105px 0;
  }
  .mastercard {
    background-position: -140px 0;
  }
  .walmart-mastercard {
    background-position: -175px -24px;
  }
  
  /* Credit Cards */
  .credit-card-expired-label {
    font-size: 14px;
    font-weight: 600;
  }
  
  .add-credit-card {
    height: 195px;
  }
  
  .radio-tile-primary {
    color: #222;
    padding-bottom: 5px;
  }
  
  .radio-tile .radio-tile-content {
    padding: 0;
  }
  
  .credit-card {
    border: none;
  }
  
  .credit-card-wrapper .add-credit-card {
    border: 1px solid #c2cfd6;
  }
  
  .radio-tile-header {
    padding: 10px 10px 0;
  }
  
  .btn-primary {
    background-color: #007dc6;
  }
  
  .radio-tile input:checked + .radio-tile-content .radio-tile-icon:before, .radio-tile input + .radio-tile-content .radio-tile-icon:before {
    content: "";
    border-color: #c2cfd6;
    background: $white;
    width: 18px;
    height: 18px;
  }
  
  .radio-tile input:checked + .radio-tile-content {
    border-color: #007dc6;
    box-shadow: 0 0 0 1px #007dc6;
  }
  .radio-tile input:checked + .radio-tile-content .radio-tile-icon:after {
    content: "\A0";
    background: #007dc6;
    position: absolute;
    top: 12px;
    left: 13px;
    display: block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
  }
}
