<div>
  <h3>Swatch variant Example</h3>
  <ProductVariantType
  variantType="SWATCH"
  swatchToggleCountPerBreakpoint={
    {
      "x-small": {
        swatchToggleCount: 5
      },
      "small": {
        swatchToggleCount: 9
      },
      "medium": {
        swatchToggleCount: 4
      },
      "large": {
        swatchToggleCount: 6
      },
      "x-large": {
        swatchToggleCount: 2
      }
    }
  }
  id="actual_color"
  selectedVariantName="Arctic White"
  selectedVariantId="actual_color-arcticwhite"
  onVariantClick={(ev)=>{console.log(ev.currentTarget.dataset.variantId);}}
  onVariantMouseLeave={(ev)=>{console.log(ev.currentTarget.dataset.variantId);}}
  onVariantMouseEnter={(ev)=>{console.log(ev.currentTarget.dataset.variantId);}}
  name="Actual Color"
  variants={[
  {
    id: "actual_color-greyplaid",
    name: "Grey Plaid",
    selected:false,
    swatchImageUrl: "http://dummyimage.com/60x60/7766EE/fff",
    status: "out of stock"
  },
  {
    id: "actual_color-greyplaid1",
    name: "Grey Plaid1",
    selected:false,
    swatchImageUrl: "http://dummyimage.com/60x60/448899/fff",
    status: "out of stock"
  },
  {
    id: "actual_color-greyplaid2",
    name: "Grey Plaid2",
    selected:false,
    swatchImageUrl: "http://dummyimage.com/60x60/EECCAA/fff",
    status: "out of stock"
  },
  {
    id: "actual_color-greyplaid3",
    name: "Grey Plaid4",
    selected:false,
    swatchImageUrl: "http://dummyimage.com/60x60/22FF99/fff",
    status: "out of stock"
  },
  {
    id: "actual_color-greyplaid4",
    name: "Grey Plaid4",
    selected:false,
    swatchImageUrl: "http://dummyimage.com/60x60/5599AA/fff",
    status: "out of stock"
  },
  {
    id: "actual_color-greyplaid5",
    name: "Grey Plaid5",
    selected:false,
    swatchImageUrl: "http://dummyimage.com/60x60/223344/fff",
    status: "out of stock"
  },
  {
    id: "actual_color-greyplaid6",
    name: "Grey Plaid6",
    selected:false,
    swatchImageUrl: "http://dummyimage.com/60x60/223344/fff",
    status: "out of stock"
  },
  {
    id: "actual_color-greyplaid7",
    name: "Grey Plaid7",
    selected:false,
    swatchImageUrl: "http://dummyimage.com/60x60/223344/fff",
    status: "out of stock"
  },
  {
    id: "actual_color-greyplaid8",
    name: "Grey Plaid8",
    selected:false,
    swatchImageUrl: "http://dummyimage.com/60x60/223344/fff",
    status: "out of stock"
  },
  {
    id: "actual_color-greyplaid9",
    name: "Grey Plaid9",
    selected:false,
    swatchImageUrl: "http://dummyimage.com/60x60/223344/fff",
    status: "out of stock"
  },
  {
    id: "actual_color-arcticwhite",
    name: "Arctic White",
    selected:true,
    swatchImageUrl: "http://dummyimage.com/60x60/667788/fff",
    status: "in stock"
  }
  ]}/>
  <h3>Dropdown variant Example</h3>
  <ProductVariantType variantType="DROPDOWN"
    id="size"
    name="Size"
    selectedVariantName="Full"
    selectedVariantId="size-full"
    onVariantClick={(ev)=>{console.log(ev);}}
    variants={[
      {
        id: "size-full",
        name: "Full",
        status: "in stock",
        selected: true
      }, {
        id: "size-queen",
        name: "Queen",
        status: "in stock",
        selected: false
      }]}/>
</div>
