<div>
 <Variants swatches={true}>
   <Variants.Item displayName="Yellow" index={0} type='radio' selected={true} swatch='#fead41'>
     Yellow
   </Variants.Item>
   <Variants.Item displayName="Red" index={1} type='radio' swatch='#d40b23'>
     Red
   </Variants.Item>
   <Variants.Item displayName="Teal" index={2} type='radio' swatch='#47d9bf'>
     Teal
   </Variants.Item>
   <Variants.Item displayName="Green" index={3} type='radio' swatch='#00ff00'>
     Green
   </Variants.Item>
   <Variants.Item displayName="Yellow" index={0} type='radio' swatch='#fead41'>
     Yellow
   </Variants.Item>
   <Variants.Item displayName="Red" index={1} type='radio' swatch='#d40b23'>
     Red
   </Variants.Item>
   <Variants.Item displayName="Teal" index={2} type='radio' swatch='#47d9bf'>
     Teal
   </Variants.Item>
   <Variants.Item displayName="Green" index={3} type='radio' swatch='#00ff00'>
     Green
   </Variants.Item>
 </Variants>
</div>
