.modal_button-group_container {
  text-align: right;

  +breakpoint($breakpoint-s-max, "max") {
    .btn {
      width: 100%;
      padding-left: $xs-spacing;
      padding-right: $xs-spacing;
      margin: 0 $xxs-spacing;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.modal_button-group_arrange {
  +breakpoint($breakpoint-s-max, "max") {
    display: table;
    margin: 0 (-0.5 * $xs-spacing);
    padding: 0;
    min-width: "calc(100% + %s)" % $xs-spacing;

    table-layout: auto;
  }
}

.modal_button-group_arrange-fill{
  display: inline-block;
  margin-left: $s-spacing;

  +breakpoint($breakpoint-s-max, "max") {
    display: table-cell;
    width: 0%
    padding: 0 (0.5 * $xs-spacing);
    vertical-align: top;
  }
}