const Demo = React.createClass({
  getInitialState() {
    return {
      data: this.generateRandomPercentages()
    }
  },
  generateRandomPercentages() {
    return [
      {
        percentage: Math.floor(Math.random() * 50) + 1,
        color: '#FF7043'
      },
      {
        percentage: Math.floor(Math.random() * 50) + 1,
        color: '#9CCC65'
      },
      {
        percentage: Math.floor(Math.random() * 50) + 1,
        color: '#26C6DA'
      }
    ]
  },
  handleClick() {
    this.setState({
      data: this.generateRandomPercentages()
    })
  },
  render() {
    return (
      <div style={{textAlign: "center"}}>
        <CircleChart data={this.state.data} width="50%" height="50%"/>
        <button className="btn"
          type="button"
          onClick={this.handleClick}>Generate Values</button>
      </div>
    )
  }
});

React.render(<Demo/>, mountNode);