/**
 * Line Clamp Mixin
 */
lineclamp()
  .line-clamp{
    position: relative;
      
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    
    overflow: hidden;
    padding: 0;
    
    line-height: 1.2;
    text-overflow: ellipsis;
  }
  
  .line-clamp:after{
    content: "...";
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: right;
    
    display: block;
    width: 25%;
    height: calc(1em * 1.2);
    
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
  }
    
  @supports (-webkit-line-clamp: 3){
    .line-clamp {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      max-height: calc(1em * 1.2 * 3);
      height: auto;
    }
   
    .line-clamp:after {
      display: none;
    }
  }
    
  .line-clamp-3{
    height: calc(1em * 1.2 * 3);
  }
