.modal.active {
  z-index:6000;
  width: 400px;
  height: 140px;
  margin: 5% -15%;
  padding: 15px 13px;
  border-radius: 2px;
  border:1px solid $gray-eighty;
  background-color: $white;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, .29);

  +breakpoint($breakpoint-s-max, "max") {
    position: absolute;
    display: block;
    width: 280px;
    height: 140px;
    margin-left: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
  }

  .modal-close {
    margin: 24px 15px 0 0;
    border-radius: 0;
    background: $white;

    .wmicon .wmicon-remove {
      margin-right: 20px;
      color: $black;
    }
  }

  .module {
    margin-top: 28px;

    .user-message {
      display: block;
      height: 20px;
      color: $black;
      line-height: 1.2;
    }
  }

  .btn {
    float: right;
    width: 185px;
    height: 40px;
    margin-top: 16px;
    padding: $xs-spacing $m-spacing;
    border-radius: 2px;
    border: 1px solid #4ca90c;
    background-color: #4ca90c;

    +breakpoint($breakpoint-s-max, "max") {
      display: block;
    }
  }
}

.modal-backdrop.active {
  z-index: 100;
  width:100%;
  background-color: rgba(0, 0, 0, .5);
}
