@require "~@walmart/wmreact-layout/src/styles/layout";
@require "~@walmart/wmreact-base/src/styles/base";
@require "~@walmart/wmreact-interactive/src/styles/interactive";
@require "~@walmart/wmreact-containers/src/styles/containers";
@require "~@walmart/wmreact-forms/src/styles/forms";
@require "./legal-links";
@require "./email-modal";

.footer-Footer {
  background-color: #f6f6f6;
  font-family: $font;

  .ResponsiveContainer {
    padding: 22px 32px;

    +breakpoint($breakpoint-l-max, "max") {
      padding: 22px 27px;
    }

    +breakpoint($breakpoint-m-max, "max") {
      padding: 27px 20px;
    }

    +breakpoint($breakpoint-s-max, "max") {
      padding: 20px 30px;
    }

    +breakpoint($breakpoint-xs-max, "max") {
      padding: 0;
    }
  }
}

.divider {
  border-bottom: 1px solid rgba(65, 65, 65, .1);
  margin-bottom: 19px;
  margin-top: 15px;
  width: 100%;
}

.links-divider {
  border-bottom: 1px solid rgba(65, 65, 65, .1);
}

.footer-GlobalSocialIcons {
  display: inline-block;
  float: right;

  +breakpoint($breakpoint-s-max, "max") {
    display: none;
  }

  &--heading {
    display: none !important;
  }

  &--list .wmicon {
    margin-left: 10px;
    float: right;
    color: gray;
  }
}

.text-copyright {
  display: inline-block;
  to-rem(font-size, 12px);
  margin-left: 50px;

  +breakpoint($breakpoint-m-max, "max") {
    display: inline;
    margin-left: 0;
    to-rem(font-size, 12px);
    text-align: left;
  }

  +breakpoint($breakpoint-s-max, "max") {
    display: block;
    to-rem(font-size, 12px);
    text-align: left;
    margin-left: 0;
  }

  +breakpoint($breakpoint-xs-max, "max") {
    padding: 10px 15px;
  }

}

.footer-GlobalEmailSignup {
  +breakpoint($breakpoint-s-max, "max") {
    padding-top: 21px;
    padding-bottom: 15px;
  }

  &-heading {
    display: inline-block;
    width: 50%;

    +breakpoint($breakpoint-s-max, "max") {
      display: block;
      width: 100%;
    }

    +breakpoint($breakpoint-xs-max, "max") {
      display: block;
      padding: 0 16px;
    }
  }

  &-form {
    @extend .footer-GlobalEmailSignup-heading;

    +breakpoint($breakpoint-s-max, "max") {
      margin-top: 10px;
    }

    .form-label {
      position: relative;
      display: inline-block;
      width: 50%;

      +breakpoint($breakpoint-s-max, "max") {
        width: calc(75% - 40px);
        margin-top: calc(.6rem + 10px);
      }

      +breakpoint($breakpoint-xs-max, "max") {
        display: block;
        width: 100%;
      }

      .form-label-text {
        position: absolute;
        top: -1.2rem;
      }

      input.form-control {
        +breakpoint($breakpoint-xs-max, "max") {
          margin-bottom: 10px;
          padding-top: 15px;
          padding-bottom: 15px;
        }
      }
    }

    .btn-primary {
      border-radius: 2px;
      background-color: #4ca90c;
      margin-left: 8px;
      margin-top: 10px;
      vertical-align: top;

      +breakpoint($breakpoint-s-max, "max") {
        width: calc(24% + 35px);
        margin-top: calc(.6rem + 10px);
      }

      +breakpoint($breakpoint-xs-max, "max") {
        display: block;
        background-color: #4ca90c;
        width: 100%;
        margin-left: 0;
      }
    }
  }
}

.footer-GlobalEmailSignup-heading {
  padding-right: 10%;

  +breakpoint($breakpoint-s-max, "max") {
    padding-right: 0;
  }

  p {
    to-rem(font-size, 22px);
    margin: 0;
    font-family: $font;
    font-style: normal;
    color: $black;

    +breakpoint($breakpoint-s-max, "max") {
      display: block;
      to-rem(font-size, 18px);
    }

    +breakpoint($breakpoint-xs-max, "max") {
      text-align: left;
    }
  }
}

.footer-GlobalFooter--small {
  display: none;
}

.footer-GlobalFooterItems {
  &--blockList {
    list-style: none;
    padding: 0;
    margin-top: 8px;
    to-rem(font-size, 12px);
    line-height: 1.8;

    +breakpoint($breakpoint-m-max, "max") {
      display: none;
    }

    a {
      color: $black;
      display: inline;

      +breakpoint($breakpoint-s-max, "max") {
        display: block;
        text-align: center;
      }
    }
  }

  &-heading {
    margin-top: 5px;

    +breakpoint($breakpoint-m-max, "max") {
      display: none;
    }
  }
}

.sams-copyright-socialIcons-wrapper {
  overflow: hidden;
}

.legal-links {
  float: left;

  +breakpoint($breakpoint-m-max, "max") {
    float: none;
    margin-top: 10px;
    display: block;
  }

  +breakpoint($breakpoint-s-max, "max") {
    margin-top: 0;
  }

  +breakpoint($breakpoint-xs-max, "max") {
    margin-bottom: 5px;
  }

  .legal-link-list {
    +breakpoint($breakpoint-xs-max, "max") {
      display: block;
      text-align: left;
      padding: 0 15px;
    }
  }
}
