.legal-links {
  display: inline-block;
  margin-bottom: 19px;

  .legal-link-list {
    margin: 0;
    list-style-type: none;
    padding: 0;
  }

  .legal-link-item {
    border-right: 1px solid rgba(65, 65, 65, .2);
    display: inline-block;
    to-rem(font-size, 12px);
    padding: 0 12px;
  }

  .legal-link-item:first-child {
    padding-left: 0;
  }

  .legal-link-item:last-child {
    border-right: none;
  }

  .legal-link-item a {
    color: $black;
  }
}
