/*!
Separator
Common horizontal rules for separating content blocks.
`.separator-alt` is a darker variant for use on blue backgrounds.
Styleguide 8.15
*/

.separator {
  border-color: $grey-very-light;
}

.separator-heavy {
  border-color: $grey-very-light;
  border-width: 3px;
}

.separator-alt {
  border-color: $grey-light;
}

.separator-dotted {
  horizontal-dotted-border();
}
