.prod-ProductVariantDropdown {
  .chooser-option {
    .prod-ProductVariantDropdown-suffix {
      display: none;
    }

    .prod-ProductVariantDropdown-chooseOption {
      @extend .u-textGrey;

      &:after {
        display: none;
      }
    }
  }
}
