
.option {
  display: block;
}

.option .validation-marker {
  height: auto;
  line-height: inherit;
  position: static;
}

.option-content {
  padding-left: 1.75em;
  color: #444;
  cursor: pointer;
  font-size: .875em;
  font-weight: 600;
  line-height: 1.2;
  vertical-align: middle;
}

.option-content::before {
  position: absolute;
  left: 0;
  border-radius: .1875em;
  font-family: WalmartIcons;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  // @stylint off
  -mos-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  // @stylint on
  content: "\00a0";
  width: 1.375em;
  height: 1.375em;
  border: 1px solid #c2cfd6;
  background-color: #fff;
  color: #fff;
  font-size: 1em;
  line-height: 1.375;
  text-align: center;
}

/** Default Option */

.option:hover .option-content::before {
  border-color: #76c143;
}

input:checked + .option-content::before {
  content: "\e034";
  border-color: #76c143;
  background: #76c143;
  color: #fff;
}

.option-content--error::before {
  // @stylint off
  border-color: #f42121 !important;
  // @stylint on
}

/** Form Control Option */

.option-form-control .option-content {
  font-weight: 400;
}

.option-form-control:hover .option-content::before {
  border-color: #79b9e7;
}

.option-form-control input:checked + .option-content::before {
  border-color: #79b9e7;
  background: #79b9e7;
}

/** Checkout Option */

.option-checkout .option-content {
  font-weight: 400;
}

.option-checkout:hover .option-content::before {
  border-color: #f47421;
}

.option-checkout input:checked + .option-content::before {
  border-color: #f47421;
}

/** isSmall */

.option-small .option-content {
  padding-left: 1.5em;
}

.option-small .option-content::before {
  width: 1em;
  height: 1em;
  line-height: 1;
}

