/*
Validation Markers

Styleguide 13.2
*/

.validation-marker {
  display: inline-block;
  vertical-align: middle;
  font-size: 1em;
}

.validation-marker:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: WalmartIcons;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  font-size: 1em;
  line-height: 1;
}

.validation-marker-success {
  color: #76c143;
  margin-left: .5em;
}

.validation-marker-success:before {
  content: "\E034";
}

.validation-marker-error {
  color: #f42121;
  margin-left: .5em;
}

.validation-marker-error:before {
  content: "\E035";
}

.validation-group {
  position: relative;
  display: inline-block;
  width: 100%;
  line-height: 1.5;
}

.validation-marker {
  position: absolute;
  top: 0;
  right: .625em;
  height: 2.5em;
  line-height: 2.5em;
}

.validation-group .form-control {
  padding-right: 2.125em;
}
