
.radio {
  display: block;
}

.radio input {
  display: none;
}

.radio .validation-marker {
  height: auto;
  line-height: inherit;
  position: static;
}

.radio-content {
  color: #444;
  cursor: pointer;
  font-size: .875em;
  line-height: 1.2;
  vertical-align: middle;
}

.radio-content::before {
  content: "";
  position: relative;
  float: left;
  width: 1.125em;
  height: 1.125em;
  margin: 0 .5em 0 0;
  border: 1px solid #c2cfd6;
  border-radius: 50%;
  background-color: #fff;
}

.radio-content::after {
  content: "";
  position: absolute;
  top: .1875em;
  left: .1875em;
  display: block;
  width: .875em;
  height: .875em;
  border-radius: 50%;
}

.radio:hover .radio-content::before {
  border-color: #007dc6;
}

input:checked + .radio-content::after {
  content: "\00a0";
  background: #007dc6;
}

.radio-content--error::before {
  border-color: #f42121;
}

/** Alt mode */

.radio-alt:hover .radio-content::before {
  border-color: #76c143;
}

.radio-alt input:checked + .radio-content::after {
  background: #76c143;
}


/** Hero mode */

.radio-hero:hover .radio-content::before {
  border-color: #6da6cf;
}

.radio-hero input:checked + .radio-content::after {
  background: #6da6cf;
}


/** Ensure that the selected border stays the same color */

.radio:hover input:hover + .radio-content::before {
  border-color: #c2cfd6;
}

.radio .form-label-instructional {
  font-size: .75em;
}
