<Revealer baseHeight={100}
          buttonClosedText="View more"
          buttonOpenText="View less"
          defaultOpen={false}
          disableClose={false}
          inverse={true}
          fakeLink={false}
          border={false}>
  <ul>
    <li>Item one</li>
    <li>Item two</li>
    <li>Item three</li>
    <li>Item four</li>
    <li>Item five</li>
    <li>Item six</li>
    <li>Item seven</li>
    <li>Item eight</li>
    <li>Item nine</li>
    <li>Item ten</li>
  </ul>
</Revealer>
