<Carousel style={{marginBottom: 40}}
  breakpoint="medium"
  framePadding="40"
  cellSpacing={20}
  responsive={[
    {
      selectors: ['x-small'],
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1
      }
    },
    {
      selectors: ['small'],
      settings: {
        slidesToShow: 2,
        slidesToScroll: 2
      }
    },
    {
      selectors: ['medium'],
      settings: {
        slidesToShow: 3,
        slidesToScroll: 3
      }
    },
    {
      selectors: ['large'],
      settings: {
        slidesToShow: 4,
        slidesToScroll: 4
      }
    },
    {
      selectors: ['x-large'],
      settings: {
        slidesToShow: 5,
        slidesToScroll: 5
      }
    }
  ]}>
  <div style={{background:'#ccc',padding:'4rem', textAlign: 'center'}}>A</div>
  <div style={{background:'#aaa',padding:'4rem', textAlign: 'center'}}>B</div>
  <div style={{background:'#ccc',padding:'4rem', textAlign: 'center'}}>C</div>
  <div style={{background:'#ccc',padding:'4rem', textAlign: 'center'}}>D</div>
  <div style={{background:'#aaa',padding:'4rem', textAlign: 'center'}}>E</div>
  <div style={{background:'#ccc',padding:'4rem', textAlign: 'center'}}>F</div>
  <div style={{background:'#ccc',padding:'4rem', textAlign: 'center'}}>A1</div>
  <div style={{background:'#aaa',padding:'4rem', textAlign: 'center'}}>B2</div>
  <div style={{background:'#ccc',padding:'4rem', textAlign: 'center'}}>C3</div>
  <div style={{background:'#ccc',padding:'4rem', textAlign: 'center'}}>D4</div>
  <div style={{background:'#aaa',padding:'4rem', textAlign: 'center'}}>E5</div>
  <div style={{background:'#ccc',padding:'4rem', textAlign: 'center'}}>F6</div>
</Carousel>
