<SingleStory
  zone="contentZone4"
  moduleType="SingleStoryPOVResponsive"
  stories={[
    {
      "image": {
        "alt": "pov1",
        "assetId": "3ed12cc0-ffef-11e4-a7e0-4925ffc4aa1b",
        "assetName": "pov-beauty.png",
        "clickThrough": {
          "type":"url",
          "value":"http://www.walmart.com/browse/home/beds/4044_103150_102547_91837"
        },
        "height": "388",
        "src":"http://i5.walmartimages.com/dfwrs/4ff4222f-cadc/k2-_288b2829-b678-4014-9b77-3b9ac61d25c6.v1.png",
        "title":"pov1",
        "width":"1364",
        "size":"217814",
        "contentType":"image/png",
        "uid":"pxNz71rX"
      },
      themeButton: {
        buttonAlignment: "right",
        themeButtonColor: "#8b67a5",
        buttonTextColor: "#fff",
        linkText: "Shop Pantene Pro-V",
        title: "Shop Pantene Pro-V",
        clickThrough: {
          type: "url",
          value: "http://www-e16.walmart.com/cp/103150"
        },
        uid: "ca6b4pJ9",
        assetId: "dadas13112"
      },
      overlays: [
        {
          "location":"A1",
          "currentPrice":"73.49",
          "listPrice": "85.12",
          "defaultColor":"#FFFFFF",
          "hexCode":"#543736",
          "priceDisplay":"Rollback",
          "bubbleText": "Test Message",
          "uid":"J-zT8l7U"
        }
     ]
   }
  ]}
/>
