var CollapsableExample = React.createClass({
  getInitialState() {
    return {
      open: false
    }
  },
  expandToggle() {
    this.setState({
      open: this.state.open ? false : true
    })
  },
  render() {
  return (
      <div>
        <Collapsable isOpen={this.state.open}>
          <div>
            <p style={{margin: 0}}>Hi!</p>
          </div>
        </Collapsable>
        <a href="javascript:void(0)" onClick={this.expandToggle}>
          {this.state.open ? 'Collapse' : 'Expand'}
        </a>
      </div>
    )
  }
});

React.render(<CollapsableExample/>, mountNode);
