<div>
  <Grid.GroupChildren classes="my-column" columns={2}>
    <div>A</div><div>B</div><div>C</div>
  </Grid.GroupChildren>
  <Grid.ApplyClasses classes="foo bar">
    <div>A</div><div>B</div><div>C</div>
  </Grid.ApplyClasses>
  <Grid>
    <div>A</div>
  </Grid>
</div>
