/*!
Flags
.flag-outline - Includes transparent white outline for display on images.
.flag-clearance - Clearance variant.
.flag-rollback - Rollback variant.
.flag-bestseller - Bestseller variant.
.flag-reduced - Reduced variant.
Styleguide 10.5
*/
.flag {
  font-smoothing();

  float: left;
  clear: both;

  height: 16px;
  padding: 0 10px;

  border-radius: 0 50px 50px 0;

  background: $blue;
  color: $white;
  font-size: 12px;
  font-weight: 700;
  line-height: @height;
}

.flag-alt {
  float: right;

  height: 24px;
  padding: 0 6px 0 10px;
  border-radius: 50px 0 0 50px;

  font-size: 13px;
  font-weight: 600;
  line-height: (@height - 2);
}

.flag-link{
  float: left;
  padding: 0 0 0 5px;

  font-size: 12px;
  line-height: 16px;
}

.flag-outline {
  position: relative;

  &:before {
    content: "";
    position: absolute;
    top: -3px;
    right: -3px;
    bottom: -3px;
    left: -3px;

    border: 3px solid rgba(255, 255, 255, .7);
    border-radius: 0 50px 50px 0;
  }

  &.flag-alt:before {
    border-radius: 50px 0 0 50px;
  }
}

.flag-clearance {
  background: $yellow;
}

.flag-rollback {
  background: $red;
}

.flag-bestseller {
  background: $orange;
}

.flag-reduced {
  background: $blue;
}


.flag-lowstock {
  background: $yellow;
}
