@require "~@walmart/wmreact-base/src/styles/base";
@require "./stars";
@require "./flag";
@require "./specification";
@require "./rating-selector";
@require "./review-helpfulness";

.ProductPage-short-description {
  to-rem(font-size, 14px);

  .ProductPage-short-description-header {
    font-weight:600;
  }
}
