.ratingButton {
  width: 36px;
  height: 36px;
  margin: 5px 5px 0 0;
  border: 0;
}

.ratingButton--unselected {
  background-image: url("//i5.walmartimages.com/dfw/63fd9f59-82f6/k2-_8778d96d-3587-4346-9f31-e8b94f1d0ebc.v11.png");
}

.ratingButton--selected {
  background-image: url("//i5.walmartimages.com/dfw/63fd9f59-76ed/k2-_98c3d670-9b92-4a22-9a33-5059b8bd37f5.v11.png");
}

.ratingText {
  to-rem(line-height, 40px);
  to-rem(font-size, 16px);
  margin-left: 15px;
  vertical-align: bottom;
}

.ratingText--Poor {
  color: #f42121;
}

.ratingText--Fair {
  color: #f47421;
}

.ratingText--Average {
  color: #76c143;
}

.ratingText--Good {
  color: #79b9e7;
}

.ratingText--Excellent {
  color: #007dc6;
}
