@require "~@walmart/wmreact-interactive/src/styles/interactive";
@require "~@walmart/wmreact-table/src/styles/table";

.specification {
  width: 100%;

  +breakpoint($breakpoint-l) {
    width: 620px;
  }

  .display-name {
    color: $grey-medium;
  }

  .value {
    color: $grey-dark;
  }
}
