const StateFulSubmapAddToCartButtonExample = React.createClass({
  getInitialState: function() {
    return {submapModalStatus: "INACTIVE"};
  },

  _setStatus: function(status) {
    console.log("modal is ", this.state.submapModalStatus);
    this.setState({submapModalStatus: status});
  },

  _onContinue: function(data) {
    console.log("submitted data is ", data);
    this.setState({submapModalStatus: "CONTINUE"});
  },

  render: function() {
    return (
      <SubmapAddToCartButton
        submapModalStatus={this.state.submapModalStatus}
        onClick={() => this._setStatus("ACTIVE")}
        onModalClosed={() => this._setStatus("INACTIVE")}
        onContinue={this._onContinue}
      />
    );
  }
});

React.render(<StateFulSubmapAddToCartButtonExample/>, mountNode);
