@require "~@walmart/wmreact-interactive/src/styles/button";

.facets-bar {

  input.price-input-field.form-control.form-control-mini {
    width: 50px;
    padding-right: 0;
  }

  .price-range-between {
  font-size: 11px;
  margin: 0 2px 0 4px;
  vertical-align: middle;
  }


  .currency {
  margin-left: 2px;
  }

  .utility-bar-text {
  margin-right: 6px;
  }

  .refinement-flyout {
  margin-right: 5px;
  }

  .form-control {
  width: 40px;
  padding-right: 0;
  }

}
