<GlobalFooter moduleData={
  {
    "type":"GlobalFooter",
    "configs":{
      "financeSection":{
        "name":"Shipping and Returns",
        "subSections":[
          {
            "link":{
              "linkText":"FREE SHIPPING on $50",
              "title":"FREE SHIPPING on $50 orders",
              "clickThrough":{
                "type":"url",
                "value":"/"
              },
              "uid":"rCo38mOI"
            },
            "uid":"--YWc7pR"
          }
        ],
        "uid":"NSCNH6vl"
      },
      "corporateSections":[
        {
          "name":"Get to Know Us",
          "subSections":[
            {
              "link":{
                "linkText":"Corporate",
                "title":null,
                "clickThrough":{
                  "type":"url",
                  "value":"http://corporate.walmart.com/"
                },
                "uid":"vmgtUwfq"
              },
              "uid":"DFICNOLn"
            }
          ],
          "uid":"IpPxEhma"
        }
      ],
      "spotlightSection":{
        "name":"In the Spotlight",
        "subSections":[
          {
            "link":{
              "linkText":"Electronics",
              "title":"Electronics",
              "clickThrough":{
                "type":"url",
                "value":"http://www-e16.walmart.com/cp/Electronics/3944?povid=P1171-C1093.2766-L53"
              },
              "uid":"aHOqXDip"
            },
            "children":[
              {
                "link":{
                  "linkText":"Laptops",
                  "title":"Laptops",
                  "clickThrough":{
                    "type":"url",
                    "value":"http://www-e16.walmart.com/cp/Laptops/1089430?povid=cat3944-env435594-moduleA112012-lLinkLHN12Laptops&fromPageCatId=3944&catNavId=3944"
                  },
                  "uid":"jNsBOVGa"
                },
                "uid":"Ve8UDkrw"
              },
              {
                "link":{
                  "linkText":"Apple iPads",
                  "title":"Apple iPads",
                  "clickThrough":{
                    "type":"url",
                    "value":"http://www-e16.walmart.com/cp/Apple-iPads/1077944?povid=cat1078524-env377582-moduleA102211-lLinkLHN4iPad"
                  },
                  "uid":"iStrR9A3"
                },
                "uid":"7l_aaE-Z"
              }
            ],
            "uid":"xuebkELn"
          },
          {
            "link":{
              "linkText":"Home Appliances",
              "title":"Home Appliances",
              "clickThrough":{
                "type":"url",
                "value":"http://www-e16.walmart.com/cp/90548?povid=P1171-C1093.2766-L76"
              },
              "uid":"ZeNRXH3k"
            },
            "children":[
              {
                "link":{
                  "linkText":"Air Conditioners",
                  "title":"Grills",
                  "clickThrough":{
                    "type":"url",
                    "value":"http://www-e16.walmart.com/browse/home-improvement/air-conditioners/1072864_133032_133026/?browsein=true&_refineresult=true&povid=cat90548-env198529-moduleA083113-lLinkLHN1AirConditioners&fromPageCatId=90548&catNavId=90548"
                  },
                  "uid":"Pw7mNlG8"
                },
                "uid":"rxb7SP3H"
              },
              {
                "link":{
                  "linkText":"Fans",
                  "title":"Fans",
                  "clickThrough":{
                    "type":"url",
                    "value":"http://www-e16.walmart.com/browse/home-improvement/fans/1072864_133032_133118/?browsein=true&_refineresult=true&povid=cat90548-env198529-moduleA083113-lLinkLHN6Fans&fromPageCatId=90548&catNavId=90548"
                  },
                  "uid":"8mXt1QoV"
                },
                "uid":"j3VT7-m_"
              }
            ],
            "uid":"wQVutFQ2"
          },
          {
            "link":{
              "linkText":"Toys",
              "title":"Toys",
              "clickThrough":{
                "type":"url",
                "value":"http://www-e16.walmart.com/cp/toys/4171"
              },
              "uid":"l4UvJXxE"
            },
            "uid":"RVBU_TFZ"
          }
        ],
        "uid":"eLnGHq_f"
      },
      "creditCardSection":{
        "name":"Financial Services",
        "subSections":[
          {
            "link":{
              "linkText":"Walmart MoneyCenter",
              "title":"Walmart MoneyCenter",
              "clickThrough":{
                "type":"url",
                "value":"http://www-e16.walmart.com/instantcredit"
              },
              "uid":"iyoJypI4"
            },
            "image":null,
            "uid":"erj58MVs"
          }
        ],
        "uid":"li0jIW2L"
      },
      "mobileSection":[
        {
          "link":{
            "linkText":"Feedback",
            "title":"Feedback",
            "clickThrough":{
              "type":"url",
              "value":"https://secure.opinionlab.com/ccc01/o.asp?id=XbReKRMk"
            },
            "uid":"wYrKObCL"
          },
          "uid":"-RlNZqwT"
        },
        {
          "link":{
            "linkText":"Careers",
            "title":"Careers",
            "clickThrough":{
              "type":"url",
              "value":"http://careers.walmart.com/"
            },
            "uid":"8zcs5OBe"
          },
          "uid":"h7Omeo8h"
        }
      ]
    },
    "moduleId":"7259748a-4834-4636-b136-8393c5f2f065"
  }
}/>
