<GlobalFooterItem link={
  {
    "linkText": "Walmart MoneyCenter",
    "title": "Walmart MoneyCenter",
    "clickThrough": {
      "type": "url",
      "value": "http:\/\/www-e16.walmart.com\/instantcredit"
    },
    "uid": "iyoJypI4"
  }
} image={
  {
    "assetName": "k2-_65ae56ce-e20a-4f67-8a4f-88fbc7f69cde.v1.jpg",
    "height": "66",
    "assetId": "2c35b6b0-481c-11e5-aa7b-3f9068f8e0a6",
    "src": "//i5.walmartimages.com/dfw/4ff9c6c9-9aee/k2-_704e0f82-62c6-4e1b-8382-287530125f9f.v1.png",
    "width": "86",
    "size": "100",
    "contentType": "image/jpeg",
    "alt": "footer image",
    "title": "footer image",
    "uid": "9ZKpMSLd"
  }
} />
