<GlobalFooterItem icon={true} newTab={true} link={
  {
    "linkText": "facebook",
    "title": "facebook",
    "clickThrough": {
      "type": "url",
      "value": "https://www.facebook.com/walmart"
    },
    "uid": "iyoJypI4"
  }
} />
