<GlobalSocialIcons moduleData={
  {
   "type":"GlobalSocialIcons",
   "configs":{
      "icons": [
        {
          "link": {
            "linkText": "facebook",
            "title": "facebook",
            "clickThrough": {
              "type": "url",
              "value": "https://www.facebook.com/walmart"
            },
            "uid": "iyoJypJ2"
          },
          "uid": "5uh7ZTD-"
        },
        {
          "link": {
            "linkText": "twitter",
            "title": "twitter",
            "clickThrough": {
              "type": "url",
              "value": "https://twitter.com/Walmart"
            },
            "uid": "iyoJypI4"
          },
          "uid": "5uh7ZTDL"
        },
        {
          "link": {
            "linkText": "mobile",
            "title": "mobile",
            "clickThrough": {
              "type": "url",
              "value": "https://twitter.com/Walmart"
            },
            "uid": "iyoJypI4"
          },
          "uid": "5uh7ZTDL"
        }
     ]
   },
   "module_id":"640e8519-fda6-4bf3-aae5-caa0574a2345"
  }
}/>
