<GlobalEmailSignup onEmailSubmitted={() => {}} moduleData={
  {
    "type":"GlobalEmailSignup",
    "configs":{
       "campaignId":"1",
       "headerColor":"#888",
       "header":"Be the first to save!",
       "link": {
         "clickThrough": {
         "type": "url",
         "value": "http://corporate.walmart.com/privacy-security/walmart-privacy-policy"
         },
       "linkText": "Privacy policy",
       "title": "Privacy policy",
       "uid": "6TTGai08"
       }
    },
    "moduleId":"640e8519-fda6-4bf3-aae5-caa0574ae15d"
  }
}/>
