.BannerMessage {
  margin-bottom: $xs-spacing;
  position: relative;
  background-color: rgba(25, 119, 211, .1);

  .BannerMessage-button {
    wmzindex("basic");

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

}

@keyframes BannerMessage-fade-ping {
  0%, 100% { opacity: 0 }
  13%, 87% { opacity: 1 }
}

@keyframes BannerMessage-fade-pong {
  0%, 100% { opacity: 0 }
  13%, 87% { opacity: 1 }
}

.BannerMessage-subHeader-linkArrow {
  content: "";
  margin: 0 0  1px $xxs-spacing;

  border: 4px solid transparent;
  border-left-color: $blue;
}

.BannerMessage--large {
  padding: $s-spacing 0 $s-spacing $xs-spacing;

  +breakpoint($breakpoint-s) {
    padding-left: 16px;
  }

  +breakpoint($breakpoint-m) {
    padding-top: 23px;
    padding-bottom: 23px;
  }

  +breakpoint($breakpoint-l) {
    padding-left: $m-spacing;
  }

  +breakpoint($breakpoint-xl) {
    padding: 30px 0 $l-spacing $l-spacing;
  }

  .BannerMessage-headerText {
    to-rem(font-size, 24px);

    letter-spacing: .6px;
    line-height: 30px;

    +breakpoint($breakpoint-m) {
      to-rem(font-size, 34px);
      line-height: 29px;
    }

    +breakpoint($breakpoint-l) {
      to-rem(font-size, 42px);
    }
  }

  .BannerMessage-subHeader {
    to-rem(font-size, 14px);

    letter-spacing: .6px;
    line-height: 20px;

    +breakpoint($breakpoint-m) {
      to-rem(font-size, 20px);

      margin-top: $xs-spacing;

      line-height: 26px;
    }

    +breakpoint($breakpoint-m) {
      to-rem(font-size, 20px);

      margin-left: 17px;
    }

    +breakpoint($breakpoint-l) {
      to-rem(font-size, 30px);

      margin-left: 31px;
    }

    .BannerMessage-subHeader-linkArrow {
      margin-bottom: 0;

      +breakpoint($breakpoint-m) {
        border-width: 6px;
        margin-bottom: 0;
      }

      +breakpoint($breakpoint-l) {
        border-width: 8px;
      }
    }
  }
}

.BannerMessage--small {
  padding: 10px $xs-spacing;

  text-align: center;

  .BannerMessage-headerText {
    to-rem(font-size, 18px);

    line-height: 1.5;

    +breakpoint($breakpoint-m) {
      to-rem(font-size, 24px);
    }
  }

  .BannerMessage-subHeader {
    to-rem(font-size, 14px);

    line-height: 1.5;

    +breakpoint($breakpoint-m) {
      to-rem(font-size, 18px);
      line-height: 1.2;
    }
  }

  .BannerMessage-subHeaderOnly {
    +breakpoint($breakpoint-m) {
      line-height: 30px;
    }
  }
}
