.find-a-club {
  .modal-header {
    border-bottom: 0;
    min-height: 35px;
    padding: 5px 5px 0 0;
  }
  .modal-header .fc-icon-close{
    position: relative;
    top: 7px;
    right: 16px;
    opacity: 1 !important;
    float: right;
    font-size: 21px;
    line-height: 1;
    color: grey;
    text-shadow: 0 1px 0 #fff;
    cursor: pointer;
    margin-top: -2px;
  }
  .modal-header{
    position: relative;
    padding: 0;
  }
  .modal-body .fc-notification {
    font-weight: 550;
    font-size: 16px;
    color: #424242;
    padding: 0 0 0 20px;
    margin: 0;
    display: block;
    line-height: 24px;
  }
  .fc-user-message {
    display: block;
    color: #424242;
    font-size: 16px;
    font-weight: 300;
    line-height: 2.5;
    padding: 0 20px;
    box-sizing: border-box;
  }
  .fc-zip-error {
    line-height: 1;
    padding: 0 21px;
    color: #ec7202 ;
    font-size: 14px;
    font-weight: 600;
    display: block;
  }
  .fc-zip-success{
    display: none;
  }
  .fc-input-error{
    border: 2px solid #ef8d33 !important;
  }
  .myForm {
    display: block;
    padding: 0 20px 0;
    line-height: 0;
    box-sizing: border-box;
    margin-top: 5px;
  }
  .myForm .fc-input-on-blur {
    font-size: 16px;
    color: rgba(66, 66, 66, .8);
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    cursor: default;
    font-weight: 400;
    left: 15px;
    position: relative;
    top: 32px;
  }
  .myForm .fc-input-on-focus{
    color: rgba(66, 66, 66, 0.80);
    top: 16px !important;
    font-size: 14px !important;
    font-weight: 400;
    left:12px !important;
    position: relative;
  }
  .myForm .fc-find-club {
    width:360px;
    height: 54px;
    display:block;
    background-color: #ffffff;
    border: solid 1px rgba(65, 65, 65, 0.3);
    font-size: 16px;
    color: #424242;
    padding: 18px 0 10px 10px;
    height: 54px;
    font-weight: 400;
    border-radius: 3px;
    line-height: 1.42857143;
    background-image: none;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  }
  input.fc-find-club {
    max-width: 100%;
  }
  .myForm .modal-footer {
    padding: 20px 0!important;
    text-align: right;
  }
  .modal-footer .fc-find-btn{
    border-radius: 2px;
    width: 74px;
    height: 40px;
    background-color: #4ca90c;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    margin-left: 5px;
    margin-bottom: 0;
    color: #fff!important;
    line-height: 1.3;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 19px;
    display: inline-block;
    cursor: pointer;
  }
  .modal-footer .fc-cancel-btn {
    border-radius: 2px;
    border: solid 1px #4ca90c;
    width: auto;
    height:40px;
    color: #4ca90c;
    display:inline-block;
    line-height: 1.3;
    padding: 6px 12px;
    font-size: 16px;
    font-weight: 700;
    background-color: transparent;
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
  }
}
.modal-backdrop.active {
  width:100%;
  background-color: rgba(0, 0, 0, .5);
  z-index: 1;
}
.fc-notification {
   color:$black;
   display: block;
   font-size: 16px;
   line-height: 1.1;
   font-weight: bold;
   padding-top:17px;
}
.fc-user-message {
  color: $black;
  font-size: 16px;
  padding-top:17px;
  display: block;
}
.error-message {
  height: 16px;
  font-size: 14px;
  color: #ec7202;
  font-weight: bold;
}
.find-new-location-input {
  width:100%;
  height: 54px;
  display:block;
  background-color: #ffffff;
  border: solid 1px rgba(65, 65, 65, 0.3);
  margin-top:12px;
  font-size: 16px;
  color: rgba(66, 66, 66, 0.8);
}
.find-btn {
 border-radius: 2px;
 border: 1px solid #4ca90c;
 width: 74px;
 height: 40px;
 float:right;
 background-color: #4ca90c;
 color:#ffffff;
 margin-top:20px;
}

.cancel-btn {
 border-radius: 2px;
 border: solid 1px #4ca90c;
 width: auto;
 height:40px;
 float:right;
 background: #ffffff;
 color: #4ca90c;
 margin-top: 20px;
 margin-right:8px;
 display:inline-block;
}

@media screen and (min-width: 768px)
  .find-a-club {
    width: 400px;
  }
