.header-GlobalLefthandNavMobile {
  .wmicon {
    to-rem(font-size, 12px);

    width: 8px;
    line-height: 44px;
  }

  .header-OffcanvasNav-entry--top .wmicon {
    margin-right: 10px;
    line-height: 40px;

  }
}
.header-GlobalLefthandNavMobile-dept-2 {
    color: $black;
    font-size: 16px;
    font-size: 1rem;
    display: inline-block;
    border-bottom: 1px solid #f3f3f3;
    height: 44px;
    white-space: nowrap;
    padding: 0 44px;
    width: 100%;
    font-weight: 400;
    background-color: $white;
    line-height: 44px;
}

.header-GlobalLefthandNavMobile--superDeptSelected {
  .header-OffcanvasNav-entry {
    padding-left: $l-spacing;

    &.is-selected {
      padding-left: 29px;
      border:0;
      background-color: #f6f6f6;
      font-size: 16px;
      color: $black;
      font-weight: 600;

      .wmicon {
        display: none;
      }
    }
  }

  .header-OffcanvasNav-entry--top {
    padding-left: $s-spacing;

  }
}

.header-GlobalLefthandNavMobile-superDept-account{
  background-color: $white;
  color: $black;

  &.is-selected {
    border:0;
    background-color: #f6f6f6;
    font-size: 16px;
    color: $black;
    font-weight: 600;
    .wmicon {
      display: none;
    }
  }
}

.header-GlobalLefthandNavMobile.is-collapsed .header-GlobalLefthandNavMobile-departments {
  max-height: 308px;
  overflow: hidden;
}

.header-GlobalLefthandNavMobile-menu {
  display: none;

  .is-selected + & {
    display: block;
  }
}

.header-GlobalLefthandNavMobile-superDept,
.header-GlobalLefthandNavMobile-dept {
  &.is-selected {
    color: @border-color;
  }
}



.header-GlobalLefthandNavMobile--deptSelected .header-GlobalLefthandNavMobile-superDept {
  border-color: $blue-secondary;
  color: $blue-secondary;
}

.header-GlobalLefthandNavMobile--superDeptSelected {
  .header-GlobalLefthandNavMobile-superDept:not(.is-selected) {
    display: none;
  }
}

.header-GlobalLefthandNavMobile-expander {
  position: relative;
  font-weight: 600;

  &, &:hover, &:focus {
    color: $grey-dark;
  }

  &:after {
    content: "";
    position: absolute;
    top: $s-spacing;
    right: $m-spacing;
    font-weight: 600;

    border: 5px solid transparent;
    border-bottom-color: $grey-dark;
    margin-left: $xxs-spacing;

    .header-GlobalLefthandNavMobile.is-collapsed & {
      top: $m-spacing;
      font-weight: 600;

      transform: scaleY(-1);
    }
  }
}

.hamburger.find-a-club {
  color: $blue;
  font-weight: 600;
}

.hamburger.greeting{
  height: 16px;
  font-size: 16px;
  font-weight: 600;
  color: #4a4a4a;
}
.hamburger.signIn {
  height: 16px;
  font-size: 16px;
  font-weight: 600;
  color: $blue;
}

.hamburger.signOut {
  color: $blue;
  font-weight: bold;
}

.right-arrow-menu {
  width: 10px;
  height: 5.5px;
  object-fit: contain;
  -webkit-transform: rotate(-270deg);
  transform: rotate(-270deg);
  background-color: #cbc9cb;
}

.downward-arrow {
  line-height: 0px;
  background-color: $white;
  -webkit-transform: rotate(-270deg);
  transform: rotate(-270deg);
  float: right;
}
.downward-arrow:active, .downward-arrow:link {
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
}
.sign-in-greeting {
  font-weight:bold;
}

.header-GlobalLefthandNavMobile-businessSection {
  color: $black-flag;
  font-size: 16px;
  font-size: 1rem;
  display: inline-block;
  border-bottom: 1px solid #f3f3f3;
  height: 44px;
  padding: 0 22px;
  width: 350px;
  font-weight: 400;
  background-color: $white;
  line-height: 44px;

  &.is-open{
    color: $black-flag;
    font-weight: 600;
    background-color: #f3f3f3;
  }
}

.blue{
  color: $blue-secondary-active;
  padding-left: 29px;
}

.header-GlobalLefthandNavMobile-dept {
  color: $black;
  font-size: 16px;
  font-size: 1rem;
  display: inline-block;
  border-bottom: 1px solid #f3f3f3;
  height: 44px;
  white-space: nowrap;
  padding: 0 30px;
  width: 100%;
  font-weight: 400;
  background-color: #fff;
  line-height: 44px;

  &.is-selected {
    color: #007dc6;
  }
}
