.header-GlobalLefthandNavMobile {
  .wmicon {
    to-rem(font-size, 12px);

    width: 8px;
    line-height: 44px;
  }

  .header-OffcanvasNav-entry--top .wmicon {
    margin-right: 10px;
    line-height: 40px;

  }
}

.hi{
  color:red;
  background-color: white;
  width: 100%;
}

.header-GlobalLefthandNavMobile--superDeptSelected {
  .header-OffcanvasNav-entry {
    padding-left: $l-spacing;

    &.is-selected {
      padding-left: 30px;
      border:0;
      background-color: $gray-eight;
      font-size: 16px;
      color: $black;
      font-weight: 600;

      .wmicon {
        display: none;
      }
    }
  }

  .header-OffcanvasNav-entry--top {
    padding-left: $s-spacing;

  }
}

.header-GlobalLefthandNavMobile-superDept-account{
  background-color: $white;
  color: $black;

  &.is-selected {
    border:0;
    background-color: #f6f6f6;
    font-size: 16px;
    color: $black;
    font-weight: 600;
    .wmicon {
      display: none;
    }
  }
}

.header-GlobalLefthandNavMobile.is-collapsed .header-GlobalLefthandNavMobile-departments {
  max-height: 308px;
  overflow: hidden;
}

.header-GlobalLefthandNavMobile-menu {
  display: none;

  .is-selected + & {
    display: block;
  }
}

.header-GlobalLefthandNavMobile-superDept,
.header-GlobalLefthandNavMobile-dept {
  &.is-selected {
    color: @border-color;
  }
}

.header-GlobalLefthandNavMobile--deptSelected .header-GlobalLefthandNavMobile-superDept {
  border-color: $blue-secondary;
  color: $blue-secondary;
}

.header-GlobalLefthandNavMobile--superDeptSelected {
  .header-GlobalLefthandNavMobile-superDept:not(.is-selected) {
    display: none;
  }
}

.header-GlobalLefthandNavMobile-expander {
  position: relative;
  font-weight: 600;

  &, &:hover, &:focus {
    color: $grey-dark;
  }

  &:after {
    content: "";
    position: absolute;
    top: $s-spacing;
    right: $m-spacing;
    font-weight: 600;

    border: 5px solid transparent;
    border-bottom-color: $grey-dark;
    margin-left: $xxs-spacing;

    .header-GlobalLefthandNavMobile.is-collapsed & {
      top: $m-spacing;
      font-weight: 600;

      transform: scaleY(-1);
    }
  }
}

.hamburger.find-a-club {
  color: $blue;
  font-weight: 600;
}

.hamburger.greeting{
  height: 16px;
  font-size: 16px;
  font-weight: 600;
  color: #4a4a4a;
}
.hamburger.signIn {
  height: 16px;
  font-size: 16px;
  font-weight: 600;
  color: $blue;
}

.hamburger.signOut {
  color: $blue;
  font-weight: bold;
}

.right-arrow-menu {
  width: 10px;
  height: 5.5px;
  object-fit: contain;
  -webkit-transform: rotate(-270deg);
  transform: rotate(-270deg);
  background-color: #cbc9cb;
}

.sign-in-greeting {
  font-weight:bold;
}
