$header-HeaderCartCountFontSize-s ?= 9px;
$header-HeaderCartCountFontSize-l ?= 12px;

.header-Cart {
  to-rem(font-size, 26px);

  position: relative;

  color: $white;
  width: 54px;

  &:hover {
    color: $blue-secondary-hover;
  }

  .header-Cart-count {
    to-rem(font-size, $header-HeaderCartCountFontSize-l);

    position: absolute;
    top: -3px;
    right: 0;

    width: 20px;
    height: @width;
    line-height: @width;

    background: $yellow;
    color: $grey-dark;

    &:hover {
      background: $yellow-hover;
    }
  }
}

header-cart-small() {
  to-rem(font-size, 20px);

  margin-top: 0;
  height: 40px;
  width: 44px;
  line-height: @height;

  .header-Cart-count {
    to-rem(font-size, $header-HeaderCartCountFontSize-s);
    top: $xxs-spacing;
    right: @top;

    width: 16px;
    height: @width;
    line-height: @width;
  }
}

.header-Header {
  .header-Cart {
    +breakpoint($breakpoint-m-max, "max") {
      header-cart-small();

      top: 1px;
    }
  }

  .is-fixed {
    .header-Cart {
      +breakpoint($breakpoint-l) {
        header-cart-small();

        margin-top: 2px;
      }
    }
  }
}
