@media screen and (min-width: 1023px){
  .header-GlobalLefthandNav-panel {
    width: 600px;
  }
  
  .header-GlobalLefthandNav .header-GlobalLefthandNav-panel {
    width: 750px;
  }
  
  .header-member-services-nav .header-GlobalLefthandNav-panel {
    width: 300px;
  }
}
