.header-Header {
  .header-member-services-nav {
    color: #222;
    font-size: 14px;
    padding-bottom: 5px;
    position: relative;
    z-index: 2;
    margin-left: 25px;
    padding-right: 13px;
    display: inline-block;

    .flyout-trigger {
      color: #222;
      padding-left:0;
      padding-right:0;
      font-weight: normal;
      font-size: 14px;
    }

    .dropdown-link:after {
      top: 19px;
    }

    .flyout-modal {
      margin-top: 14px;
      padding-top: 10px;
      line-height: 30px;
    }

    .flyout.flyout-bottom.flyout-align-null.flyout-trigger.dropdown-link {
      height: 30px;
      background-color: white;
    }

    .dropdown-link:hover:after {
      transform: rotate(315deg);
    }

    .btn, .btn:hover, .btn:focus {
      background-color: white;
    }

  }
}
