$offcanvas-nav-width = 270px;

.header-OffcanvasNav {
  position: fixed;
  top: 0;
  left: -1 * $offcanvas-nav-width;

  width: $offcanvas-nav-width;
  height: 100%;

  overflow: auto;
  background-color: $gray;

  .separator {
    border-width: 8px;
    margin-top: 0;
    border-color: $gray;
  }
}

// Used to shift the page over to expose the offcanvas nav
body.offcanvasNav-open {
  position: fixed;

  margin-left: $offcanvas-nav-width;
  width: 100%;

  .Fixie {
    left: $offcanvas-nav-width;
    width: 100%;
  }

  .header-OffcanvasNav {
    left: 0;
  }
}

.header-OffcanvasNav-entry {
  color: $black;
  to-rem(font-size, 16px);
  display: inline-block;
  border-bottom: 1px solid #f3f3f3;
  height: 44px;
  padding: 0 22px;
  width: 100%;
  font-weight: 400;
  background-color: white;
  line-height: @height;
}

.header-OffcanvasNav-entry-gray{
  color: $white;
  to-rem(font-size, 16px);
  display: inline-block;
  border-bottom: 1px solid #f3f3f3;
  height: 44px;
  padding: 0 22px;
  width: 100%;
  font-weight: 400;
  line-height: @height;
}

.header-OffcanvasNav-entry--top {
  height: 40px;
  line-height: @height;
  background: white;
  color: $blue;
  font-weight: 600;
  padding-left: 5px;
}

.header-OffcanvasNav-overlay {
  wmzindex("header-overlay");

  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  height: 105%; // slightly larger than screen so shadow is full height

  box-shadow: -7px -7px 9px -7px rgba(0, 0, 0, .4);
}
