.header-StoreFinderPanel {
  .header-StoreFinderPanel-moreStores {
    to-rem(font-size, 14px);
  }
}

.header-StoreFinderPanel-spinner {
  position: relative;
  width: 305px;
  height: 250px;

  .spinner {
    position: absolute;
  }
}

.store-finder-panel .find-other-clubs-without-nearby-list{
  color: #4ca90c;
  font-size: medium;
  border: solid 1px #4ca90c;
}

.store-finder-panel .yourclub-label{
  width: auto;
  height: auto;
  font-size: medium;
  color: $black;
  font-weight: bold;
  margin-bottom: -20px;
}

.store-finder-panel .myclub-current .myclub-title {
  width: auto;
  height: auto;
  font-size: medium;
  color: $black;
  display: inline-block;
  font-weight: bold;
}


.store-finder-panel .myclub-current .myclub-style {
  width: auto;
  height: auto;
  font-size: small;
  color: $black;
}

.store-finder-panel .myclub-current .myclub-footer .myclub-footer-link{
  color: $blue;
  font-size:initial;
}

.store-finder-panel .nearby-clubs .nearby-club-line-item{
  margin-top: -10px;
}

.store-finder-panel .nearby-clubs .nearby-club-title .club-near-zip{
  color: $black;
  font-size: medium;
  font-weight: bold;
}

.store-finder-panel .nearby-clubs .nearby-club-title .find-other-clubs{
  color: $blue;
  font-size: medium;
}

.store-finder-panel .nearby-clubs .nearby-club-line-item .nearby_ele_left {
  width: auto;
  height: auto;
  font-size: small;
  color: $black;
  text-align: left;
}

.store-finder-panel .nearby-clubs .nearby-club-line-item .nearby_club_title_ele_left {
  width: auto;
  height: auto;
  font-size: medium;
  text-align: left;
  font-weight: bold;
  color: $black;
}

.store-finder-panel .nearby-clubs .nearby-club-line-item .make_your_club_ele_right {
  width: auto;
  height: auto;
  font-size: 14px;
  text-align: right;
  color: $blue;
}

.store-finder-panel .nearby-clubs .nearby-club-line-item .nearby_ele_right {
  width: auto;
  height: auto;
  font-size: small;
  text-align: right;
  color: rgba(66, 66, 66, .8);
}
