.header-StoreFinderPanel-field p {
  margin-top: 27px;
}

.header-StoreFinderField-button {
  to-rem(font-size, 18px);

  margin-left: $xs-spacing;
  padding-top: $xs-spacing;
}

.header-StoreFinderField-form {
  width: 305px;

  .form-label {
    margin-top: $xs-spacing;
  }
}
