@import "~node_modules/@walmart/hydra/src/tenants/walmart/includes";
@import "/typography";
@import "/variables";

.SignIn, .SignUp, .ForgotPassword, .ResetPassword, .accountConfirmation, .multipleEmails, .register-reclaim-modal, .expired-link, .registerMembership, .membershipExists, .reclaim-email {

  .heading-d {
    margin: 0;
    primary-font('medium');
    font-size: $font-size-20;
	  color: $black;
  }

  .heading-a, .heading-b, .heading-c, .heading-d, .forgot-link, .sub-heading,  {
    line-height: 1;
  }

  .signup-subtitle {
    margin-top: $s-spacing;
    height: 16px;
	  primary-font("regular");
	  font-size: $font-size-14;
	  color: $black;
    margin: 0 auto;
  }

  .alert {
    margin: $s-spacing 0;
  }

  input {
    height: 54px;
    border-radius: 2px;
    background-color: $white;
    border: solid 1px rgba(65, 65, 65, 0.4);
  }

  .forgot-link {
    margin-top: $m-spacing;
    font-size: $font-size-14;
    height: 16px;
    color: $blue;
  }

  .forgot-email {
    float: left;
  }

  .forgot-password {
    float: right;
  }

  .privacy-policy-container {
    font-size: $font-size-16;
  }
  .verification-code-wrapper {
    margin: $xs-spacing 0 0 0;
  }
  .verification-code-wrapper.has-norton-logo {
    margin-right: 90px;
  }
  .verification-code {
    font-weight: 600;
    line-height: 1.25;
  }

  .email-code-text, .remember-password {
    margin: $s-spacing 0 0 0;
  }

  .remember-password {
    font-size: $font-size-16;
  }

  .privacy-policy-signup-text {
    margin-top: $m-spacing;
    font-size: $font-size-14;
    a {
      white-space: nowrap;
    }
  }

  // Override default option styling rules to handle:
  // Long text label and softer font weight
  .option label {
    position: relative;
    font-size: 12px;
    &:before {
      position: absolute;
      top: 50%;
      margin-top: -11px;
    }

    span {
      display: inline-block;
      margin-left: $l-spacing;

      font-weight: 400;
    }
  }

  .form-control.show-hide {
    padding-right: 70px;
  }

  .btn {
    border-radius: 2px;
    margin-top: $m-spacing;
    &.l-margin-top {
      margin-top: $l-spacing;
    }
    background-color: $promo-color;
    font-family: $standard-system-fonts;
  }

  .btn:hover{
    background-color: $promo-hover-color;
  }

  .btn:active,
  .btn:visited{
    background-color: $promo-active-color;
  }

  .show-hide-toggle {
    position: absolute;
    right: 11px;
    color: $black;
    top: 16px;
    height: 12px;
    opacity: 0.8;
    primary-font('regular');
  }

  .validation-marker + .show-hide-toggle {
    right: 28px;
  }

  .bot-message {
    margin-bottom: $m-spacing;
    margin-top: $m-spacing;
  }

  .form-label {
    margin-top: $m-spacing;
  }

  ::-webkit-input-placeholder {
     opacity: 0.8;
     font-size:$font-size-16;
     color: $black;
     primary-font("regular");
  }

  :-moz-placeholder { /* Firefox 18- */
    opacity: 0.8;
    font-size: $font-size-16;
    color: $black;
    primary-font("regular");
  }

  ::-moz-placeholder {  /* Firefox 19+ */
    opacity: 0.8;
    font-size: $font-size-16;
    color: $black;
    primary-font("regular");
  }

  :-ms-input-placeholder {
    opacity: 0.8;
    font-size: $font-size-16;
    color: $black;
    primary-font("regular");
  }

  p {
    font-size: $font-size-16;
    color: $black;
    primary-font("regular");
  }

  .member-link {
    font-size: $font-size-14;
    height: 16px;
    color: $blue;
  }

  .line-separater {
  	height: 1px;
  	background-color: rgba(65, 65, 65, 0.2);
  }

  .already-member-title-bu {
    height: 38px;
  }

  .not-a-sams-club-memb {
    height: 19px;
  }

  .promo-slot-message {
    height: 78px;
    background-color: #f3f8fc;
    border-color: #f3f8fc;
  }

  .resend-email-link {
    font-size: 14px;
    width: 87px;
    height: 16px;
  }

  .alert-warning-message {
    margin: 0 auto;
	  height: 59px;
    font-size: 14px;
	  border-radius: 2px;
    background-color: rgba(234, 114, 29, 0.1);
    border-color: rgba(234, 114, 29, 0.1);
  }

  .error-message-icon {
    display: inline-block;
    text-align: center;
    width: 18px;
	  height: 18px;
    margin-top: 4px;
    margin-right: 15px;
    margin-left: 5px;
  }

  .error-message-body-text {
    position: absolute;
    height: 32.7px;
	  color: $black;
  }

  .promo-body-text {
    display: block;
    font-size: 14px;
    color: $black;
    text-align: center;
  }

  .first-line-promo-offer {
    height: 18px;
    line-height: 1.3;
  }

  .second-line-promo-offer {
    height: 16px;
  }

  .third-line-promo-offer {
    height: 16px;
  }

  .online-account-digit-text {
    height: 32.7px;
	  opacity: 0.8;
    font-size: $font-size-14;
	  color: $black;
    margin: 8px auto -8px;
  }

  .online-account-match-text {
    height: 16.4px;
	  opacity: 0.8;
    font-size: $font-size-14;
	  color: $black;
    margin: 8px auto;
  }

  .online-account-member-text {
    height: 19px;
	  font-size: $font-size-16;
	  color: $black;
    margin: 19px auto 10px;
  }

  .icon-tool-tip {
    height: 18px;
    position: absolute;
    right: 11px;
    top: 16px;
  }

  .account-info-flyout {
    height: 114.8px;
	  border-radius: 2px;
	  background-color: $white;
	  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.29);
    position: relative;
    padding: 20px;
    margin-top: 20px;
    display: block;
    text-align: center;
  }

  .account-info-flyout:after, .account-info-flyout:before {
    content: ' ';
    display: block;
    position: absolute;
    top: -10px;
    background: $white;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.29);
    width: 20px;
    height: 20px;
    right: 10px;
  }

  .account-info-flyout:before {
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .account-info-flyout:after {
    box-shadow: none;
    border: none;
    top: 0;
    right: 5px;
    width: 40px;
    height: 24px;
  }

  .show-hide-flyout {
    display: none;
  }

  .register-promo-slot-icon {
    width: 50px;
	  height: 32px;
	  box-shadow: 0 1px 2px 0 rgba(65, 65, 65, 0.2);
  }

  .register-promo-slot-text {
    height: 32px;
	  primary-font("regular");
	  font-size: $font-size-14;
	  color: $black;
    position: absolute;
    padding: 15px 20px;
  }

  .set-up-account-text {
    height: 19px;
  	primary-font("medium");
	  font-size: $font-size-16;
	  color: $black;
    margin-top: 18px;
    margin-bottom: 24px;
  }

  .email-letter-text {
    height: 16px;
	  primary-font("regular");
	  font-size: $font-size-14;
	  color: $black;
  }

  .password-reminder-text{
    height: 32.7px;
	  opacity: 0.8;
	  primary-font("regular");
	  font-size: $font-size-14;
	  color: $black;
    padding-top: 11px;
    padding-bottom: 24px;
  }

  .option label:before {
    width: 18px;
	  height: 18px;
	  border-radius: 2px;
	  background-color: $white;
  }

  .option-checkout input:checked + label:hover:before {
    border-color: $blue;
  }

  .option-form-control input:checked + label:before, .option-checkout input:checked + label:before {
    background-color: $blue;
  }

  .option-checkout input:checked + label:before {
    color: $white;
  }

  .sam-member-exist-header-text {
    height: 23px;
    primary-font("regular");
	  font-size: 20px;
	  color: $black;
    margin: 22px auto 23px;
  }

  .account-exist-forgot-password {
    margin: 0 auto;
    padding: 10px;
  }

  .account-exist-forgot-link {
    margin: 5px auto;
  }

  .register-email-info {
    height: 32px;
	  primary-font("regular");
	  font-size: $font-size-14;
	  color: $black;
    margin: 19px auto 24px;
  }

  .register-email-text {
    display: block;
    line-height: normal;
  }
}

.ForgotPassword .js-reset-password-link {
  color: inherit;
  cursor: text;
}

.ForgotPassword .alert p {
  margin-top: 8px;
}

.ResetPassword {
  position: relative;
  .email-label {
    margin: $s-spacing 0;
  }
}

.accountConfirmation .main-msg, .accountConfirmation .detailed-msg, .multipleEmails, .resend-email .main-msg, .register-reclaim-modal, .expired-link, .reclaim-email, .resend-email {
    color:$black;
    padding: 10px 0;
}

.accountConfirmation .detailed-msg, .resend-email .detailedMsg,  {
  font-size: $font-size-16;
  primary-font('medium');
}

.accountConfirmation .main-msg, .resend-email .mainMsg {
  font-size: $font-size-24;
  font-family 'BreeSerifSb';
}

.accountConfirmation, .multipleEmails, .email-footer, .resend-email  {
  text-align:center;
  line-height:$line-height-1pt2;
}

.multipleEmails label, .accountConfirmation label, .expired-link label, .resend-email h2, .resend-email label {
  display:block;
}

.multipleEmails .email-greeting {
  text-align:left;
  font-size: $font-size-20;
  primary-font('medium');
}

.multipleEmails .email-subject {
  text-align:left;
  font-size: $font-size-16;
  primary-font('medium');
  margin-top: 10px;
}

.multipleEmails .email-footer {
  margin:22px 0;
  font-size: $font-size-16;
  padding-top: 18px;
  border-top: solid 1px rgba(65, 65, 65, 0.2);
}

.multipleEmails .email-section, .expired-link .notification {
  text-align: left;
  font-size: $font-size-16;
  primary-font('regular');
}

.multipleEmails .email-section .email-section-header {
  font-size: $font-size-16;
  primary-font('medium');
  margin-top: 10px;
}

.expired-request .user-message, .register-reclaim-modal label, .expired-link .user-message {
  font-size: $font-size-14;
  primary-font('regular');
}

.resend-email h2 {
  margin: 0 auto;
  padding: 17px auto 14px;
}

.resend-email label {
  padding-bottom: 7.6px;
}

.registerMembership .heading-d {
  height: 23px;
  padding-top: 10px;
}

.expired-link .btn {
  margin-top:13px;
}

.expired-link .remove-icon {
  text-align:right;
  margin-bottom:10px;
}
.reclaim-email .user-question {
  font-size: $font-size-20;
  primary-font('medium');
}
.reclaim-email .user-main-message {
  font-size: $font-size-16;
  primary-font('medium');
}
.reclaim-email label{
  display:block;
}
.reclaim-email .user-question, .reclaim-email .user-main-message, .reclaim-email .user-detailed-message {
  margin-bottom:5px;
}
