$standard-system-fonts = 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif
// $standard-system-fonts = "aktiv-grotesk-std", "sans-serif";

// Insert a block of Stylus rules for the primary font, specifying a
// weight-name as a parameter, e.g.:
//
// primary-font('medium')

primary-font($weight-name = 'regular')
  // Use system fonts for regular and bold
  font-family: $standard-system-fonts;
  if weight-name is 'regular' {
    font-weight: normal;
    // Use Aktiv Grotesk for medium weight to ensure that all devices
    // consistently render it
  }
  else if weight-name is 'medium' {
    font-weight: 500;
    // Force FOUT since the difference between system fonts and Aktiv
    // Grotesk is minor, esp. in iOS / OS X, which come with a 500
    // weight of Helvetica Neue
    /.wf-aktivgrotesk-n5-active & {
      font-family: 'aktiv-grotesk-std', sans-serif }
  }
  else if weight-name is 'bold' {
    font-weight: bold;
    font-family:  'aktiv-grotesk-std', sans-serif
  }



// Insert a block of Stylus rules for the primary font, e.g.:
//
// heading-font()
//
// Note that the heading font is a web font and for performance
// reasons is restricted to bold.


heading-font()
  // Force FOIT since the difference between Bree and any system font
  // is going to be quite jarring
  font-family :'bree-serif', $standard-system-fonts;
  font-weight: 600;
  visibility:hidden;
  /.wf-breeserif-n6-active &,
  /.wf-inactive & {
    visibility: visible;
    }
