// font size
$font-size-16 = 16px;
$font-size-14 = 14px;
$font-size-20 = 20px;
$font-size-24 = 24px;
$line-height-1pt2 = 1.2;

// Color palette

$white = #FFFFFF;

$black = #424242;
$black-eighty = rgba($black, 0.8);

$blue = #1977D3;
$blue-hover = #4793DC;
$blue-active = $blue-hover;

$green = #4CA90C;
$green-hover = #70BA3D;
$green-active = $green-hover;

$blue-gray = #455A64;
$blue-gray-hover = #607D8B;
$blue-gray-active = $blue-gray-hover;

$gray-one-hundred = #222222;
$gray-eighty = rgba($gray-one-hundred, 0.8);
$gray-sixty = rgba($gray-one-hundred, 0.6);
$gray-forty = rgba($gray-one-hundred, 0.4);
$gray-twenty = rgba($gray-one-hundred, 0.2);
$gray-eight = rgba($gray-one-hundred, 0.08);

$red-flag = #EC0439;
$orange-flag = #EC7202;
$blue-flag = #227FBB;
$blue-two-flag = #009DE4;
$gray-flag = #9B9B9B;
$black-flag = #4A4A4A;
$pink-flag = #ea721d;

$background-light = #F8F8F6;
$background-dark = #ECEFF1;

// Style guide / sticker sheet associations

$link-color = $blue;
$link-hover-color = $blue-hover;
$link-active-color = $blue-active;

$promo-color = $green;
$promo-hover-color = $green-hover;
$promo-active-color = $green-active;

$shocking-value-color = $orange-flag;
$savings-color = $red-flag;
$out-of-stock-color = #D0021B;

$loading-spinner-color = #dadada;

breakpoint-minimums = {
  x-small: 0px,
  small: 480px,
  medium: 768px,
  large: 1024px,
  x-large: 1364px
}

z-indexes = {
  base: 0,
  search-suggestions: 50,
  off-header: 100,
  flyout: 200,
  sliding-modal: 250,
  modal: 300,
  loading: 400
}
