<div>
  <h3> This is a standard table </h3>

  <Table>
    <Table.Body>
      <Table.Row>
        <Table.Cell>Walmart 1</Table.Cell>
        <Table.Cell>Walmart 2</Table.Cell>
        <Table.Cell>Walmart 3</Table.Cell>
      </Table.Row>
      <Table.Row>
        <Table.Cell>Walmart 4</Table.Cell>
        <Table.Cell>Walmart 5</Table.Cell>
        <Table.Cell>Walmart 6</Table.Cell>
      </Table.Row>
    </Table.Body>
  </Table>

  <h3> This is a standard table with a column group</h3>

  <Table colGroupClasses={['table-size-fit', 'table-size-fill']}>
    <Table.Body>
      <Table.Row>
        <Table.Cell>Walmart 1</Table.Cell>
        <Table.Cell>Walmart 2</Table.Cell>
      </Table.Row>
      <Table.Row>
        <Table.Cell>Walmart 4</Table.Cell>
        <Table.Cell>Walmart 5</Table.Cell>
      </Table.Row>
    </Table.Body>
  </Table>

  <h3> This is an odd striped table with light stripes </h3>

  <Table striped='odd' light={true}>
    <Table.Body>
      <Table.Row>
        <Table.Cell>Walmart 1</Table.Cell>
        <Table.Cell>Walmart 2</Table.Cell>
        <Table.Cell>Walmart 3</Table.Cell>
      </Table.Row>
      <Table.Row>
        <Table.Cell>Walmart 4</Table.Cell>
        <Table.Cell>Walmart 5</Table.Cell>
        <Table.Cell>Walmart 6</Table.Cell>
      </Table.Row>
      <Table.Row>
        <Table.Cell>Walmart 4</Table.Cell>
        <Table.Cell>Walmart 5</Table.Cell>
        <Table.Cell>Walmart 6</Table.Cell>
      </Table.Row>
    </Table.Body>
  </Table>

  <h3> This is a table with a header </h3>

  <Table>
    <Table.Head alt={true}>
      <Table.Header>Header 1</Table.Header>
      <Table.Header colSpan={3}>Header 2</Table.Header>
    </Table.Head>
    <Table.Body>
      <Table.Row>
        <Table.Cell>Walmart 1</Table.Cell>
        <Table.Cell>Walmart 2</Table.Cell>
        <Table.Cell>Walmart 3</Table.Cell>
        <Table.Cell>Walmart 4</Table.Cell>
      </Table.Row>
      <Table.Row>
        <Table.Cell>Walmart 5</Table.Cell>
        <Table.Cell>Walmart 6</Table.Cell>
        <Table.Cell>Walmart 7</Table.Cell>
        <Table.Cell>Walmart 8</Table.Cell>
      </Table.Row>
    </Table.Body>
  </Table>
</div>
