/*
Form Control

Styleguide 13.1
*/

.form-group {
  display: block;
  position: relative;
}

.form-label {
  font-size: .875em;
}

.form-control {
  border: 1px solid;
  border-color: #c2cfd6;
  border-radius: .25em;
  display: block;
  font-size: 1em;
  background-color: #fff;
  min-height: 2.5em;
  padding: 0 .625em 0;
  margin: 0;
  width: 100%;
}

.form-control:not(input) {
  padding: .625em;
  line-height: inherit;
}

.form-control:not(textarea) {
  line-height: 2.375em;
}

.form-control:focus {
  outline: none;
  box-shadow: inset .125em .125em .375em rgba(0, 0, 0, .15);
}

.form-control:hover,
.form-control:focus {
  border-color: #79b9e7;
}

.form-label-instructional {
  opacity: .6;
}

.error-label {
  color: #f42121;
  font-size: .75em;
  font-weight: 600;
  line-height: 1.3;
  margin: .1875em 0 0;
  padding: 0;
  list-style-type: none;
}

.form-control--error {
  border-color: #f42121;
}

.form-control:disabled,
.form-control.disabled {
  cursor: default;
  background: #f1f1f1;
  border-color: #d9d9d9;
  color: #888;
}

.form-group--disabled .form-label {
  color: #a9a9a9;
}

.form-control-with-icon {
  position: relative;
  display: table;
  width: 100%;
  border: 1px solid;
  border-color: #c2cfd6;
  border-radius: .25em;
  background-color: #fff;

  &:focus,
  &:hover {
    border-color: #79b9e7;
  }
  &.form-control-with-icon--disabled {
    background: #f1f1f1;
    border-color: #d9d9d9;
  }
  &.form-control-with-icon--error {
    border-color: #f42121;
  }
  &.form-control-with-icon--focus::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    box-shadow: inset .125em .125em .375em rgba(0, 0, 0, .15);
  }

  .form-control {
    display: table-cell;
    width: 100%;
    border: none;

    &:focus,
    &:hover,
    &:disabled {
      border: none;
      box-shadow: none;
    }
    &:focus ~ .form-control-faux-shadow {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      box-shadow: inset .125em .125em .375em rgba(0, 0, 0, .15);
    }
  }
}

.form-icon {
  display: table-cell;
  width: 1%;
  padding-left: .625em;
}

.form-icon-spacer {
  visibility: hidden;
  margin-right: .625em;
}
