
.form-label-password .validation-marker {
  right: 2.75em;
}

.toggle-show-label {
  background: transparent;
  border: 0;
  color: #6da6cf;
  cursor: pointer;
  display: block;
  font-size: .75em;
  height: 3.25em;
  line-height: 3.25;
  overflow: hidden;
  position: absolute;
  text-align: center;
  top: 0;
  right: 0;
  width: 3.33333em;
  z-index: 1;
}

.toggle-show-label-input {
  display: none;
}

.toggle-show-label-text {}

.toggle-show-label:hover + .form-control,
.toggle-show-label:focus + .form-control {
  border-color: #79b9e7;
}

