@require "../src/styles/includes";
@require "../src/styles/main";

.component-documentation {
  max-width: 800px;
  margin: auto;
  
  > h3 {
    margin-bottom : 1em;
  }
  
  .playgroundCode,
  .playgroundStage,
  .CodeMirror-wrap {
    height: 600px;
  }
}