<div>
  <h3>This is required</h3>
  <StateChooser
    chooserName="required-state-chooser"
    isRounded={true}
    isRequiredField={true} />

  <h3>This is not required</h3>
  <StateChooser
    chooserName="state-chooser"
    isRounded={true} />

  <h3>This does not have a label</h3>
  <StateChooser
    showLabel={false}
    chooserName="state-chooser"
    isRounded={true} />

  <h3>This is not rounded</h3>
  <StateChooser chooserName="state-chooser" />

  <br />

  <div>
    Note: rounded is a prop from <b>@wmreact-chooser</b>, which <b>@wmreact-state-chooser</b> uses. So all props from <b>chooser</b> can be used with <b>state-chooser</b>.
  </div>
</div>
