/*!
Alert

.alert-error - For error messages.
.alert-success - For success messages.
.alert-warning - For warning messages.
.alert-error.alert-block - A block level alert.
.alert-error.alert-above-form - For use when the alert should be displayed above a form.

Styleguide 13.10
*/

// TODO handle correctly with tenant-styling.
// This will work as intended with the current lithe-extras for tenants, and older
// defaulting to walmart-styling when nothing defined
// https://gecgithub01.walmart.com/react/containers/issues/131

$tenant-alert-color ?= {
  text: $black,
  success: $green,
  success-bg: lighten($green, 85%),
  warning: $yellow,
  warning-bg: lighten($yellow, 85%),
  error: $red,
  error-bg: lighten($red, 85%)
}

.alert {
  font-smoothing();

  display: none;
  padding: 8px 10px;
  border: 1px solid;

  color: $tenant-alert-color.text;
  font-size: 14px;
  font-weight: 600;

  &.active {
    display: inline-block;
  }
}

$tenant-alert();

.alert-block {
  margin-top: 24px;

  &.active {
    display: block;
  }
}

.alert-error {
  border-color: $tenant-alert-color.error;

  background: $tenant-alert-color.error-bg;
}

.alert-success {
  border-color: $tenant-alert-color.success;

  background: $tenant-alert-color.success-bg;
}

.alert-warning {
  border-color: $tenant-alert-color.warning;

  background: $tenant-alert-color.warning-bg;
}

.alert-above-form {
  margin-top: 0;
  margin-bottom: 24px;
}

.status-message {
  padding: 8px 0 0;
  font-size: 16px;
  margin-top: 15px;
  margin-bottom: 20px;

  > span {
    display: block;
  }
}
