/*!
Expander
.expanded - The expanded state.
Styleguide 10.1
*/

.expander {
  border-top: 1px solid $grey-very-light;

  color: $grey-very-light;

  &:first-child {
    border-top: 0;
  }
}

.expander-toggle {
  position: relative;

  display: block;
  margin: 10px;
  padding: 10px;
  height: 36px;

  color: $black;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  line-height: 1;

  &:hover {
    color: $black;
  }

  &:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 10px;

    display: block;
    margin-top: -3px;
    border: 6px solid transparent;
    border-top-color: $yellow;

    transition: .3s ease transform;
    transform-origin: center 3px;
  }

  .expanded > &:after,
  .transitioning > &:after {
    transform: rotate(-180deg);

    .no-csstransforms & {
      margin-top: -10px;
      border-top-color: transparent;
      border-bottom-color: $yellow;
    }
  }

  .expanded.transitioning > &:after {
    transform: none;
  }
}

.expander-content {
  display: none;

  .expander-content-inner {
    padding: 0 20px 20px;

    a {
      font-size: 14px;
    }
  }

  .expander.expanded > & {
    display: block;
    padding: 0 20px 20px;
  }
}

.expander.see-more {
  padding: 0 20px;
  border-top: 0;

  .expander-toggle {
    @extend $more-link;

    padding: 0 0 10px;
    height: 30px;

    color: $blue;
    font-weight: 400;
    line-height: 1;

    &:after {
      right: 0;

      margin-top: 0;
    }
  }

  .expander-content-inner {
    padding: 0 0 10px;
  }

  &.expanded {
    .expander-toggle {
      &:after {
        margin-top: -3px;
      }
    }
  }
}
