@require "~@walmart/wmreact-base/src/styles/base";

$flyout-caret-size = 14px;

@keyframes flowtip-flyout-slide-bottom {
  0% {
    opacity: 0;
    transform: translateY(-5px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes flowtip-flyout-slide-top {
  0% {
    opacity: 0;
    transform: translateY(5px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes flowtip-flyout-slide-right {
  0% {
    opacity: 0;
    transform: translateX(-5px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes flowtip-flyout-slide-left {
  0% {
    opacity: 0;
    transform: translateX(5px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

// Base Flyout Styles

.flowtip-flyout {
  position: relative;

  display: inline-block;

  &.hidden {
    visibility: hidden;

    &, .flyout-modal {
      display: block;
    }
  }
}

.flowtip-flyout-backdrop {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

// Caret that is an element instead of a pseudo-element.
.flowtip-flyout-caret {
  position: absolute;
  width: 18px;
  height: 18px;

  &:before, &:after {
    wmzindex("flyout");
    content: "";
    position: absolute;
    pointer-events: none;
  }

  &:after {
    width: 0;
    height: 0;
    border: 13px solid transparent;
  }

  &:before {
    wmzindex("flyout-caret-shadow");

    width: 18px;
    height: @width;

    background-color: $white;
    border: 1px solid rgba(0, 0, 0, .1);
    border-width: 1px 1px 0 0;

    box-shadow: 1px -1px 2px rgba(0, 0, 0, .12);
    transform: rotate(-45deg);

    // Adjust shadow slightly to prevent artifacts on hi-dpi screens.
    @media (-o-min-device-pixel-ratio: 5/4),
      (-webkit-min-device-pixel-ratio: 1.25),
      (min-resolution: 120dpi) {
      box-shadow: 2px -2px 2px -1px rgba(0, 0, 0, .1);
    }
  }
}

.flowtip-flyout-modal {
  wmzindex("flyout");
  padding: 20px;
  border-radius: 5px;
  background-color: $white;
  background-color: rgba(255, 255, 255, .96);
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, .12);
}

.flowtip-flyout-close {
  position: absolute;
  top: 10px;
  right: @top;

  width: 18px;
  height: @width;
  padding: 0 0 1px;
  border: 0;
  border-radius: 50%;

  background: $grey-cool;
  color: $white;
  font-size: 13px;
  line-height: 0;
  outline: 0;
  text-align: center;
}

flowtip-flyout-direction($direction) {
  if ($direction == right) {
    $rotation = -135deg;
    $opposite = top;
  } else if ($direction == left) {
    $rotation = 45deg;
    $opposite = top;
  } else if ($direction == top) {
    $rotation = 135deg;
    $opposite = left;
  } else if ($direction == bottom) {
    $rotation = -45deg;
    $opposite = left;
  }

  .flowtip-flyout-caret-{$direction} {
    {$direction}: 100%; // @stylint ignore

    visibility: visible !important; // @stylint ignore always show caret

    &:after {
      {$opposite}: -4px; // @stylint ignore
    }

    &:before {
      {$direction}: -9px; // @stylint ignore
      transform: rotate($rotation);
    }

    &:after {
      border-{$direction}-color: $white; // @stylint ignore
      border-{$direction}-color: rgba(255, 255, 255, .96); // @stylint ignore
    }
  }

  .flowtip-flyout-modal-{$direction} {
    animation-name: flowtip-flyout-slide- + $direction; // @stylint ignore

    + .flowtip-flyout-backdrop {
      {$direction}: -30px; // @stylint ignore
    }
  }
}

for $direction in (top right bottom left) {
  flowtip-flyout-direction($direction); // @stylint ignore
}
