
.flyout-backdrop {
  display: none;
}

.flyout-trigger {
  wmzindex("basic");

  position: relative;
}

.flyout-center {
  .flyout-modal {
    top: 50%;
  }

  .flyout-modal,
  .flyout-align-caret {
    &:before {
      display: none;
    }
  }
}

.flyout-align-center, .flyout-align-bottom {
  .flyout-modal {
    left: 50%;
    right: auto;
    margin-left: 0;
  }
}
