@require "~@walmart/wmreact-interactive/src/styles/button";

.slidepanel {
  z-index: 10000;
  position: fixed;
  top: 0;
  left:0;
  bottom: 0;
  right: 0;

  width: 100%;
  height:100%;
  overflow: auto;

  transition: top .5s ease-in-out, right .5s ease-in-out, bottom .5s ease-in-out, left .5s ease-in-out;

  .slidepanel-header {
    background-color: $blue-light;
    
    .wmicon-angle-left {
      padding-right: 10px;
    }
  }

  &.slidepanel-slide-from-right {
    left: 100%;

    &.slidepanel--open {
      left: 0;
    }
  }

  &.slidepanel-slide-from-left {
    left: -100%;

    &.slidepanel--open {
      left: 0;
    }
  }

  &.slidepanel-slide-from-top {
    top: -100%;

    &.slidepanel--open {
      top:0;
    }
  }

  &.slidepanel-slide-from-bottom {
    top: 100%;

    &.slidepanel--open {
      top:0;
    }
  }
}
