/*!
Tray Modal
Deprecated: This component is deprecated. For future responsive modal needs,
consider the [`.Modal`](#responsive-modal) component instead, which offers
similar behavior with less fragility.
This "tray" modal is a responsive variant of the standard modal, using a
right-aligned fixed position default style for small screen sizes, and a
screen centered layout for larger screen sizes (similar to current modal)
Styleguide 8.1.1
*/
@require "~@walmart/wmreact-layout/src/styles/layout";
@require "~@walmart/wmreact-interactive/src/styles/button";

.tray-modal {
  wmzindex("modal");
  to-rem(max-width, 384px);

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: auto;

  display: none;
  width: 85%;

  border: 0 solid $modal-color.border;
  border-left-width: 4px;
  background: $white;

  transition: all 500ms ease;

  &.active {
    animation(from-right 500ms ease);

    display: block;
  }

  &:focus {
    outline: none;
  }

  +breakpoint($screen-l) {
    bottom: auto;
    left: 0;

    margin: 2em auto;
    width: 100%;
    max-width: 40em;

    border-radius: 10px;
    border-width: 4px;

    &.active {
      animation(none);
    }
  }
}

.tray-modal-content {
  // relative position to trap the close button
  position: relative;
}

.tray-modal-close {
  // Give close button stacking context on top of modal contents.
  wmzindex("basic");

  position: absolute;
  top: 10px;
  left: -18px;

  width: 32px;
  height: @width;
  padding: 0;
  border: 0;
  border-radius: 50%;

  background-color: $modal-color.bg-close;
  color: $white;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
  line-height: @height;

  +breakpoint($screen-l) {
    top: -14px;
    right: -14px;
    left: auto;
  }
}
.tray-wrapper {
  .x-small-margin-top {
    @media(max-width: $breakpoint-s-px - 1) {
      margin-top: 10px;
    }
  }
}
