<ProductShortInfo
  title="Apple iPad mini 2 16GB Wifi"
  imageUrl="http://i5.walmartimages.com/dfw/dce07b8c-cc1b/k2-_ddfe92b5-b5b2-489a-bf63-5fe7e2839a2a.v5.jpg"
  imageOnClick={(e)=>{e.preventDefault();console.log("Clicked Image")}}
  quantityIncluded={3}
  stars={{
    total: 5,
    average: 4,
    count: 37
  }}
  starsOnClick={(e)=>{e.preventDefault();console.log("Clicked Stars")}}
  shortDescription={{
    maxLines: 5,
    asHTML: true,
    text: "<li>7.9&quot; Retina display</li><li>A7 chip with M7 motion coprocessor</li><li>Front and Back cameras</li><li>Lorem Ipsum is simply dummy text</li> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum."
  }}
  bottomLinkText="Quick Look"
  bottomLinkOnClick={(e)=>{e.preventDefault();console.log("Clicked Quicklook")}}
/>
