<div>
  <div style={{height: 30, position: "relative"}}>
    <Flag.Rollback/>
  </div>
  <div style={{height: 30, position: "relative"}}>
    <Flag.Clearance align="right"/>
  </div>
  <div style={{height: 30, position: "relative"}}>
    <Flag.Reduced />
  </div>
  <div style={{height: 30, position: "relative"}}>
    <Flag type="clearance" text="I'm a flag"/>
  </div>
</div>
