@require "~@walmart/lithe-extras/lib/tenants/"+$tenant+"/base";

@require "../src/styles/index";

.playground {
  max-width: none !important;
}

.fake-shelf {
  width: 25%;
  border:1px solid #d9d9d9;
}
