<ProductSellerOffer
  price={100.99}
  submapType="CHECKOUT"
  pickupable={true}
  pickupToday={true}
  freeShippingThresholdPrice={35}
  shippable={true}
  currency="$"
  isFreight={true}
  shippingPass={true}
  shipPrice={200}
  showPlus={true}
  isResponsive={true}
/>
