.footer-GlobalEmailSignup {
  margin-bottom: 10px;

  text-align: center;

  +breakpoint($breakpoint-m) {
    margin-bottom: 0;

    text-align: left;
  }
}

.footer-GlobalEmailSignup-link {
  padding-left: 10px;

  font-size: 14px;
  line-height: 40px;
}

.footer-GlobalEmailSignup-heading {
  display: inline-block;
  width: 285px;
  margin-right: 13px;

  text-align: left;

  +breakpoint($breakpoint-s) {
    width: auto;
  }

  +breakpoint($breakpoint-m) {
    display: block;
  }

  +breakpoint($breakpoint-l) {
    display: inline-block;
  }

  p {
    margin: 0;

    color: $black;

    line-height: 40px;
  }
}

.footer-GlobalEmailSignup-form {
  .form-group, .validation-group {
    margin-top: 0;
    display: inline-block;
  }
}

.footer-GlobalEmailSignup-form .form-control {
  width: 216px;

  +breakpoint($breakpoint-xl) {
    width: 270px;
  }
}

.footer-GlobalEmailSignup-form .btn {
  display: inline-block;
  padding: 0 10px;
  margin: 1px 0 0 8px;

  vertical-align: top;
}
