.footer-GlobalEmailSignupModal {
  .modal {
    width: 600px;
    margin-left: -300px;
  }

  .slidepanel {
    text-align: left;

    .slidepanel-body {
      padding: 16px;
    }
  }
}

.footer-GlobalEmailSignupModal-heading {
  margin-top: 0;
}

.footer-GlobalEmailSignupModal-text {
  margin-top: 10px;
}

.footer-GlobalEmailSignupModal-emailId {
  word-wrap: break-word;
}
