/*
OnlineOpinion v5.9.0
Released: 11/17/2014. Compiled 11/17/2014 01:01:01 PM -0600
Branch: master 7cffc7b9a0b11594d56b71ca0cb042d9b0fc24f5
Components: Full
UMD: enabled
The following code is Copyright 1998-2014 Opinionlab, Inc. All rights reserved. Unauthorized use is prohibited. This product and other products of OpinionLab, Inc. are protected by U.S. Patent No. 6606581, 6421724, 6785717 B1 and other patents pending. http://www.opinionlab.com
*/

#oo_waypoint_container {
  position: relative;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999999;

  +breakpoint($breakpoint-l) {
    position: fixed;
  }
}

#oo_waypoint_prompt {
  background: $white;
  border-radius: 9px;
  border: 3px solid $blue;
  box-shadow: rgba(0, 0, 0, .6) 0 0 8px;
  margin: 15% auto;
  text-align: left;
  position: relative;
  width: 500px;
  z-index: 999999;
  box-sizing: content-box;
}

#oo_waypoint_prompt #oo_company_logo {
  display: none;
}

#oo_waypoint_prompt #oo_waypoint_content {
  width: 82%;
  padding: 30px 9% 20px 9%;
  box-sizing: content-box;
}

#oo_waypoint_prompt #oo_waypoint_content a {
  cursor: pointer;
}

#oo_waypoint_prompt #oo_waypoint_content a:focus {
  outline: none;
}

#oo_waypoint_prompt #oo_waypoint_content p {
  color: $black;
  font: 1em / 1.5em;
  margin: 0;
  padding: 0 0 20px 0;
  text-align: center;
}

#oo_waypoint_prompt #oo_waypoint_content p#oo_waypoint_message {
  font-size: 1.5em;
  color: $blue;
}

#oo_waypoint_prompt #oo_waypoint_content p#oo_waypoint_message .top {
  font-weight: 900;
  font-size: 1.6em;
  line-height: 1em;
}

#oo_waypoint_prompt #oo_waypoint_content a.waypoint_icon {
  border-radius: 9px;
  text-decoration: none;
  font-size: 1.4em;
  line-height: 1.2em;
  padding: 12px 0 13px 0;
  display: block;
  height: 25px;
  color: $white;
  margin-bottom: 20px;
  background-color: #1a75cf;
  text-align: center;
  box-sizing: content-box;
}

#oo_waypoint_prompt #oo_waypoint_content a.waypoint_icon.last {
  margin-bottom: 0;
}

#oo_waypoint_prompt #oo_waypoint_content #ol_brand_logo {
  border-top: 1px solid $grey-light;
  line-height: 1.5em;
  margin: 10px 0 0 0;
  padding: 20px 0 0 0;
}

#oo_waypoint_prompt #oo_waypoint_content #ol_brand_logo img {
  width: 146px;
}

#oo_waypoint_prompt #oo_waypoint_content #ol_brand_logo a {
  display: block;
  height: 25px;
}

#oo_waypoint_prompt #oo_close_prompt {
  position: absolute;
  display: block;
  right: 13px;
  top: 13px;
  line-height: 1em;
  font-size: 1em;
  color: $blue;
  text-decoration: none;
}

#oo_waypoint_prompt #oo_close_prompt:focus {
  outline: none;
}

#oo_waypoint_prompt #oo_close_prompt:focus span {
  outline: none;
}

#oo_waypoint_prompt .screen_reader {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

/* Android, iPhone 6 ----------- */
@media only screen and (max-device-width: 480px), screen and (device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) {
  #oo_waypoint_prompt {
    width: 90%;
  }
}

/* iPhone 5, 4 ----------- */
@media only screen and (device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2), screen and (device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 2) {
  #oo_waypoint_prompt {
    width: 90%;
    height: 90%;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  #oo_waypoint_prompt #oo_waypoint_content {
    padding: 20px 10% 20px 10%;
  }

  #oo_waypoint_prompt #oo_waypoint_content #ol_brand_logo {
    margin: 0;
  }

  #oo_waypoint_prompt #oo_waypoint_content a.waypoint_icon {
    font-size: 1.1em;
    line-height: 1.5em;
  }

  #oo_waypoint_prompt #oo_waypoint_content p#oo_waypoint_message {
    font-size: 1.3em;
  }

  #oo_waypoint_prompt {
    height: auto;
  }
}

#oo_overlay, #oo_invitation_overlay, #oo_waypoint_overlay {
  display: block;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999998;
  opacity: 0.5;
}

#oo_overlay.no_loading, #oo_invitation_overlay.no_loading, #oo_waypoint_overlay.no_loading {
  background: white;
}
