@require "~@walmart/wmreact-base/src/styles/base";
@require "~@walmart/wmreact-layout/src/styles/layout";
@require "~@walmart/wmreact-interactive/src/styles/interactive";
@require "~@walmart/wmreact-carousel/src/styles/carousel";

$prod-HeroImageDim-xs ?= 260px; // @stylint ignore
$prod-HeroImageDim-m ?= 364px; // @stylint ignore
$prod-HeroImageDim-l ?= 450px; // @stylint ignore

$prod-AltImageCarouselDim-xs ?= 60px !important; // @stylint ignore
$prod-AltImageCarouselImageDim-xs ?= 48px; // @stylint ignore

$prod-AltImageCarouselDim-xl ?= 90px !important // @stylint ignore;
$prod-AltImageCarouselImageDim-xl ?= 60px; // @stylint ignore

.prod-ProductImage { // @stylint ignore
  text-align: center;

  .slider {
    wmzindex("e-product-hero-image-small");
    margin: auto;

    +breakpoint($breakpoint-s) {
      max-width: 400px;
    }

    +breakpoint($breakpoint-l) {
      max-width: none;
    }

    +breakpoint($breakpoint-xs-max, "max") {
      img {
        padding: 0 40px;
      }
    }
  }

  +breakpoint($breakpoint-m-max, "max") {
    .prod-AltImageWrapper {
      /*
        if a video thumb does not exists, we display 4 slides,
        in alt image carousel, so it have have some additional width.
      */
      > span > div {
        display: inline-block;
        width: 390px;
      }

      /*
        if a video thumb exists, we display 3 slides,
        in alt image carousel, so we reduce the carousel container width.
      */
      > .prod-AltImageCarousel.prod-VideoItem + span > div {
        width: 300px;
      }

      .prod-AltImageCarousel.prod-VideoItem {
        display: inline-block;
        margin-top: 20px;
        vertical-align: top;
      }
    }
  }

  .prod-AltImageCarousel,
  .prod-AltImageCarousel--active {
    width: $prod-AltImageCarouselDim-xs;
    margin: 0 auto;
    padding: 5px 6px 0;
    border: 1px solid $grey-light;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    text-align: center;

    .prod-AltImageCarousel-image {
      display: inline;
      width: $prod-AltImageCarouselImageDim-xs;
      height: $prod-AltImageCarouselImageDim-xs;
    }

    .prod-AltImageCarousel-videoThumb {
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
      position: absolute;
    }

    +breakpoint($breakpoint-xl) {
      width: $prod-AltImageCarouselDim-xl;

      .prod-AltImageCarousel-image {
        width: $prod-AltImageCarouselImageDim-xl;
        height: $prod-AltImageCarouselImageDim-xl;
      }
    }
  }

  .prod-AltImageCarousel--active {
    border-color: $green;
    border-width: 1px;
  }

  .prod-HeroImageCarousel-image {
    width: auto;
    height: $prod-HeroImageDim-xs;
    margin: 0 auto;
    display: block;
  }

  .prod-HeroImage {
    .prod-HeroImage-image{
      display: block;
      margin: auto;

      +breakpoint($breakpoint-m) {
        width: $prod-HeroImageDim-m;
        height: $prod-HeroImageDim-m;
      }

      +breakpoint($breakpoint-l) {
        width: $prod-HeroImageDim-l;
        height: $prod-HeroImageDim-l;
      }
    }
  }
}

.prod-LoadingCarousel-m { // @stylint ignore
  display: none;

  +breakpoint($breakpoint-m) {
    display: block;
  }
}

.prod-LoadingCarousel-s { // @stylint ignore
  +breakpoint($breakpoint-m) {
    display: none;
  }
}
