// @from @walmart/hydra/src/common/base/buttons.styl
@require "./button";

$dropdown-color = {
 caret: $blue,
 border: $grey-light,
 border-hover: $blue-secondary
}

/*!
Dropdowns

.dropdown-alt - Alternate variant.
.dropdown-dark - Dark Variant
.dropdown-wide - Wide Variant
.dropdown-alt.dropdown-wide - Wide alternate variant.
.dropdown-dark.dropdown-wide - Wide dark variant.
.dropdown-full - Full-width/Block variant.
.dropdown-link - Link variant.

Styleguide 8.3
*/

$tenant-dropdown() {
  .dropdown {
    border-radius: 100px;
  }
}

$tenant-dropdown-alt() {
  .dropdown-alt {
    border-color: $blue-pale;

    background: $blue-pale;

    &:hover {
      border-color: $blue-pale;
    }
  }

  .dropdown-dark {
    color: $white;

    border-color: $blue;

    background: $blue;

    &:hover {
      border-color: $blue-hover;

      background-color: $blue-hover;
    }

    &:active {
      border-color: $blue-active;

      background-color: $blue-active;
    }

    &:after {
      border-top-color: $white;
    }
  }
}

// @from @walmart/hydra/src/tenants/walmart/buttons.styl

/*!
Dropdowns

See tenant dropdowns.
*/

$dropdown-caret {
  &:after {
    content: "";
    position: relative;
    top: 1px;

    display: inline-block;
    width: 0;
    height: 0;
    margin: 0 0 0 5px;
    border: 4px solid transparent;
    border-top-color: $dropdown-color.caret;

    vertical-align: middle;
  }
}

$dropdown-block {
  position: relative;

  padding-right: 28px;

  text-align: left;

  &:after {
    position: absolute;
    top: 50%;
    right: 14px;

    margin-top: -2px;
  }
}

.dropdown {
  @extend $dropdown-caret;

  height: 30px;
  padding: 0 14px;
  border: 1px solid $dropdown-color.border;

  background: $white;
  color: $grey-dark;
  font-size: 14px;
  font-weight: 600;
  // Account for top and bottom border which throws off line height
  line-height: (@height - 2);

  position: relative;

  &:after {
    margin-left: 14px;
  }

  &:hover,
  .flyout.active & {
    border-color: $dropdown-color.border-hover;
  }
}

$tenant-dropdown();

$tenant-dropdown-alt();

.dropdown-wide {
  @extend $dropdown-block;

  width: 148px;
}

.dropdown-full {
  @extend $dropdown-block;

  display: block;
  width: 100%;
}

.dropdown-link {
  @extend $dropdown-caret;

  padding: 0;
  border: 0;

  background: none;

  &:after {
    border-top-color: $yellow;

    transition: .3s ease transform;
    transform-origin: center 2px;
  }

  &:hover:after,
  .flyout.active > &:after {
    transform: rotate(-180deg);

    .no-csstransforms & {
      margin-top: -8px;
      border-top-color: transparent;
      border-bottom-color: $yellow;
    }
  }
}
