// @from @walmart/hydra/src/tenants/walmart/base/paginator.styl

/*!
Paginator Button

.paginator-btn-alt - Alternate colors.

Styleguide 12.1
*/

$paginator-btn-color = {
  standard: {
    text: $blue,
    text-hover: $white,
    bg: $white,
    bg-hover: $blue-hover,
    bg-active: $blue-active,
    border: $grey-light
  },
  alt: {
    text: $white,
    bg: $blue // @stylint ignore
  }
}

$tenant-paginator-btn-alt() {
  .paginator-btn-alt {
    border-color: $paginator-btn-color.alt.bg;

    background: @border-color;

    &,
    &:visited {
      color: $paginator-btn-color.alt.text;
    }
  }
}

/*!
Paginator List
*/

$paginator-list-color = {
  text: $blue,
  border-hover: $grey-light
}

$tenant-paginator-list() {
  .paginator-list {
    a,
    button {
      border-radius: 4px;

      &.active {
        border-color: $green;

        background: $green;
        color: $white;
      }
    }
  }
}

/*!
Multistory POV carousel
*/
$tenant-multistory-pov-carousel() {
  .multistory-pov-carousel {
    .paginator-hairline-btn-large {
      opacity: 0;
    }

    &:hover, &:focus {
      .paginator-hairline-btn-large {
        opacity: 1;
      }
    }
  }
}

/*!
Carousel Paginator
*/

$carousel-paginator-color = {

  standard: $blue-pale, // @from atlas.css
  active: $blue, // @from atlas.css
  hover: $blue-pale-active // @from atlas.css
}

/*!
Chapter Paginator
*/

$tenant-chapter-paginator-list() {
  .chapter-paginator-list {
    border-radius: 50px;
  }
}

$tenant-chapter-paginator-item() {
  .chapter-paginator-item {
    border-color: $grey-light;

    &,
    &:hover {
      color: $blue;
    }

    &.active {
      border-right-color: $blue;

      background: @border-right-color;
    }
  }
}

// @from @walmart/hydra/src/common/base/paginator.styl

/*!
Paginator Button
*/

$paginator-btn-color ?= {
  standard: {
    text: #333,
    text-hover: #555,
    bg: #fff,
    bg-hover: #ccc
    bg-active: #bbb
    border: #aaa
  },
  alt: {
    text: #333,
    bg: #ccc // @stylint ignore
  }
}

$paginator-btn-height = 40px;

.paginator-btn {
  position: relative;

  display: inline-block;
  width: $paginator-btn-height;
  height: @width;
  padding: 0;
  border: 1px solid $paginator-btn-color.standard.border;
  border-radius: 50%;

  background: $paginator-btn-color.standard.bg;
  color: $paginator-btn-color.standard.text;
  font-size: 16px;
  text-align: center;
  vertical-align: middle;
  user-select: none;

  &:before {
    +ifWalmarticons() {
      walmarticons();
    }

    position: relative;
    bottom: 1px;

    font-size: 15px;
    line-height: $paginator-btn-height;
  }

  &:hover,
  &:focus {
    border-color: $paginator-btn-color.standard.bg-hover;

    background: @border-color;
    color: $paginator-btn-color.standard.text-hover;
    outline: none;
  }

  &:active {
    border-color: $paginator-btn-color.standard.bg-active;

    background: @border-color;
    color: $paginator-btn-color.standard.text-hover;
  }

  &.hidden {
    opacity: 0;
  }
}

.js-arrow-hidden {
  visibility: hidden;
}

$tenant-paginator-btn-alt();

.paginator-btn-prev {
  left: 0;

  &:before {
    +ifWalmarticons() {
      wmicon("angle-left");
    }

    right: 1px;
  }
}

.paginator-btn-next {
  right: 0;

  &:before {
    +ifWalmarticons() {
      wmicon("angle-right");
    }

    left: 1px;
  }
}

/*!
Paginator Hairline Button

For use in carousels. Comes in three color schemes and two sizes. For typical
carousel usage, include the `.paginator-hairline-btn-positioned` modifier
class.

.paginator-hairline-btn-light - Light version.
.paginator-hairline-btn-dark - Dark version.
.paginator-hairline-btn-large - Large version.
.paginator-hairline-btn-large.paginator-hairline-btn-light - Large light version.
.paginator-hairline-btn-large.paginator-hairline-btn-dark - Large dark version.
.paginator-hairline-btn-light-no-hover - Light version without hover state.
.paginator-hairline-btn-dark-no-hover - Dark version without hover state.
.paginator-hairline-btn-large..paginator-hairline-btn-light-no-hover - Large light version without hover state.
.paginator-hairline-btn-large..paginator-hairline-btn-dark-no-hover - Large dark version without hover state.

Styleguide 12.2
*/

.paginator-hairline-btn {
  display: inline-block;
  width: 40px;
  height: @width;
  padding: 0;
  border: 0;

  background-color: transparent;
  background-position: center;
  outline: none;
  wmzindex("paginator-hairline-btn");
}

.paginator-hairline-btn-large {
  width: 45px;
  height: 68px;
}

.paginator-hairline-btn-full-height {
  height: auto;
}

.paginator-hairline-btn-full-width {
  width: auto;
}

/*!
Paginator Hairline Button Positioning

The `.paginator-hairline-btn-positioned` modifier class pins hairline buttons
to the edge of their parent, for use when buttons should be displayed on top
of a carousel.

For use with `prev` and `next` directional modifiers, the
`.paginator-hairline-btn-voffset` modifier offsets directional buttons by
30px from the bottom of the container. This allows them to remain vertically
centered over carousel content when carousels include statically positioned
paginators below them.

Styleguide 12.2.1
*/

// By default, vertically and horizontally centers buttons. Each directional
// modifier class adds a value of `auto` to the direction opposite of the one
// that it is anchored to, pulling it to the appropriate side.
.paginator-hairline-btn-positioned {
  absolute-center();

  &.paginator-hairline-btn-prev {
    right: auto;
  }

  &.paginator-hairline-btn-next {
    left: auto;
  }

  &.paginator-hairline-btn-up {
    bottom: auto;
  }

  &.paginator-hairline-btn-down {
    top: auto;
  }
}

.paginator-hairline-btn-voffset {
  bottom: 30px;
}

.paginator-hairline-btn-voffset-large {
  bottom: 34px;
}

/*!
Paginator List

Styleguide 12.3
*/

$paginator-list-color ?= {
  text: #333,
  border-hover: #ccc
}

.paginator-list {
  display: inline-block;
  margin: 0;
  padding: 0;

  list-style: none;
  vertical-align: middle;

  li {
    display: inline-block;
    margin-left: 8px;

    font-size: 16px;
    vertical-align: middle;

    &:first-child {
      margin-left: 0;
    }
  }

  .paginator-list-gap {
    &:before {
      content: "\2026";
      position: relative;
      bottom: 1px;

      color: $paginator-list-color.text;
      font-size: 17px;
    }
  }

  a,
  button {
    display: block;
    // To ensure identical rendering on `a` and `button`, we use padding and line-height instead of
    // height for these elements.
    padding: 2px 7px 4px;
    border: 1px solid transparent;

    background: transparent;
    color: $paginator-list-color.text;
    line-height: 1;
    text-align: center;

    &:hover,
    &:focus {
      border-color: $paginator-list-color.border-hover;

      color: $paginator-list-color.text;
      outline: none;
    }
  }
}

$tenant-paginator-list();

/*!
Paginator

Styleguide 12.4
*/

.paginator {
  // Remove space between inline-block elements
  font-size: 0;
  text-align: center;

  .paginator-list {
    // Paginator lists used in a paginator element with prev/next buttons have margin on both sides
    // to separate them from the buttons.
    margin: 0 18px;
  }
}

/*!
Carousel Paginator

.carousel-paginator-list-mini - Mini variant.
.carousel-paginator-list-positioned - Absolute positioned variant.

Styleguide 12.5
*/

$carousel-paginator-color ?= {
  standard: "#ccc",
  hover: "#bbb",
  active: "#000"
}

$carousel-paginator-list {
  display: block;
  margin: 0;
  padding: 20px 0 0;

  font-size: 0;
  list-style: none;
  text-align: center;
  user-select: none;

  li {
    display: inline-block;
    margin-left: 18px;

    vertical-align: top;

    &:first-child {
      margin-left: 0;
    }
  }
}

carousel-paginator-item-mini() {
  width: 10px;
  height: @width;
}

carousel-paginator-item-active() {
  background: $carousel-paginator-color.active;
  cursor: default;
}

$carousel-paginator-item {
  ir();

  display: block;
  width: 14px;
  height: @width;
  padding: 0;
  border: 0;
  border-radius: 50%;

  background: $carousel-paginator-color.standard;
  color: transparent;

  &:hover,
  &:focus {
    background: $carousel-paginator-color.hover;
    outline: none;
  }

  &.active {
    carousel-paginator-item-active();
  }
}

.carousel-paginator-list {
  @extend $carousel-paginator-list;
}

.carousel-one-up {
  .carousel-paginator-list {
    bottom: 0;
    left: 0;
    margin: 0 auto;
    padding: 20px 0;
    position: absolute;
    right: 0;
    width: 150px;
  }
}

.carousel-one-up-responsive {
  .carousel-paginator-list {
    margin: 0 auto;
    padding: $xs-spacing 0;

    +breakpoint($breakpoint-m) {
      padding-top: $s-spacing;
      padding-bottom: $s-spacing;
    }

    .carousel-paginator-item {
      height: 7px;
      width: 7px;

      +breakpoint($breakpoint-m) {
        height: 10px;
        width: 10px;
      }
    }

    li {
      margin-left: $xs-spacing;

      +breakpoint($breakpoint-m) {
        margin-left: 16px;
      }

      &:first-child {
        margin-left: 0;
      }
    }
  }
}

.carousel-paginator-list-positioned {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

.carousel-paginator-item {
  @extend $carousel-paginator-item;

  .slick-active > & {
    carousel-paginator-item-active();
  }

  .carousel-paginator-list-mini & {
    carousel-paginator-item-mini();
  }
}

// Deprecated, use `.carousel-paginator-list` and `.carousel-paginator-item`
// components instead of `.carousel-paginator`.
.carousel-paginator {
  position: relative;

  height: 55px;

  .paginator-btn {
    position: absolute;
    top: 50%;

    margin-top: -($paginator-btn-height/2);
  }

  .paginator-list {
    @extend $carousel-paginator-list;

    a, button {
      @extend $carousel-paginator-item;
    }
  }
}

.carousel-paginator-mini .paginator-list {
  a, button {
    carousel-paginator-item-mini();
  }
}

/*!
Chapter Paginator

Styleguide 12.6
*/

.chapter-paginator-list {
  display: inline-block;
  height: 50px;
  // TODO: Refactor to use absolute positioning.
  margin: 20px 0 25px;
  padding: 0;

  box-shadow: 0 0 1px rgba(0, 0, 0, .2), 1px 1px 3px rgba(0, 0, 0, .25);
  // Remove inline-block space.
  font-size: 0;
  overflow: hidden;

  li {
    display: inline-block;
    height: 100%;

    font-size: 12px;
    vertical-align: top;

    &:first-child {
      .chapter-paginator-item {
        padding-left: 20px;

        &.chapter-paginator-item-thumb {
          padding-left: 20px;
        }
      }
    }

    &.last {
      .chapter-paginator-item {
        padding-right: 35px;
        border-right: 0;
      }
    }
  }
}

$tenant-chapter-paginator-list();

.chapter-paginator-item {
  display: table;
  width: 200px;
  height: 100%;
  padding: 0 25px 0 0;
  border: 0;
  border-right: 1px solid;
  border-radius: 0;

  background: rgba(255, 255, 255, .9);
  // Prevent background from breaking out of border-radius (which happens when borders are used
  // with display: table)
  background-clip: padding-box;
  text-indent: 0;
  transition: .1s .1s ease;
  transition-property: background-color, border-color, color;

  &,
  &:hover {
    color: $blue;
  }

  &.active {
    &,
    &:hover {
      color: $white;
    }
  }
}

$tenant-chapter-paginator-item();

.chapter-paginator-item-text {
  display: table-cell;
  vertical-align: middle;

  padding-left: 20px;

  font-size: 13px;
  font-weight: 400;
  line-height: 1.2;
  text-align: left;
}

.chapter-paginator-item-img {
  display: table-cell;
  vertical-align: middle;

  img {
    display: block;
    width: auto;
    height: auto;
    max-width: 55px;
    max-height: 50px;
  }
}

.chapter-paginator-item-img-none {
  padding-left: 20px;
}

.chapter-paginator-item-img-top {
  vertical-align: top;
}

.chapter-paginator-item-img-bottom {
  vertical-align: bottom;
}

/* ==========================================================================
   Carousel
   ========================================================================== */

.carousel-wrapper {
  position: relative;

  overflow: hidden;
  width: 100%;
  height: 100%;
}

.carousel {
  wmzindex("none");

  position: relative;

  overflow: hidden;

  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  transform: translate3d(0, 0, 0);

  text-align: center;
  margin: 0 auto;

  .items {
    position: relative;

    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .items > li {
    wmzindex("none");

    position: absolute;

    display: block;
    height: 100%;

    color: rgba(0, 0, 0, .8);

    button, a, img, area {
      -webkit-tap-highlight-color: rgba(0, 0, 0, .3);
    }

    .flyout-modal {
      margin-left: -75px;
      margin-bottom: 2px;
      padding: 6px;

      font-size: 14px;
    }
  }

  .items > .selected {
    wmzindex("basic");

    left: 0;
  }

  .progress {
    wmzindex("basic-increment");

    position: absolute;
    top: 0;
    left: 0;

    width: 0;
    height: 4px;

    background-color: rgba(255, 255, 255, .5);
    transition: width 500ms linear;
  }

  a {
    cursor: pointer;
  }

  a:focus {
    outline: none;
  }

  .next,
  .previous,
  .up,
  .down {
    wmzindex("basic");

    position: absolute;

    display: block;
    border: none;

    background: rgba(255, 255, 255, 0);
    color: $blue;
    font-size: 125px;
    font-weight: lighter;
    line-height: 40px;
    text-align: center;
    transition: background-color 250ms ease-in, color 100ms ease-in;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &:hover {
      color: $white;
    }
  }

  .next,
  .previous {
    top: 50%;
    width: 44px;
    height: 70px;

    margin-top: -(@height/2);
  }

  .next {
    right: 0;
  }

  .previous {
    left: 0;
  }

  .up {
    top: 0;
  }

  .down {
    bottom: 0;
  }

  .paginator-btn {
    wmzindex("carousel-paginator");

    position: absolute;
    top: 50%;

    margin-top: -($paginator-btn-height/2);
  }

  .carousel-paginator,
  .chapter-paginator {
    wmzindex("carousel-paginator");

    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .chapter-paginator {
    height: 95px;
  }

  // TODO: Remove these magic number-based legacy styles.
  .paginator-btn-next {
    right: 20px;
  }

  .paginator-btn-prev {
    left: 5px;
  }
}

.carousel-touch {
  .touch-wrap {
    overflow-x: scroll;
  }

  .items {
    > li {
      position: relative;
      float: left;
    }
  }
}

.image-map-swipe {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.carousel.slide .animate {
  transition: left 500ms ease-in-out;
}

.carousel.slide .animate-vertical {
  transition: top 500ms ease-in-out;
}

.carousel-loading {
  .items {
    white-space: nowrap;
    overflow: hidden;

    .carousel-n-up-responsive .carousel-paginator-list {
      height: 50px;
    }

    .tile-heading span, .tile .tile-heading, .Tile-heading {
      white-space: normal;
    }

    > li {
      wmzindex("none");

      position: static;
      display: inline-block;
      height: 100%;

      color: rgba(0, 0, 0, .8);
      white-space: normal;
    }
  }
}

.pov-carousel-loading {
  .items > li {
    wmzindex("none");

    position: static;

    display: none;
    height: 100%;

    color: rgba(0, 0, 0, .8);
    background-color: $white;
  }

  .items > li:first-child {
    display: inline-block;
    width: 100%;
    height: 100%;
  }
}

.carousel-n-up {
  text-align: left;
  padding: 0;

  .items {
    .visible .tile:after {
      opacity: 0;
      content: none;
    }

    // Put gradient on half and hidden tiles
    .tile:after {
      content: "";
      position: absolute;
      opacity: 1;
      top: 0;
      right: 0;

      display: block;
      width: 100%;
      height: 100%;

      // Fallback IE9 non-gradient
      background: rgba(255, 255, 255, .7);
      // IE10+ gradient (for smoothing the visual on sliding)
      background: linear-gradient(right, rgba(255, 255, 255, .7), rgba(255, 255, 255, .2));
      transition: .3s ease opacity, .3s ease visibility;
      visibility: visible;
    }

    > li {
      height: auto;
      background: transparent;
      vertical-align: top;
    }
  }

  .paginator-btn {
    opacity: 0;
    transition: .3s ease opacity;
  }

  &:hover {
    .paginator-btn {
      opacity: 1;

      &.hidden {
        opacity: 0;
      }
    }
  }
}

$tenant-multistory-pov-carousel();


// @from zeus.css

.paginator-hairline-btn-down.paginator-hairline-btn-dark,
.paginator-hairline-btn-down.paginator-hairline-btn-light:hover,
.paginator-hairline-btn-down.paginator-hairline-btn-light:focus,
.paginator-hairline-btn-down.paginator-hairline-btn-dark-no-hover,
.paginator-hairline-btn-down.paginator-hairline-btn-dark-no-hover:hover,
.paginator-hairline-btn-down.paginator-hairline-btn-dark-no-hover:focus,
.gicon-paginator-hairline-btn-down-dark {
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2241.3%22%20height%3D%2216.8%22%20viewBox%3D%220%200%2041.3%2016.8%22%3E%3Cpath%20fill%3D%22%23303030%22%20stroke%3D%22%23303030%22%20opacity%3D%22.4%22%20stroke-width%3D%222.5%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M.7%201l19.9%2014.2%2020-14.2-20%2014.2%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
}

.paginator-hairline-btn-down:hover,
.paginator-hairline-btn-down:focus,
.gicon-paginator-hairline-btn-down-hover {
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2241.3%22%20height%3D%2216.8%22%20viewBox%3D%220%200%2041.3%2016.8%22%3E%3Cpath%20fill%3D%22%2344A0D9%22%20stroke%3D%22%2344A0D9%22%20stroke-width%3D%222.5%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M.7%201l19.9%2014.2%2020-14.2-20%2014.2%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
}

.paginator-hairline-btn-down.paginator-hairline-btn-light,
.paginator-hairline-btn-down.paginator-hairline-btn-dark:hover,
.paginator-hairline-btn-down.paginator-hairline-btn-dark:focus,
.paginator-hairline-btn-down.paginator-hairline-btn-light-no-hover,
.paginator-hairline-btn-down.paginator-hairline-btn-light-no-hover:hover,
.paginator-hairline-btn-down.paginator-hairline-btn-light-no-hover:focus,
.gicon-paginator-hairline-btn-down-light {
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2241.3%22%20height%3D%2216.8%22%20viewBox%3D%220%200%2041.3%2016.8%22%3E%3Cpath%20fill%3D%22%23fff%22%20stroke%3D%22%23fff%22%20opacity%3D%22.8%22%20stroke-width%3D%222.5%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M.7%201l19.9%2014.2%2020-14.2-20%2014.2%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
}

.paginator-hairline-btn-down,
.gicon-paginator-hairline-btn-down {
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2241.3%22%20height%3D%2216.8%22%20viewBox%3D%220%200%2041.3%2016.8%22%3E%3Cpath%20fill%3D%22%23007dc6%22%20stroke%3D%22%23007dc6%22%20stroke-width%3D%222.5%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M.7%201l19.9%2014.2%2020-14.2-20%2014.2%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
}

.paginator-hairline-btn-large.paginator-hairline-btn-down.paginator-hairline-btn-dark,
.paginator-hairline-btn-large.paginator-hairline-btn-down.paginator-hairline-btn-light:hover,
.paginator-hairline-btn-large.paginator-hairline-btn-down.paginator-hairline-btn-light:focus,
.paginator-hairline-btn-large.paginator-hairline-btn-down.paginator-hairline-btn-dark-no-hover,
.paginator-hairline-btn-large.paginator-hairline-btn-down.paginator-hairline-btn-dark-no-hover:hover,
.paginator-hairline-btn-large.paginator-hairline-btn-down.paginator-hairline-btn-dark-no-hover:focus,
.gicon-paginator-hairline-btn-large-down-dark {
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2265.8%22%20height%3D%2229.2%22%20viewBox%3D%220%200%2065.8%2029.2%22%3E%3Cpath%20stroke%3D%22%23303030%22%20opacity%3D%22.4%22%20stroke-width%3D%224%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M2%202l31.1%2025.2%2030.7-25.2%22%20fill%3D%22none%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
}

.paginator-hairline-btn-large.paginator-hairline-btn-down:hover,
.paginator-hairline-btn-large.paginator-hairline-btn-down:focus,
.gicon-paginator-hairline-btn-large-down-hover {
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2265.8%22%20height%3D%2229.2%22%20viewBox%3D%220%200%2065.8%2029.2%22%3E%3Cpath%20stroke%3D%22%2344A0D9%22%20stroke-width%3D%224%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M2%202l31.1%2025.2%2030.7-25.2%22%20fill%3D%22none%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
}

.paginator-hairline-btn-large.paginator-hairline-btn-down.paginator-hairline-btn-light,
.paginator-hairline-btn-large.paginator-hairline-btn-down.paginator-hairline-btn-dark:hover,
.paginator-hairline-btn-large.paginator-hairline-btn-down.paginator-hairline-btn-dark:focus,
.paginator-hairline-btn-large.paginator-hairline-btn-down.paginator-hairline-btn-light-no-hover,
.paginator-hairline-btn-large.paginator-hairline-btn-down.paginator-hairline-btn-light-no-hover:hover,
.paginator-hairline-btn-large.paginator-hairline-btn-down.paginator-hairline-btn-light-no-hover:focus,
.gicon-paginator-hairline-btn-large-down-light {
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2265.8%22%20height%3D%2229.2%22%20viewBox%3D%220%200%2065.8%2029.2%22%3E%3Cpath%20stroke%3D%22%23fff%22%20opacity%3D%22.8%22%20stroke-width%3D%224%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M2%202l31.1%2025.2%2030.7-25.2%22%20fill%3D%22none%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
}

.paginator-hairline-btn-large.paginator-hairline-btn-down,
.gicon-paginator-hairline-btn-large-down {
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2265.8%22%20height%3D%2229.2%22%20viewBox%3D%220%200%2065.8%2029.2%22%3E%3Cpath%20stroke%3D%22%23007dc6%22%20stroke-width%3D%224%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M2%202l31.1%2025.2%2030.7-25.2%22%20fill%3D%22none%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
}

.paginator-hairline-btn-large.paginator-hairline-btn-prev.paginator-hairline-btn-dark,
.paginator-hairline-btn-large.paginator-hairline-btn-prev.paginator-hairline-btn-light:hover,
.paginator-hairline-btn-large.paginator-hairline-btn-prev.paginator-hairline-btn-light:focus,
.paginator-hairline-btn-large.paginator-hairline-btn-prev.paginator-hairline-btn-dark-no-hover,
.paginator-hairline-btn-large.paginator-hairline-btn-prev.paginator-hairline-btn-dark-no-hover:hover,
.paginator-hairline-btn-large.paginator-hairline-btn-prev.paginator-hairline-btn-dark-no-hover:focus,
.gicon-paginator-hairline-btn-large-left-dark {
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2229.2%22%20height%3D%2265.8%22%20viewBox%3D%220%200%2029.2%2065.8%22%3E%3Cpath%20stroke%3D%22%23303030%22%20opacity%3D%22.4%22%20stroke-width%3D%224%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M27.2%202l-25.2%2031.1%2025.2%2030.7%22%20fill%3D%22none%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
}

.paginator-hairline-btn-large.paginator-hairline-btn-prev:hover,
.paginator-hairline-btn-large.paginator-hairline-btn-prev:focus,
.gicon-paginator-hairline-btn-large-left-hover {
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2229.2%22%20height%3D%2265.8%22%20viewBox%3D%220%200%2029.2%2065.8%22%3E%3Cpath%20stroke%3D%22%2344A0D9%22%20stroke-width%3D%224%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M27.2%202l-25.2%2031.1%2025.2%2030.7%22%20fill%3D%22none%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
}

.paginator-hairline-btn-large.paginator-hairline-btn-prev.paginator-hairline-btn-light,
.paginator-hairline-btn-large.paginator-hairline-btn-prev.paginator-hairline-btn-dark:hover,
.paginator-hairline-btn-large.paginator-hairline-btn-prev.paginator-hairline-btn-dark:focus,
.paginator-hairline-btn-large.paginator-hairline-btn-prev.paginator-hairline-btn-light-no-hover,
.paginator-hairline-btn-large.paginator-hairline-btn-prev.paginator-hairline-btn-light-no-hover:hover,
.paginator-hairline-btn-large.paginator-hairline-btn-prev.paginator-hairline-btn-light-no-hover:focus,
.gicon-paginator-hairline-btn-large-left-light {
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2229.2%22%20height%3D%2265.8%22%20viewBox%3D%220%200%2029.2%2065.8%22%3E%3Cpath%20stroke%3D%22%23fff%22%20opacity%3D%22.8%22%20stroke-width%3D%224%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M27.2%202l-25.2%2031.1%2025.2%2030.7%22%20fill%3D%22none%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
}

.paginator-hairline-btn-large.paginator-hairline-btn-prev,
.gicon-paginator-hairline-btn-large-left {
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2229.2%22%20height%3D%2265.8%22%20viewBox%3D%220%200%2029.2%2065.8%22%3E%3Cpath%20stroke%3D%22%23007dc6%22%20stroke-width%3D%224%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M27.2%202l-25.2%2031.1%2025.2%2030.7%22%20fill%3D%22none%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
}

.paginator-hairline-btn-large.paginator-hairline-btn-next.paginator-hairline-btn-dark,
.paginator-hairline-btn-large.paginator-hairline-btn-next.paginator-hairline-btn-light:hover,
.paginator-hairline-btn-large.paginator-hairline-btn-next.paginator-hairline-btn-light:focus,
.paginator-hairline-btn-large.paginator-hairline-btn-next.paginator-hairline-btn-dark-no-hover,
.paginator-hairline-btn-large.paginator-hairline-btn-next.paginator-hairline-btn-dark-no-hover:hover,
.paginator-hairline-btn-large.paginator-hairline-btn-next.paginator-hairline-btn-dark-no-hover:focus,
.gicon-paginator-hairline-btn-large-right-dark {
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2229.2%22%20height%3D%2265.8%22%20viewBox%3D%220%200%2029.2%2065.8%22%3E%3Cpath%20stroke%3D%22%23303030%22%20opacity%3D%22.4%22%20stroke-width%3D%224%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M2%2063.8l25.2-31.2-25.2-30.6%22%20fill%3D%22none%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
}

.paginator-hairline-btn-large.paginator-hairline-btn-next:hover,
.paginator-hairline-btn-large.paginator-hairline-btn-next:focus,
.gicon-paginator-hairline-btn-large-right-hover {
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2229.2%22%20height%3D%2265.8%22%20viewBox%3D%220%200%2029.2%2065.8%22%3E%3Cpath%20stroke%3D%22%2344A0D9%22%20stroke-width%3D%224%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M2%2063.8l25.2-31.2-25.2-30.6%22%20fill%3D%22none%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
}

.paginator-hairline-btn-large.paginator-hairline-btn-next.paginator-hairline-btn-light,
.paginator-hairline-btn-large.paginator-hairline-btn-next.paginator-hairline-btn-dark:hover,
.paginator-hairline-btn-large.paginator-hairline-btn-next.paginator-hairline-btn-dark:focus,
.paginator-hairline-btn-large.paginator-hairline-btn-next.paginator-hairline-btn-light-no-hover,
.paginator-hairline-btn-large.paginator-hairline-btn-next.paginator-hairline-btn-light-no-hover:hover,
.paginator-hairline-btn-large.paginator-hairline-btn-next.paginator-hairline-btn-light-no-hover:focus,
.gicon-paginator-hairline-btn-large-right-light {
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2229.2%22%20height%3D%2265.8%22%20viewBox%3D%220%200%2029.2%2065.8%22%3E%3Cpath%20stroke%3D%22%23fff%22%20opacity%3D%22.8%22%20stroke-width%3D%224%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M2%2063.8l25.2-31.2-25.2-30.6%22%20fill%3D%22none%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
}

.paginator-hairline-btn-large.paginator-hairline-btn-next,
.gicon-paginator-hairline-btn-large-right {
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2229.2%22%20height%3D%2265.8%22%20viewBox%3D%220%200%2029.2%2065.8%22%3E%3Cpath%20stroke%3D%22%23007dc6%22%20stroke-width%3D%224%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M2%2063.8l25.2-31.2-25.2-30.6%22%20fill%3D%22none%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
}

.paginator-hairline-btn-large.paginator-hairline-btn-up.paginator-hairline-btn-dark,
.paginator-hairline-btn-large.paginator-hairline-btn-up.paginator-hairline-btn-light:hover,
.paginator-hairline-btn-large.paginator-hairline-btn-up.paginator-hairline-btn-light:focus,
.paginator-hairline-btn-large.paginator-hairline-btn-up.paginator-hairline-btn-dark-no-hover,
.paginator-hairline-btn-large.paginator-hairline-btn-up.paginator-hairline-btn-dark-no-hover:hover,
.paginator-hairline-btn-large.paginator-hairline-btn-up.paginator-hairline-btn-dark-no-hover:focus,
.gicon-paginator-hairline-btn-large-up-dark {
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2265.8%22%20height%3D%2229.2%22%20viewBox%3D%220%200%2065.8%2029.2%22%3E%3Cpath%20stroke%3D%22%23303030%22%20opacity%3D%22.4%22%20stroke-width%3D%224%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M63.8%2027.2l-31.2-25.2-30.6%2025.2%22%20fill%3D%22none%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
}

.paginator-hairline-btn-large.paginator-hairline-btn-up:hover,
.paginator-hairline-btn-large.paginator-hairline-btn-up:focus,
.gicon-paginator-hairline-btn-large-up-hover {
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2265.8%22%20height%3D%2229.2%22%20viewBox%3D%220%200%2065.8%2029.2%22%3E%3Cpath%20stroke%3D%22%2344A0D9%22%20stroke-width%3D%224%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M63.8%2027.2l-31.2-25.2-30.6%2025.2%22%20fill%3D%22none%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
}

.paginator-hairline-btn-large.paginator-hairline-btn-up.paginator-hairline-btn-light,
.paginator-hairline-btn-large.paginator-hairline-btn-up.paginator-hairline-btn-dark:hover,
.paginator-hairline-btn-large.paginator-hairline-btn-up.paginator-hairline-btn-dark:focus,
.paginator-hairline-btn-large.paginator-hairline-btn-up.paginator-hairline-btn-light-no-hover,
.paginator-hairline-btn-large.paginator-hairline-btn-up.paginator-hairline-btn-light-no-hover:hover,
.paginator-hairline-btn-large.paginator-hairline-btn-up.paginator-hairline-btn-light-no-hover:focus,
.gicon-paginator-hairline-btn-large-up-light {
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2265.8%22%20height%3D%2229.2%22%20viewBox%3D%220%200%2065.8%2029.2%22%3E%3Cpath%20stroke%3D%22%23fff%22%20opacity%3D%22.8%22%20stroke-width%3D%224%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M63.8%2027.2l-31.2-25.2-30.6%2025.2%22%20fill%3D%22none%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
}

.paginator-hairline-btn-large.paginator-hairline-btn-up,
.gicon-paginator-hairline-btn-large-up {
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2265.8%22%20height%3D%2229.2%22%20viewBox%3D%220%200%2065.8%2029.2%22%3E%3Cpath%20stroke%3D%22%23007dc6%22%20stroke-width%3D%224%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M63.8%2027.2l-31.2-25.2-30.6%2025.2%22%20fill%3D%22none%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
}

.paginator-hairline-btn-prev.paginator-hairline-btn-dark,
.paginator-hairline-btn-prev.paginator-hairline-btn-light:hover,
.paginator-hairline-btn-prev.paginator-hairline-btn-light:focus,
.paginator-hairline-btn-prev.paginator-hairline-btn-dark-no-hover,
.paginator-hairline-btn-prev.paginator-hairline-btn-dark-no-hover:hover,
.paginator-hairline-btn-prev.paginator-hairline-btn-dark-no-hover:focus,
.gicon-paginator-hairline-btn-left-dark {
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216.8%22%20height%3D%2241.3%22%20viewBox%3D%220%200%2016.8%2041.3%22%3E%3Cpath%20fill%3D%22%23303030%22%20stroke%3D%22%23303030%22%20opacity%3D%22.4%22%20stroke-width%3D%222.5%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M15.7.7l-14.2%2019.9%2014.2%2020-14.2-20%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
}

.paginator-hairline-btn-prev:hover,
.paginator-hairline-btn-prev:focus,
.gicon-paginator-hairline-btn-left-hover {
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216.8%22%20height%3D%2241.3%22%20viewBox%3D%220%200%2016.8%2041.3%22%3E%3Cpath%20fill%3D%22%2344A0D9%22%20stroke%3D%22%2344A0D9%22%20stroke-width%3D%222.5%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M15.7.7l-14.2%2019.9%2014.2%2020-14.2-20%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
}

.paginator-hairline-btn-prev.paginator-hairline-btn-light,
.paginator-hairline-btn-prev.paginator-hairline-btn-dark:hover,
.paginator-hairline-btn-prev.paginator-hairline-btn-dark:focus,
.paginator-hairline-btn-prev.paginator-hairline-btn-light-no-hover,
.paginator-hairline-btn-prev.paginator-hairline-btn-light-no-hover:hover,
.paginator-hairline-btn-prev.paginator-hairline-btn-light-no-hover:focus,
.gicon-paginator-hairline-btn-left-light {
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216.8%22%20height%3D%2241.3%22%20viewBox%3D%220%200%2016.8%2041.3%22%3E%3Cpath%20fill%3D%22%23fff%22%20stroke%3D%22%23fff%22%20opacity%3D%22.8%22%20stroke-width%3D%222.5%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M15.7.7l-14.2%2019.9%2014.2%2020-14.2-20%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
}

.paginator-hairline-btn-prev,
.gicon-paginator-hairline-btn-left {
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216.8%22%20height%3D%2241.3%22%20viewBox%3D%220%200%2016.8%2041.3%22%3E%3Cpath%20fill%3D%22%23007dc6%22%20stroke%3D%22%23007dc6%22%20stroke-width%3D%222.5%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M15.7.7l-14.2%2019.9%2014.2%2020-14.2-20%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
}

.paginator-hairline-btn-next.paginator-hairline-btn-dark,
.paginator-hairline-btn-next.paginator-hairline-btn-light:hover,
.paginator-hairline-btn-next.paginator-hairline-btn-light:focus,
.paginator-hairline-btn-next.paginator-hairline-btn-dark-no-hover,
.paginator-hairline-btn-next.paginator-hairline-btn-dark-no-hover:hover,
.paginator-hairline-btn-next.paginator-hairline-btn-dark-no-hover:focus,
.gicon-paginator-hairline-btn-right-dark {
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216.8%22%20height%3D%2241.3%22%20viewBox%3D%220%200%2016.8%2041.3%22%3E%3Cpath%20fill%3D%22%23303030%22%20stroke%3D%22%23303030%22%20opacity%3D%22.4%22%20stroke-width%3D%222.5%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M1%2040.6l14.2-19.9-14.2-20%2014.2%2020%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
}

.paginator-hairline-btn-next:hover,
.paginator-hairline-btn-next:focus,
.gicon-paginator-hairline-btn-right-hover {
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216.8%22%20height%3D%2241.3%22%20viewBox%3D%220%200%2016.8%2041.3%22%3E%3Cpath%20fill%3D%22%2344A0D9%22%20stroke%3D%22%2344A0D9%22%20stroke-width%3D%222.5%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M1%2040.6l14.2-19.9-14.2-20%2014.2%2020%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
}

.paginator-hairline-btn-next.paginator-hairline-btn-light,
.paginator-hairline-btn-next.paginator-hairline-btn-dark:hover,
.paginator-hairline-btn-next.paginator-hairline-btn-dark:focus,
.paginator-hairline-btn-next.paginator-hairline-btn-light-no-hover,
.paginator-hairline-btn-next.paginator-hairline-btn-light-no-hover:hover,
.paginator-hairline-btn-next.paginator-hairline-btn-light-no-hover:focus,
.gicon-paginator-hairline-btn-right-light {
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216.8%22%20height%3D%2241.3%22%20viewBox%3D%220%200%2016.8%2041.3%22%3E%3Cpath%20fill%3D%22%23fff%22%20stroke%3D%22%23fff%22%20opacity%3D%22.8%22%20stroke-width%3D%222.5%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M1%2040.6l14.2-19.9-14.2-20%2014.2%2020%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
}

.paginator-hairline-btn-next,
.gicon-paginator-hairline-btn-right {
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216.8%22%20height%3D%2241.3%22%20viewBox%3D%220%200%2016.8%2041.3%22%3E%3Cpath%20fill%3D%22%23007dc6%22%20stroke%3D%22%23007dc6%22%20stroke-width%3D%222.5%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M1%2040.6l14.2-19.9-14.2-20%2014.2%2020%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
}

.paginator-hairline-btn-up.paginator-hairline-btn-dark,
.paginator-hairline-btn-up.paginator-hairline-btn-light:hover,
.paginator-hairline-btn-up.paginator-hairline-btn-light:focus,
.paginator-hairline-btn-up.paginator-hairline-btn-dark-no-hover,
.paginator-hairline-btn-up.paginator-hairline-btn-dark-no-hover:hover,
.paginator-hairline-btn-up.paginator-hairline-btn-dark-no-hover:focus,
.gicon-paginator-hairline-btn-up-dark {
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2241.3%22%20height%3D%2216.8%22%20viewBox%3D%220%200%2041.3%2016.8%22%3E%3Cpath%20fill%3D%22%23303030%22%20stroke%3D%22%23303030%22%20opacity%3D%22.4%22%20stroke-width%3D%222.5%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M40.6%2015.7l-19.9-14.2-20%2014.2%2020-14.2%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
}

.paginator-hairline-btn-up:hover,
.paginator-hairline-btn-up:focus,
.gicon-paginator-hairline-btn-up-hover {
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2241.3%22%20height%3D%2216.8%22%20viewBox%3D%220%200%2041.3%2016.8%22%3E%3Cpath%20fill%3D%22%2344A0D9%22%20stroke%3D%22%2344A0D9%22%20stroke-width%3D%222.5%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M40.6%2015.7l-19.9-14.2-20%2014.2%2020-14.2%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
}

.paginator-hairline-btn-up.paginator-hairline-btn-light,
.paginator-hairline-btn-up.paginator-hairline-btn-dark:hover,
.paginator-hairline-btn-up.paginator-hairline-btn-dark:focus,
.paginator-hairline-btn-up.paginator-hairline-btn-light-no-hover,
.paginator-hairline-btn-up.paginator-hairline-btn-light-no-hover:hover,
.paginator-hairline-btn-up.paginator-hairline-btn-light-no-hover:focus,
.gicon-paginator-hairline-btn-up-light {
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2241.3%22%20height%3D%2216.8%22%20viewBox%3D%220%200%2041.3%2016.8%22%3E%3Cpath%20fill%3D%22%23fff%22%20stroke%3D%22%23fff%22%20opacity%3D%22.8%22%20stroke-width%3D%222.5%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M40.6%2015.7l-19.9-14.2-20%2014.2%2020-14.2%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
}

.paginator-hairline-btn-up,
.gicon-paginator-hairline-btn-up {
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2241.3%22%20height%3D%2216.8%22%20viewBox%3D%220%200%2041.3%2016.8%22%3E%3Cpath%20fill%3D%22%23007dc6%22%20stroke%3D%22%23007dc6%22%20stroke-width%3D%222.5%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M40.6%2015.7l-19.9-14.2-20%2014.2%2020-14.2%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
}


