@require "~@walmart/wmreact-layout/src/styles/layout";

.revealer-footer {
  position: relative;
  text-align: center;
  z-index: 9;

  &.is-active {
    margin-top: 20px;

    box-shadow: none;
  }

  &.border {
    border-top: 1px solid $grey-cool;
    box-shadow: 0 -18px 25px 0 rgba(254, 253, 253, .9);
  }

  .caret:after {
    transform-origin: 50%;
  }
}
