.tile-competitor-info {
  height: 62px;
  margin-top: $xs-spacing;
  padding-top: 6px;
  padding-bottom: $m-spacing;
  border-top: 1px solid $grey-very-light;

  font-size: $font-size-small;
  line-height: 18px;
  color: $grey-dark;

  +breakpoint($breakpoint-m) {
    padding-bottom: $l-spacing;
  }
}
