@require "~@walmart/lithe-extras/lib/tenants/walmart/base";
.ProductSellerCard {
  padding: 10px;
  min-height: 125px;
  position: relative;

  +breakpoint($breakpoint-m) {
    padding: 0;
  }

  .cell {

    padding-bottom: $s-spacing;

    +breakpoint($breakpoint-m) {
      padding: 18px 15px 18px 18px;
    }
  }

  .price-cell-background {
    position: absolute;
    width: 20.83%;
    height: 100%;

    background-color: $blue-light;
  }

  .price-cell {
    position: relative;
  }

  .delivery-cell {

  }

  .seller-cell {

  }

  .ATC-cell {
    +breakpoint($breakpoint-m) {
      margin-top: 8px;
      padding-left: 0;
      padding-right: 3px;
    }
  }

  .ATC-cell {

    .prod-ProductPrimaryCTA:first-of-type {

      +breakpoint($breakpoint-m) {
        width: 105px !important;
      }

      +breakpoint($breakpoint-l) {
        width: 110px !important;
      }

    }

    .prod-ProductPrimaryCTA:nth-of-type(2) {
      +breakpoint($breakpoint-m) {
        width: 105px !important;

        .prod-ProductCTAAddToCart {
          .prod-ProductCTA--primary {
            padding: 0 10px;
          }
        }
      }

      +breakpoint($breakpoint-l) {
        width: initial !important;

        .prod-ProductCTAAddToCart {
          width: 160px;
        }
      }

      +breakpoint($breakpoint-xl) {
        .prod-ProductCTAAddToCart {
          width: 250px;
        }
      }

    }
  }

  .prod-ProductCard--details {
    display: none;
  }

  .prod-ProductCard--CTA {
    background: none;
    border: none;

    &:after {
      display: none;
    }

    +breakpoint($breakpoint-s-max, "max") {
      padding: 10px 0 0 0;
    }
  }
}
