.swatch-selector {
  text-align: center;
  min-height: 39px;
  .flyout-modal {
    position: absolute;
    padding: 0px 5px 5px;
    text-align: left;
  }
  .flyout-modal-narrow {
    width: 146px;
    margin-left: -125px;
  }
  .flyout-modal:before {
    right: 11px;
    left: auto;
  }
  .flyout-modal:after {
    left: auto;
    right: 8px;
  }
  .tile-swatch, .flyout-trigger {
    position: relative;
    display: inline-block;
    width: 24px;
    height: 24px;
    background: none;
    border-radius: 4px;
    margin: 10px 5px 5px;
    padding: 0;
    border: 1px solid #c2cfd6;
    color: #c2cfd6;
    outline: none;
    vertical-align: top;
    &:hover {
      box-shadow: 0 0 0 1px #76c143;
      border-color: #76c143;
      color: #76c143;
    }
    img {
      width: 22px;
      height: 22px;
      border-width: 2px;
      background-size: 22px;
      overflow: hidden;
      background: none;
      border: 3px solid #fff;
    }
    &.active, &:active {
      box-shadow: 0 0 0 2px #76c143;
      border-color: #76c143;
      color: #76c143;
    }
  }
}

