/*
* Some styles are inherited from react/navigation. The common component,
* however, does not define mobile styling. The styles below set the mobile
* styling per UX requirements, and then reset the styling for the desktop
* breakpoints.
*/
.CategoryBreadCrumbs {  // @stylint ignore
  padding: $xs-spacing;

  +breakpoint($breakpoint-s) {
    padding: $xs-spacing 16px;
  }

  +breakpoint($breakpoint-m) {
    padding: 10px 16px;
  }

  +breakpoint($breakpoint-l) {
    padding: $xs-spacing $m-spacing;
  }

  +breakpoint($breakpoint-xl) {
    padding: $xs-spacing $l-spacing;
  }

  .breadcrumb {
    // Hide all breadcrumbs but the leaf node
    display: none;

    &.active {
      display: inline-block;
      padding: 0;

      .breadcrumb-leaf {
        color: $grey-dark;
        font-size: 21px;
        font-weight: 600;
      }

      &:before {
        display: none;
      }
    }

    +breakpoint($breakpoint-m) {
      display: inline-block;

      &.active {
        padding-left: 25px;

        .breadcrumb-leaf {
          color: $grey-medium;
          font-size: 14px;
          font-weight: 400;
        }

        &:before {
          to-rem(font-size, 8px);

          display: inherit;
        }

        // When leaf node is the only breadcrumb, hide the separator arrow
        &:first-child {
          padding-left: 0;

          &:before {
            display: none;
          }
        }
      }
    }
  }
}
