.SingleItem {  // @stylint ignore
  padding-bottom: $m-spacing;

  .ModuleTitle {
    padding: 0 $xs-spacing;

    +breakpoint($breakpoint-s) {
      padding: 0 16px;
    }

    +breakpoint($breakpoint-l) {
      padding: 0 $m-spacing;
    }

    +breakpoint($breakpoint-xl) {
      padding: 0 $l-spacing;
    }
  }

  .product-carousel {
    padding: 0 $xxs-spacing;

    +breakpoint($breakpoint-s) {
      padding: 0 $xs-spacing;
    }

    +breakpoint($breakpoint-l) {
      padding: 0 15px;
    }

    +breakpoint($breakpoint-xl) {
      padding: 0 26px;
    }
  }

  .paginator-hairline-btn-next,
  .paginator-hairline-btn-prev {
    position: absolute;
    top: -70px;
  }

  .paginator-hairline-btn-next {
    left: -40px;
  }
}
