/* Tile height values: based on product-tile heights */
$tile-height-small = 250px;
$tile-height-large = 266px;

.Tile.Tile-themed { // @stylint ignore
  background-position: top center;
  background-repeat: no-repeat;
  background-color: transparent;

  height: $tile-height-small;

  +breakpoint($breakpoint-m) {
    height: $tile-height-large;
  }

  & .button-wrapper {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 48px;

    +breakpoint($breakpoint-m) {
      bottom: 60px;
    }
  }
}
