// we need temporarily to include `hydra` as `lithe-extras` is in progress and it brakes styles
@require "~@walmart/wmreact-react-demo-shared/hydra";

@require "~@walmart/lithe-extras/lib/tenants/sams/base";

@require "~@walmart/wmreact-interactive/src/styles/interactive";
@require "~@walmart/wmreact-containers/src/styles/containers";
@require "~@walmart/wmreact-member-login/src/styles/member-login";

.SignIn, .ForgotPassword, .forgot-password-reset {
  padding: 20px;
}

.alert {
  margin: 20px;

  word-break: break-word;
}
