.desktop-util-bar {
  position: relative;

  width: 100%;
  height: 65px;
  margin: 10px 0;
  padding: 0 20px;
  border-bottom: 2px solid #e9e9e9;

  .desktop-bar-left,
  .desktop-bar-right {
    width: auto;
    height: 30px;
    margin-top: 15px;

    & > div {
      float: left;
    }
  }

  .desktop-bar-left {
    float: left;

    & > div button {
      outline: none;
    }
  }

  .desktop-bar-right {
    float: right;
  }

  .desktop-bar-heading {
    margin: 0 6px 0 0;

    font-size: 14px;
    line-height: 30px;

    color: $black;
  }

  .flyout-bottom {
    margin-right: 5px;
  }
}
