const Example = React.createClass({
  getInitialState: function() {
    return { activeSlide: 0, lastIndex: 0 }
  },
  handleHover: function(entering, slideIndex) {
    const oldActiveSlide = this.state.activeSlide;
    if (entering) {
      this.setState({
        activeSlide: slideIndex,
        oldActiveSlide
      });
    } else {
      this.setState({
        activeSlide: this.state.oldActiveSlide
      });
    }

  },
  handleClick: function(slideIndex) {
    this.setState({
      activeSlide: slideIndex,
      oldActiveSlide: slideIndex
    });
  },
  onSlideChange: function(slideIndex) {
    this.setState({
      lastIndex: slideIndex
    });
    return true;
  },
  _handleHeroImageClick: function(activeIndex) {
    console.log(activeIndex);
  },
  render: function() {
    return (
      <ProductImage
        handleHeroImageClick={this._handleHeroImageClick}
        images={[
          {
            thumb: "http://lorempixel.com/400/400/cats/1",
            main: "http://lorempixel.com/400/400/cats/1",
            alt: "Test Image"
          },
          {
            thumb: "http://lorempixel.com/400/400/cats/2",
            main: "http://lorempixel.com/400/400/cats/2",
            alt: "Test Image"
          },
          {
            thumb: "http://lorempixel.com/400/400/cats/3",
            main: "http://lorempixel.com/400/400/cats/3",
            alt: "Test Image"
          },
          {
            thumb: "http://lorempixel.com/400/400/cats/4",
            main: "http://lorempixel.com/400/400/cats/4",
            alt: "Test Image"
          },
          {
            thumb: "http://lorempixel.com/400/400/cats/5",
            main: "http://lorempixel.com/400/400/cats/5",
            alt: "Test Image"
          },
          {
            thumb: "http://lorempixel.com/400/400/cats/6",
            main: "http://lorempixel.com/400/400/cats/6",
            alt: "Test Image"
          }
        ]}
      lastIndex={this.state.lastIndex}
      activeIndex={this.state.activeSlide}
      handleHover={this.handleHover}
      handleClick={this.handleClick}
      onSlideChange={this.onSlideChange}
      hasVideo={true}
      videoThumb="http://unsplash.it/60/60"
    />);
  }
});

React.render(<Example/>, mountNode);
