.category-page {
  &.sponsored-container-left {
    margin-bottom: 5px;
  }

  &.sponsored-container-bottom {
    margin: 15px auto;

    &.sponsored-products {
      margin-bottom: 25px;
    }
  }

  &.sponsored-container-middle {
    &.sponsored-display-ad {
      margin: 1px auto 50px auto;
    }

    &.sponsored-products {
      width: 100%;
      padding: 10px;
      margin-bottom: 25px;
    }
  }
}
