.item-page {
  &.sponsored-products {
    width: 100%;

    .sponsored-products-header {
      font-weight: 700;
    }
  }

  &.sponsored-container-bottom {
    position: relative;

    iframe {
      text-align: center;
    }

    &.sponsored-display-ad {
      margin-bottom: 15px;
    }
  }

  &.sponsored-container-right.sponsored-display-ad {
    margin: 20px auto 0;
    width: 300px;
  }
}
