.search-page, .browse-page, .topic-page {
  &.sponsored-container-middle {
    width: 100%;
    margin: 0;
  }

  &.sponsored-container-left {
    margin-bottom: 5px;
  }

  &.sponsored-container-bottom.sponsored-display-ad,
  &.sponsored-container-left.sponsored-display-ad {
    margin-bottom: 5px;
  }

  &.sponsored-products {
    padding: 0 16px;
  }

  .module-sponsored-products {
    background: none;
  }

  .sponsored-products-header {
    padding-left: 0;
  }

  .sponsored-products {
    padding: 0 16px;
  }

  .items {
    margin-left: -10px;
  }
}
