<ProductVariantDropdown
  onVariantClick={(ev)=>{console.log(ev)}}
  title="Color"
  variantOptions={[{
    id: "color_blue",
    name: "Blue",
    status: "in stock"
  }, {
    id: "color_red",
    name: "Red",
    status: "out of stock"
  }, {
    id: "color_green",
    name: "Green",
    status: "not available"
}]}/>
