.footer-GlobalFooterItems-heading {
  margin-top: 18px;
  font-size: 14px;
}

.footer-GlobalFooterItems--blockList {
  margin-top: 15px;
  list-style: none;
  padding-left: 0;

  > li {
    font-size: 14px;
    margin: 15px 0 0;
    line-height: 1;
  }
}

.footer-GlobalFooterItems--list > a {
  margin: 0 10px;
  font-size: 14px;
  line-height: 35px;
}

.footer-GlobalFooterItems-subItems {
  margin-left: 18px;
}

.footer-GlobalFooterItems-expander--expand,
.footer-GlobalFooterItems-expander--collapse {
  border: none;

  background: none;
  color: $blue;
  line-height: 1;

  &:hover,
  &:focus {
    color: $blue-secondary;
  }
}

.footer-GlobalFooterItems-expander--collapse {
  margin-right: 2px;

  &:before {
    content: "[+]";
  }
}

.footer-GlobalFooterItems-expander--expand {
  margin-right: 3px;

  &:before {
    content: "[–]";
  }
}
