<Options
  choices={[{
    label: "one",
    idName: "one-checkbox",
    checked: true
  }, {
    label: "two",
    idName: "",
    checked: false
  }, {
    label: "three",
    checked: false
  }, {
    label: "four",
    checked: false
  }]}
  onChange={(checkedOptions, index) => {
    let checked = checkedOptions
      .filter((choice) => choice.checked)
      .map((choice) => choice.label);

    console.log(checked); // Check your console
    console.log('index changed:', index);
  }} />
