@require "../helper-components/module-header";
@require "../helper-components/tempo-category-tile";

.FeaturedCategoriesCurated {
  background-repeat: no-repeat;
  background-position: top left;

  .FeaturedCategoriesCurated-button {
    padding-bottom: $xs-spacing;

    line-height: 42px;

    +breakpoint($breakpoint-s) {
      padding-bottom: $s-spacing;
    }

    .hide-button-s-l {
      display: inline-block;

      +breakpoint($breakpoint-s) {
        display: none;
      }

      +breakpoint($breakpoint-m) {
        display: inline-block;
      }

      +breakpoint($breakpoint-l) {
        display: none;
      }
    }
  }

  .TempoCategoryTile {
    padding-left: $xxs-spacing;
    padding-right: @padding-left;
    margin: 0 0 $xs-spacing 0;

    +breakpoint($breakpoint-l) {
      padding-left: 6px;
      padding-right: @padding-left;
      margin: 0 0 $s-spacing 0;
    }
  }

  .TempoCategoryTile-tile-img {
    width: 80px;
    height: @width;

    +breakpoint($breakpoint-s) {
      width: 90px;
      height: @width;
    }

    +breakpoint($breakpoint-m) {
      width: 128px;
      height: @width;
    }

    +breakpoint($breakpoint-l) {
      width: 144px;
      height: @width;
    }
  }

  .ModuleHeader {
    padding-left: $xs-spacing;
    padding-right: $xs-spacing;

    +breakpoint($breakpoint-s) {
      padding-left: $s-spacing;
      padding-right: $s-spacing;
    }

    +breakpoint($breakpoint-l) {
      padding-left: $m-spacing;
      padding-right: $m-spacing;
    }

    +breakpoint($breakpoint-xl) {
      padding-left: $l-spacing;
      padding-right: $l-spacing;
    }
  }

  .FeaturedCategoriesCurated-gutters {
    padding: 0 $xxs-spacing;

    +breakpoint($breakpoint-s) {
      padding: 0 $xs-spacing;
    }

    +breakpoint($breakpoint-l) {
      padding: 0 14px;
    }

    +breakpoint($breakpoint-xl) {
      padding: 0 26px;
    }
  }

  .FeaturedCategoriesCurated-expander {
    position: relative;
    max-height: 386px;

    overflow: hidden;
    white-space: normal;

    +breakpoint($breakpoint-s) {
      max-height: 416px;
    }

    +breakpoint($breakpoint-m) {
      max-height: 364px;
    }

    +breakpoint($breakpoint-l) {
      max-height: 404px;
    }

    &.is-open {
      max-height: none;

      overflow: visible;
    }
  }

  .btn-inverse {
    to-rem(font-size, 18px);
    padding: 0 90px;
  }

  .caret {
    &:after {
      content: "";
      position: relative;
      top: 1px;
      display: inline-block;

      width: 0;
      height: 0;
      margin: 0 0 0 5px;

      border: 4px solid transparent;
      border-top-color: $blue;
      vertical-align: middle;
    }

    &.active {
      &:after {
        margin-bottom: 6px;

        transform: rotate(-180deg);
      }
    }
  }
}
