@require "../helper-components/tempo-category-tile";
@require "../helper-components/tempo-tile-carousel";
@require "../helper-components/tempo-tile-vertical-carousel";

$vertical-carousel-decorator-height = 48px;

.VerticalCategoryCarouselCurated {
  height: 1338px;

  &.TempoTileCarousel--vertical {
    .slider-decorator-0,
    .slider-decorator-1 {
      .paginator-hairline-btn {
        background-color: $grey-very-light;
      }
    }

    .slider-decorator-0 {
      top: -48px !important;
    }
  }

  .TempoCategoryTile-tile {
    background: transparent;
    padding: 0 xs-spacing;
  }

  .TempoCategoryTile-tile-content {
    margin-top: $xxs-spacing;

    line-height: 18px;
  }

  .TempoCategoryTile-tile-linkText {
    to-rem(font-size, 16px);
    color: $black;
  }

  .TempoCategoryTile-tile-img {
    width: 120px;
    height: @width;
    border-radius: 50%;
  }
}
