@require "../helper-components/tempo-category-tile";

.CategoryCarouselCurated {
  .TempoCategoryTile {
    width: 100%;
  }

  .TempoCategoryTile-tile {
    padding: $xs-spacing;

    +breakpoint($breakpoint-m) {
      padding-left: $s-spacing;
      padding-right: @padding-left;
    }
  }

  .TempoCategoryTile-tile-content {
    margin-top: $xxs-spacing;
    height: auto;

    line-height: 18px;
  }

  .TempoCategoryTile-tile-img {
    width: 120px;
    height: @width;

    +breakpoint($breakpoint-m) {
      width: 144px;
      height: @width;
    }
  }
}
