@require "../helper-components/module-header";

.HomepageSavingCenter {
  to-rem(font-size, 14px);

  background-color: $blue-light;
  overflow: hidden;

  border-bottom: 8px solid $grey-light;

  +breakpoint($breakpoint-m) {
    padding-bottom: $m-spacing;

    .ModuleHeader {
      border-bottom: 1px solid $grey-light;
    }

    border-bottom: 0;
  }

  .HomepageSavingCenter-link {
    border-bottom: 1px solid $grey-light;
    padding: $s-spacing 0;

    +breakpoint($breakpoint-m) {
      border: none;
      margin-top: $m-spacing;
      padding: 0;
    }

    &:last-child {
      border: none;
    }

    .HomepageSavingCenter-image {
      height: 24px;
      margin-right: $xs-spacing;
      width: @height;

      vertical-align: top;
    }
  }
}
