@require "../helper-components/module-header";

$ministory-width-scale-s = 424px;
$ministory-width-scale-m = 636px;

.MiniStoryStackable {
  margin-top: $xs-spacing;

  +breakpoint($breakpoint-l) {
    margin-top: $s-spacing;
  }

  +breakpoint($breakpoint-xl) {
    margin-top: $m-spacing;
  }
}

.MiniStoryStackable-imageWrapper {
  overflow: hidden;
  width: 100%;
}

.MiniStoryStackable-grid > .Grid-col {
  margin-bottom: $xs-spacing;

  +breakpoint($breakpoint-l) {
    margin-bottom: $s-spacing;
  }

  +breakpoint($breakpoint-xl) {
    margin-bottom: $m-spacing;
  }
}

.u-size-1-2 {
  .MiniStoryStackable-image {
    width: 201px;

    +breakpoint($ministory-width-scale-s) {
      width: 100%;
      height: @width;
    }

    +breakpoint($breakpoint-s) {
      width: 298px;
      height: 172px;
    }

    +breakpoint($ministory-width-scale-m) {
      width: 100%;
      height: @width;
    }

    +breakpoint($breakpoint-m) {
      width: 326px;
      height: 188px;
    }

    +breakpoint($breakpoint-l) {
      width: 433px;
      height: 250px;
    }
  }
}

.MiniStoryStackable-image {
  max-width: none;
  width: 407px;
  height: 116px;

  // to scale the image from 424px to 465px
  +breakpoint($ministory-width-scale-s) {
    width: 100%;
    height: @width;
  }

  +breakpoint($breakpoint-s) {
    width: 604px;
    height: 172px;
  }

  // to scale the image from 636px to 767px
  +breakpoint($ministory-width-scale-m) {
    width: 100%;
    height: @width;
  }

  +breakpoint($breakpoint-m) {
    width: 660px;
    height: 188px;
  }

  +breakpoint($breakpoint-l) {
    width: 878px;
    height: 250px;
  }
}
