@require "../helper-components/tempo-item-tile";
@require "../helper-components/tempo-tile-carousel";
@require "../helper-components/tempo-tile-vertical-carousel";

.VerticalItemCarouselCurated {
  height: 100%;

  border: solid 1px $grey-very-light;

  &.TempoTileCarousel--vertical {
    .slider-decorator-0,
    .slider-decorator-1 {
      .paginator-hairline-btn {
        border-left: solid 1px $grey-very-light;
        border-right: @border-left;

        background-color: $white;
      }
    }
  }

  .TempoItemTile {
    width: 172px;
    margin: 4px auto;

    background: transparent;
  }

  .Tile-img {
    width: 120px;
    height: @width;
  }
}
