<div>
  <div>
    <FormattedDate value={new Date(2015,4,11,10,10,20)} />
  </div>
  <div>
    <FormattedDate value={new Date(2015,5,11,10,10,20)} currentDate={new Date(2015,5,11,10,10,50)} />
  </div>
  <div>
    <FormattedDate value={new Date(2015,5,11,10,10,20)} currentDate={new Date(2015,5,11,10,13,50)} />
  </div>
  <div>
    <FormattedDate value={new Date(2015,5,11,8,10,20)} currentDate={new Date(2015,5,11,10,13,50)} />
  </div>
  <div>
    <FormattedDate value={new Date(2015,5,11)} currentDate={new Date(2015,5,12)} />
  </div>
  <div>
    <FormattedDate value={new Date(2015,4,11)} currentDate={new Date(2015,5,12)} />
  </div>
  <div>
    <FormattedDate value={new Date(2015,1,11)} currentDate={new Date(2015,5,12)} />
  </div>
  <div>
    <FormattedDate value={new Date(2012,1,11)} currentDate={new Date(2015,5,12)} />
  </div>
</div>
