@require "~@walmart/lithe-extras/lib/mixins";
@require "~@walmart/lithe-extras/lib/utilities";
@require "~@walmart/wmreact-layout/src/styles/layout";
@require "~@walmart/wmreact-base/src/styles/base";

.zeus-accordion {
  padding: 0 !important; // @stylint ignore
  margin: 0;

  list-style-type: none;
}

.zeus-accordion-header {
  position: relative;
  display: block;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;

  border-bottom: 1px solid $grey-light;
  border-top: 1px solid $grey-light;
  cursor: default;
}

.zeus-pickup-header-expanded {
  border-top: 0;
}

.zeus-accordion-header .zeus-block {
  display: table;
}

.zeus-accordion-header .zeus-block span {
  padding-left: 120px;
}

.zeus-accordion-header-title {
  vertical-align: top;
  display: inline;
  line-height: 35px;
}

.zeus-accordion-header-icon-text {
  vertical-align: middle;
  float: left;
}

.zeus-accordion-number {
  display: inline-block;
  width: 36px;
  height: 36px;
  margin-right: 10px;
  border-radius: 50%;

  color: $white;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  vertical-align: top;
}

.zeus-accordion-number-active {
  background: $orange;
}

.zeus-accordion-number-inactive {
  background: $grey-light;
}

.zeus-accordion-check {
  background: $green;
}

.zeus-accordion-check :before {
  position: relative;
  top: -1px;
  font-size: 18px;
}

.zeus-header-title {
  vertical-align: top;
  display: inline;
  line-height: 35px;
  font-weight: 400;
}

.zeus-accordion-summary {
  // bring inline with accordion item title
  margin-left: 45px;

  .zeus-accordion-summary-item {
    line-height: normal;
    margin: 0;

    span {
      // override a zeus block span rule.
      padding-left: 0;
    }
  }

  &.in-review {
    color: $black;
  }

  &.inactive {
    color: $grey-light;
  }
}

.zeus-header-title-completed {
  font-weight: 600;
}

.zeus-accordion-inactive {
  color: $grey-light;
}

.zeus-edit-accordion {
  position: absolute;
  top: 10px;
  right: 40px;
}

.zeus-content {
  display: none;
  padding: 0 40px 20px;
}

.zeus-accordion li:last-child .zeus-content {
  border-bottom: 1px solid $grey-light;
}

.zeus-expanded {
  display: block;
}
