<GiftCards
    loading
    addFormProps={{
      saveBtnPrimary: false,
      showNickName: true,
      showActionsLeft: true,
      saveGiftCardActionLabel: "Text"
    }}
    onAdd={ev=>console.log(ev)}
    onHistory={ev=>console.log(ev)}
    onDelete={ev=>console.log(ev)}
/>
