<GiftCards
    cardProps={
        {
            lastFourLabel: (<span>Enging In </span>),
            deleteMsg: "Are you sure you want to delete this Gift card from your account?"
        }
    }
  cards={[{
    label:"John Snow",
    lastFour:"1111",
    balance:1,
    currency:"USD",
    id:"1",
    history: [
        {
        date: 1445939700292,
        amount: -1,
        currency: "USD",
        balance: 989,
        type: "redemption",
        info: "2736"
        },
        {
        date: 1445904360292,
        amount: 990,
        currency: "USD",
        balance: 990,
        type: "refund",
        info: "9115"
        },
        {
        date: 1443583800292,
        amount: 500,
        currency: "USD",
        balance: 500,
        type: "create",
        info: "9115"
        }
    ]
  },
  {
    label:"Arya Stark",
    lastFour:"2222",
    balance:500,
    currency:"USD",
    id:"2",
    history: [
          {
          date: 1446490320509,
          amount: 5,
          currency: "USD",
          balance: 5,
          type: "refund",
          info: "9115"
          },
          {
          date: 1446160440509,
          amount: -1,
          currency: "USD",
          balance: 996,
          type: "redemption",
          info: "2736"
          },
          {
          date: 1446149160509,
          amount: -1,
          currency: "USD",
          balance: 997,
          type: "redemption",
          info: "2736"
          },
          {
          date: 1446145860509,
          amount: -1,
          currency: "USD",
          balance: 998,
          type: "redemption",
          info: "2736"
          },
          {
          date: 1446145740509,
          amount: -1,
          currency: "USD",
          balance: 999,
          type: "redemption",
          info: "2736"
          },
          {
          date: 1446163500509,
          amount: 1000,
          currency: "USD",
          balance: 1000,
          type: "create",
          info: "9115"
          },
          {
          date: 1445266860509,
          amount: 5,
          currency: "USD",
          balance: 5,
          type: "create",
          info: "9115"
          },
          {
          date: 1444758840509,
          amount: 5,
          currency: "USD",
          balance: 5,
          type: "create",
          info: "9115"
          },
          {
          date: 1443948480509,
          amount: 500,
          currency: "USD",
          balance: 500,
          type: "create",
          info: "9115"
          }
      ]
  }]}
  onAdd={ev=>console.log(ev)}
  onHistory={ev=>console.log(ev)}
  onDelete={ev=>console.log(ev)}
  />
