 <div>
  <h4>Variants as buttons</h4>
  <Variants>
    <Variants.Item index={0}>S</Variants.Item>
    <Variants.Item index={1} selected={true}>M</Variants.Item>
    <Variants.Item index={2}>L</Variants.Item>
    <Variants.Item index={3} disabled={true}>XL</Variants.Item>
    <Variants.Item index={4} unavailable={true}>XXL</Variants.Item>
  </Variants>
 <h4>Small variants</h4>
  <Variants small={true} swatches={true}>
    <Variants.Item index={0} type='checkbox' disabled={true} swatch='#fead41'>
      Yellow
    </Variants.Item>
    <Variants.Item index={1} type='checkbox' selected={true} swatch='#d40b23'>
      Red
    </Variants.Item>
    <Variants.Item index={2} type='checkbox' unavailable={true} swatch='#47d9bf'>
      Teal
    </Variants.Item>
    <Variants.Expander />
  </Variants>
 <h4>Large variants</h4>
  <Variants swatches={true}>
    <Variants.Item index={0} type='radio' selected={true} swatch='#fead41'>
      Yellow
    </Variants.Item>
    <Variants.Item index={1} type='radio' disabled={true} swatch='#d40b23'>
      Red
    </Variants.Item>
    <Variants.Item index={2} type='radio' unavailable={true} swatch='#47d9bf'>
      Teal
    </Variants.Item>
    <Variants.Item index={2} type='radio' isImageSwatch={true}
    	swatch='http://placekitten.com/g/1024/1024'>
          Kitten
     </Variants.Item>
    <Variants.Expander active={true} less={true} />
  </Variants>
</div>
