.infograph {
  margin: 0 auto;
  padding: 20px 30px 24px 10px;
}

.infograph-bar {
  height: 6px;
  width: 100%;
  background: $grey-cool;
}

.infograph-bar-progress {
  height: 6px;
  width: 0;
  background: $green;
  display: block;
}


.infograph-footprint {
  position: absolute;
}

.infograph-point {
  position: absolute;

  width: 15px;
  height: @width;
  margin: 10px auto;
  border-radius: 50%;

  background-color: $green;
  color: $white;
  text-align: center;

  css3pie();
}

.infograph-label {
  position: relative;
  left: -39px;
  top: 40px;

  display: block;
  width: 90px;

  color: $grey-medium;
  font-size: 14px;
  text-align: center;
  line-height: 1.2;
}

.infograph-ok {
  visibility: hidden;
}

.infograph-footprint.active {
  .infograph-point {
    width: 27px;
    height: @width;
    margin: 4px -10px;

    border: 3px solid $blue-light;
    background-color: $green;
  }

  .infograph-label {
    color: $black;
    font-weight: 600;
  }

  .infograph-ok {
    position: relative;
    top: -3px;

    visibility: visible;
    color: $white;
    font-size: 13px;
  }

}

.infograph-three-footprints {
  position: relative;

  margin: -21px -1px 0;
  padding: 0;

  .footprints-item-first {
    left: 0;
  }

  .footprints-item-second {
    left: 50%;
  }

  .footprints-item-last {
    left: 100%;
  }

}

.infograph-four-footprints {
  position: relative;

  margin: -21px -1px 0;
  padding: 0;

  .footprints-item-first {
    left: 0;
  }

  .footprints-item-second {
    left: 33%;
  }

  .footprints-item-third {
    left: 66%;
  }

  .footprints-item-last {
    left: 100%;
  }

}

.infograph-five-footprints {
  position: relative;

  margin: -21px -1px 0;
  padding: 0;

  .footprints-item-first {
    left: 0;
  }

  .footprints-item-second {
    left: 25%;
  }

  .footprints-item-third {
    left: 50%;
  }

  .footprints-item-fourth {
    left: 75%;
  }

  .footprints-item-last {
    left: 100%;
  }

}

.infograph-six-footprints {
  position: relative;

  margin: -21px -1px 0;
  padding: 0;

  .footprints-item-first {
    left: 0;
  }

  .footprints-item-second {
    left: 20%;
  }

  .footprints-item-third {
    left: 40%;
  }

  .footprints-item-fourth {
    left: 60%;
  }

  .footprints-item-fifth {
    left: 80%;
  }

  .footprints-item-last {
    left: 100%;
  }

}

.infograph-footprint.active ~ .infograph-footprint .infograph-point {
  width: 12px;
  height: @width;
  margin: 12px auto;
  border: 0;
  box-shadow: 0 0 0 3px $grey-cool;
  background-color: $white;
}
