<POVFrame
  image={{
    "alt": "Tech from the heart",
    "assetId": "a6b6d9c0-066a-11e6-af78-45654a8b717f",
    "assetName": "Tech from the heart",
    "clickThrough": {
      "type":"map",
      "value": [
        {
          coords: "710, 56, 1152, 288",
          title: "Electronics",
          url: "http://www.walmart.com/cp/3944",
          shape: "rect"
        }
      ]
    },
    "height": "300",
    "src":"https://i5.walmartimages.com/dfw/4ff9c6c9-b8ce/k2-_a9748789-f4c0-423a-90f3-4b1b3acf8c22.v1.jpg",
    "title":"Tech from the heart",
    "width":"1364",
    "contentType":"image/png",
    "uid":"j_OgAPch"
  }}
/>
