<Typeahead manualMode={true} onChange={(() => {
  var list = ["audi", "bmw", "infiniti", "lexus", "mercedez"];

  var fakeAjax = function (req, opts) {
    if (req) {
      setTimeout(() => {
        opts.success(list.filter((brand) => {
          return brand.toLowerCase().indexOf(req) === 0;
        }));
      }, 1000);
    }
  };

  return function (val, asyncCallback) {
    fakeAjax(val, {
      success: asyncCallback
    });
  };
})()} />
