// @stylint off
// Safe zone for button
$pov-safe-zone-offset = {
  vertical: {
    m: 38px,
    l: 40px
  },
  horizontal: {
    m: 332px,
    l: 352px
  }
};

$pov-button() {
  .pov-theme-button {
    position: absolute;
    left: 50%;
    bottom: $pov-safe-zone-offset.vertical.m;

    white-space: nowrap;

    +breakpoint($breakpoint-l) {
      bottom: $pov-safe-zone-offset.vertical.l;
    }

    &.pov-theme-button-center {
      transform: translateX(-50%);
    }

    &.pov-theme-button-left {
      margin-left: -1 * $pov-safe-zone-offset.horizontal.m;

      +breakpoint($breakpoint-l) {
        margin-left: -1 * $pov-safe-zone-offset.horizontal.l;
      }
    }

    &.pov-theme-button-right {
      margin-left: $pov-safe-zone-offset.horizontal.m;
      transform: translateX(-100%);

      +breakpoint($breakpoint-l) {
        margin-left: $pov-safe-zone-offset.horizontal.l;
      }
    }
  }
}
// @stylint on
