$prod-PaddingThreshold-xxs ?= $xxs-spacing;
$prod-PaddingThreshold-xs ?= $xs-spacing;
$prod-PaddingThreshold-s ?= $s-spacing;
$prod-PaddingThreshold-m ?= $m-spacing;
$prod-PaddingThreshold-l ?= $l-spacing;
$prod-PaddingThreshold-xl ?= $xl-spacing;
$prod-PaddingThreshold-xxl ?= $xxl-spacing;

$prod-Padding-mixin(bpSize, bpSpacing) {
  .prod-Padding--{bpSize} {
    padding: bpSpacing !important;
  }

  .prod-PaddingEnds--{bpSize} {
    padding-top: bpSpacing !important;
    padding-bottom: bpSpacing !important;
  }

  .prod-PaddingTop--{bpSize} {
    padding-top: bpSpacing !important;
  }

  .prod-PaddingRight--{bpSize} {
    padding-right: bpSpacing !important;
  }

  .prod-PaddingBottom--{bpSize} {
    padding-bottom: bpSpacing !important;
  }

  .prod-PaddingLeft--{bpSize} {
    padding-left: bpSpacing !important;
  }
}

// generate a Ends class like
// .prod-PaddingEnds--xxs
// .prod-Padding[Top/Right/Bottom/Left]--xxs
$prod-Padding-mixin('xxs', $prod-PaddingThreshold-xxs);
$prod-Padding-mixin('xs', $prod-PaddingThreshold-xs);
$prod-Padding-mixin('s', $prod-PaddingThreshold-s);
$prod-Padding-mixin('m', $prod-PaddingThreshold-m);
$prod-Padding-mixin('l',  $prod-PaddingThreshold-l);
$prod-Padding-mixin('xl',  $prod-PaddingThreshold-xl);
$prod-Padding-mixin('xxl',  $prod-PaddingThreshold-xxl);
