/*TODO: This needs cleanup*/
.prod-ProductVariantSwatch {
  &.variant-unavailable:after {
    background-image: repeating-linear-gradient(-45deg, transparent, #ababab 1px, transparent 2px, transparent 4px) !important;
  }
}
