<div>
  <div>
    <Flyout triggerText="Fly out default!" direction="top">
      <h1>It flew out!</h1>
    </Flyout>
  </div>
  <br/>
  <div>
    <Flyout trigger={<button className="btn">Flyout with a custom trigger click handler</button>}
    onTriggerElementClick={() => {console.log("You clicked the trigger element")}}
    direction="right" active>
      <h1>It flew out!</h1>
    </Flyout>
  </div>
  <br/>
  <div>
    <Flyout trigger={<a href="http://www.walmart.com">test link</a>}
    direction="right" disableTouchLinksOnly={true}>
      <h1>It flew out!</h1>
    </Flyout>
  </div>
  <br/>
  <div>
    <Flyout triggerText="Fly out center w/ close button"
      direction="center" align="center" closeButton>
      <h1>It flew out!</h1>
    </Flyout>
  </div>
  <br/>
  <div>
    <Flyout triggerText="Initially open flyout" active>
      <h1>Go!</h1>
    </Flyout>
  </div>
  <br/>
  <div>
    <Flyout triggerText="Fly out hover!" direction="bottom" hover={true}>
      <h1>It flew out!</h1>
    </Flyout>
  </div>
</div>
