<ResponsiveFlyoutSlidePanel
  flyoutDirection="right"
  flyoutSize="wide"
  trigger={(<span className="HelpFlyout-trigger">
          <i className="wmicon wmicon-help hide-content-max-m"></i>
          <span className="hide-content-m">Help trigger mobile</span>
        </span>)}
>
  <div>Flyout content goes here</div>
</ResponsiveFlyoutSlidePanel>
