<div>
  <ResponsiveModalSlidePanel
  showContainer={false}
  onContainerClose={() => {}}
  ref="responsiveModalSlidePanel">
    <h1>Contents Here</h1>
  </ResponsiveModalSlidePanel>
  <a href="javascript:void(0)" onClick={() => this.refs.responsiveModalSlidePanel.show()}>
    Show Container
  </a>
</div>
