<div>
  <div>
    <Button>Base Button</Button>
  </div>
  <br />
  <div>
    <Button mini>Mini Button</Button>
  </div>
  <br />
  <div>
    <Button disabled>Disabled Button</Button>
  </div>
  <br />
  <div>
    <Button block>Block Button</Button>
  </div>
  <br />
  <div>
    <Button primary>Primary Button</Button>
  </div>
  <br />
  <div>
    <Button inverse>Inverse Button</Button>
  </div>
  <br />
  <div>
    <Button flat>Flat Button</Button>
  </div>
  <br />
  <div>
    <Button flat disabled>Disabled Flat Button</Button>
  </div>
  <br />
  <div>
    <Button style={{
      backgroundColor: "#8b67a5",
      color: "#fff"
      }}
      >Custom Styled Button</Button>
  </div>
</div>
