<Tabber.VerticalTabs>
  <div title="Warranty plan">
    A limited product warranty is included free for most items. With an optional Walmart Care Plan you can enhance the manufacturer's coverage from the date of purchase. Walmart Product Care Plans cover 100% of the cost for repair or replacement, including shipping charges for the exchange.
  </div>
  <div title="Gifting plans">
    Gift options are not available for this item.
  </div>
   <div title="Pricing policy">
    We’re committed to providing low prices every day, on everything. So if you find a current lower price from an online retailer on an identical, in-stock product, tell us and we’ll match it. 
    </div>
   <div title="Returns">
   Not happy with a purchase, most purchases can be returned for free
   </div>
   </Tabber.VerticalTabs>