@require "~@walmart/lithe-extras/lib/tenants/walmart/base";
@require "../src/styles/tenants/walmart/";

// Added Demo specific alignment styles
.component-section {
  max-width: 800px;
  margin: auto;

  h3 {
    line-height: 2;
  }
}
