@require "~@walmart/wmreact-interactive/src/styles/interactive";
@require "~@walmart/wmreact-containers/src/styles/containers";
@require "~@walmart/wmreact-user/src/styles/user";

.SignIn, .SignUp, .ForgotPassword, .ResetPassword {
  padding: 20px;
}

.alert {
  margin: 20px;

  word-break: break-word;
}
